<div class="list-group">
	<div class="list-group-header">
		{{ _('settings') }}
	</div>
	<div class="list-group-header">
		{{ _('Privilege manage') }}
	</div>
	{% if g.user.is_master %}
	<a href="{{ url_for('main.child_users') }}" class="pjax list-group-item {% if sub_menu == 'child_users'%} active{% endif %}">
		{{ _('Child User') }}
	</a>
	{% endif %}
	<a href="{{ url_for('main.setting_roles') }}" class="pjax list-group-item {% if sub_menu == 'roles'%} active{% endif %}">
		{{ _('Acl List') }}
	</a>
	<a href="{{ url_for('main.passwd') }}" class="pjax list-group-item {% if sub_menu == 'passwd'%} active{% endif %}">
		{{ _('Update Password') }}
	</a>
</div>