{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'settings/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		mixpus.hook_per_page_select();

	});
</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Asset List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-placement="left" data-toggle="image" class="btn btn-warning" data-original-title="{{ _('Upload / Delete Files') }}">
				<i class="glyphicon glyphicon-upload"></i> {{ _('Upload Files') }}
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="assets-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive m-t-20">
		<form id="assets-form" action="{{ url_for('main.delete_asset') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			{% if current_directory %}
			<div class="col-sm-2 col-xs-6 text-center">
				<div class="text-center">
					<a href="{{ url_for('main.show_assets') }}?pid={{ current_directory.parent_id|default(0) }}" class="pjax directory">
						<i class="glyphicon glyphicon-level-up fa-5x"></i>
					</a>
				</div>
				<label>
					{{ _('Go to Parent') }}
				</label>
			</div>
			{% endif %}

			{% for d in paginated_directory.items %}
			<div class="col-sm-2 col-xs-6 text-center">
				<div class="text-center">
					<a href="{{ url_for('main.show_assets') }}?pid={{ d.id }}" class="pjax directory" style="vertical-align: middle;">
						<i class="glyphicon glyphicon-folder-close fa-5x"></i>
					</a>
				</div>
				<label>
					<input name="directories[]" class="check-one" value="{{ d.id }}" type="checkbox">
					{{ d.name|safe }}
					<a href="{{ url_for('main.modify_directory', id=d.id) }}" class="ajax-modal" data-modal="directory-modal"  data-toggle="tooltip" data-original-title="{{ _('Edit Directory') }}">{{ _('Edit') }}</a>
				</label>
			</div>
			{% endfor %}

			{% for a in all_child_assets %}
			<div class="col-sm-2 col-xs-6 text-center">
				<a href="javascript:void(0);" class="thumbnail" data-target="{{ a.id }}">
					<img src="{{ a.view_url }}" alt="{{ a.filename }}" title="{{ a.filename }}">
				</a>
				<label>
					<input name="images[]" class="check-one" value="{{ a.id }}" type="checkbox">
					{{ a.filename|short_filename }} <a href="javascript:void(0);" data-clipboard-text="{{ a.view_url }}" class="zclip" data-toggle="tooltip" data-original-title="{{ _('Copy Link') }}">{{ _('Copy Link') }}</a>
				</label>
			</div>
			{% endfor %}

		</form>
	</div>

	{% import "block/_macros.html" as macros %}
	{{ macros.pagination_widget(paginated_directory, '.show_assets', pid=pid) }}
</div>
{% endblock %}