{% extends pjax("layout/base.html") %}


{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Customer Grade Manage') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_grade') }}" data-toggle="tooltip" class="pjax btn btn-mixpus ajax-modal" data-modal="create-modal" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="grades-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<ul class="nav nav-tabs">
		<li >
			<a href="{{ url_for('main.show_customers') }}" id="customers-tab" aria-controls="customers" aria-expanded="true">
				{{ _('Customers') }}
			</a>
		</li>
		<li class="active">
			<a href="{{ url_for('main.show_grades') }}" id="customer-grade-tab" aria-controls="customer-grade">
				{{ _('Customer Grade') }}
			</a>
		</li>
	</ul>

    <div class="tab-content m-t-30">
        <div class="table-responsive m-t-20">
            <form id="grades-form" action="{{ url_for('main.delete_grade') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <input name="check_all" type="checkbox" class="check-all">
                        </th>
                        <th>{{ _('Grade Name') }}</th>
                        <th>{{ _('Created At') }}</th>
                        <th class="text-right">{{ _('Action') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for grade in paginated_grades.items %}
                    <tr>
                        <td class="text-center">
                            <input name="selected[]" class="check-one" value="{{ grade.id }}" type="checkbox">
                        </td>
                        <td>
                            {{ grade.name }}
                        </td>
                        <td>
                            {{ grade.created_at|timestamp2string() }}
                        </td>
                        <td class="text-right">
                            <a href="{{ url_for('main.edit_grade', id=grade.id) }}" class="btn-link ajax-modal" data-modal="create-modal" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
                                {{ _('Edit') }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>

        {% import "block/_macros.html" as macros %}
        {{ macros.pagination_widget(paginated_grades, '.show_grades') }}
    </div>

</div>
{% endblock %}