{% extends 'layout/auth.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="has-full-screen-bg">
	<div class="upper-wrapper">
		<header class="header">
			<div class="container">
				<h1 class="logo">
					<a href="{{ url_for('main.web_index') }}">
						<span class="logo-icon"></span>
						<span class="text">MIXPUS</span>
					</a>
				</h1>
			</div>
		</header>
		<section class="login-section access-section section">
			<div class="container">
				<div class="row">
					<div class="form-box col-md-offset-3 col-sm-offset-0 xs-offset-0 col-xs-12 col-md-6">
						<div class="form-box-inner">
							<div class="row">
								<h2 class="title text-center">{{ _('Log in to Mixpus') }}</h2>

								<form class="form-signin" action="{{ url_for('auth.login') }}" method="post" name="login">
									{{ form.hidden_tag() }}

									{% with messages = get_flashed_messages(with_categories=true) %}
									{% if messages %}
									<div class="flashes">
										{% for category, message in messages %}
										<div class="alert alert-{{ category|default('danger') }} alert-dismissable">
											<button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
											{% if category == 'success' %}
											<strong>Well done!</strong>
											{% endif %}

											{% if category == 'danger' %}
											<strong>Oh snap!</strong>
											{% endif %}

											{{ message }}
										</div>
										{% endfor %}
									</div>
									{% endif %}
									{% endwith %}

									<div class="form-group form-group-lg">
										<label for="email" class="sr-only">{{ _('Account') }}</label>
										<input type="email" id="email" name="email" class="form-control" placeholder="{{ _('Email') }}" required autofocus>
										{% for error in form.errors.email %}
										<span class="help-block">{{ error }}</span><br>
										{% endfor %}
									</div>

									<div class="form-group form-group-lg">
										<label for="password" class="sr-only">{{ _('Password') }}</label>
										<input type="password" id="password" name="password" class="form-control" placeholder="{{ _('Password') }}" required>
										{% for error in form.errors.password %}
										<span class="help-block">{{ error }}</span><br>
										{% endfor %}
									</div>

									<p class="forgot-password">
										<a href="reset-password.html">Forgot password?</a>
									</p>

									<button class="btn btn-lg btn-cta btn-cta-primary btn-block" type="submit">{{ _('Login in') }}</button>

									<div class="checkbox remember">
										<label>
											{{ form.remember_me }} Remember me
										</label>
									</div>

									<div class="lead">
										{{ _("Don't have a Mixpus account yet? ") }} <br>
										<a href="{{ url_for('auth.signup') }}">{{ _('Create your account now') }}</a>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}