{% extends 'layout/auth.html' %}

{% block jquery %}
        var h = $(window).height();
        $('.has-full-screen-bg .upper-wrapper').css({'height': h});

        // 刷新验证码
        $("#valid_img").click(function () {
            $(this)[0].src += "?"
        });

        var verifybutten = $('#phoneverifycode').next()

        //计时器60秒
        function timeInterval() {
            verifybutten.attr({"disabled": "disabled"});
            verifybutten.val("60秒后重新获取手机验证码");
            var timeSec = 59;
            var timeStr = '';
            var codeTime = setInterval(function Internal() {
                if (timeSec == 0) {
                    verifybutten.val("获取验证码");
                    verifybutten.removeAttr("disabled", "disabled");
                    clearInterval(codeTime);
                    return;
                }
                timeStr = "(" + timeSec + ")秒后获取验证码";
                verifybutten.val(timeStr);
                timeSec--;
            }, 1000);
        }

        // 取用户手机号,获取手机验证码
        $(function () {
            verifybutten.click(function () {
                var areacode = $('#areacode').val();
                var phonenum = $('#email').val();
                var csrftoken = $('meta[name=csrf-token]').attr('content');

                $.ajax({
                    url: '{{ url_for('auth.get_phoneverifycode') }}',
                    type: 'post',
                    beforeSend: function (xhr, settings) {  // 避免csrftoken
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    },
                    data: {
                        'areacode': areacode,
                        'phonenum': phonenum,
                        'page': 'reset',
                    },
                    success: function (data) {
                        var dataDic = JSON.parse(data);
                        if (dataDic['status'] === 0) {
                            window.location.reload();//刷新当前页
                        }

                    },
                    error: function (res) {
                        console.log(res);
                    }
                });

                timeInterval();
            });
        })

{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="signup-page has-full-screen-bg">
        <div class="upper-wrapper">
            <header class="header">
                <div class="container">
                    <h1 class="logo">
                        <a href="{{ url_for('site.web_index') }}">
                            <span class="logo-icon"></span>
                            <span class="text">小灵兽</span>
                        </a>
                    </h1>
                </div>
            </header>
            <section class="signup-section access-section section">
                <div class="container">
                    <div class="row">
                        <div class="form-box col-md-offset-3 col-sm-offset-0 xs-offset-0 col-xs-12 col-md-6">
                            <div class="form-box-inner">
                                <h2 class="title text-center">设置新密码</h2>
                                <p class="intro text-center">It only takes 3 minutes!</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <form class="form-signin" action="" method="post" name="login">
                                            {{ form.hidden_tag() }}

                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                                {% if messages %}
                                                    <div class="flashes">
                                                        {% for category, message in messages %}
                                                            <div class="alert alert-{{ category|default('danger') }} alert-dismissable">
                                                                <button class="close" type="button" data-dismiss="alert"
                                                                        aria-hidden="true">×
                                                                </button>
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endwith %}

                                            <!--选择区号-->
                                            <div class="form-group form-group-lg">
                                                {{ form.areacode }}
                                            </div>

                                            <!--手机号-->
                                            <div class="form-group form-group-lg">
                                                <label for="email" class="sr-only">{{ _('Account') }}</label>
                                                <input type="text" id="email" name="email" class="form-control"
                                                       placeholder="手机号" required>
                                            </div>

                                            <!--手机验证码-->
                                            <div class="form-group form-group-lg">
                                                <meta name="csrf-token" content="{{ csrf_token() }}">
                                                <label for="phoneverifycode" class="sr-only">手机验证码</label>
                                                <input type="text" id="phoneverifycode" name="phoneverifycode"
                                                       class="" placeholder="手机验证码" required>
                                                <input type="button" value="获取验证码">
                                            </div>

                                            <!--密码-->
                                            <div class="form-group form-group-lg">
                                                <label for="password" class="sr-only">{{ _('Password') }}</label>
                                                <input type="password" id="password" name="password"
                                                       class="form-control" placeholder="{{ _('Password') }}" required>
                                            </div>

                                            <!--验证码-->
                                            {#                                            <div class="form-group form-group-lg">#}
                                            {#                                                <label for="verifycode" class="sr-only">验证码</label>#}
                                            {#                                                <input type="text" id="verifycode" name="verifycode"#}
                                            {#                                                       class="" placeholder="验证码" required>#}
                                            {#                                                <img src="{{ url_for('auth.get_verifycode_img') }}" width="150"#}
                                            {#                                                     height="30"#}
                                            {#                                                     id="valid_img" ondragstart="return false;">#}
                                            {#                                            </div>#}

                                            <button class="btn btn-lg btn-mixpus btn-block"
                                                    type="submit">重置密码
                                            </button>

                                            <p class="note">By signing up, you agree to our terms of services and
                                                privacy policy.</p>

                                            <div class="lead">
                                                Already have an account？<a
                                                    href="{{ url_for('auth.login') }}">{{ _('Log in') }}</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}