{% extends "layout/distribute.html" %}

{% block content %}
<div class="content-wrapper--fluid">
	<section class="content">
		<div class="main">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="block-error text-center p-30 m-b-20">
						<img src="{{ url_for('static', filename='img/500.png') }}" />
						<p class="text-danger m-t-30">
							<strong>{{ errmsg }}</strong>
						</p>
						
						<a href="{{url_for('distribute.index')}}" class="btn btn-danger btn-lg m-t-20">
							{{ _('Go Back') }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
