<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Reply Message') }}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="" method="post" id="reply-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
				<input type="hidden" name="auth_app_id" value="{{ auth_app_id }}" >
				<input type="hidden" name="rid" value="{{ service_message.id }}" >
				
                <div class="form-group">
                    {{ form.msg_type.label(class="col-sm-3 control-label") }}
                    <div class="col-sm-8">
                        {{ form.msg_type(id="msg_type", class="radio-inline-group") }}
                    </div>
                </div>
				
                <div class="form-group">
                    {{ form.content.label(class="col-sm-3 control-label") }}
                    <div class="col-sm-8">
                        {{ form.content(id="content", class="form-control") }}
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
            <button type="button" id="reply-submit-btn" class="btn btn-mixpus">{{ _('Submit') }}</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript"><!--
    var data = {};

    $('#reply-submit-btn').click(function (e) {
        data = $('#reply-form').serialize();

        $.ajax({
            url: "{{ url_for('main.wxapp_service_reply') }}",
            type: 'post',
            data: data,
            dataType: 'json',
            beforeSend: function () {
                $('#reply-submit-btn').prop('disabled', true);
            },
            complete: function() {
                $('#reply-submit-btn').prop('disabled', false);
            },
            success: function (res) {
				if (res.success) {
					$('#reply-modal').modal('hide');
					
					mixpus.show_ok_message('发送成功！');
				}
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //-->
</script>