{% extends pjax("layout/base.html") %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();
	});
</script>
{% endblock %}


{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{{ _('Wx App') }}
		<span class="pull-right">
            <button class="btn btn-default" data-toggle="tooltip" data-original-title="{{ _('Help?') }}">
				<i class="fa fa-info"></i>
			</button>
		</span>
	</h2>
	
    <div class="tab-content m-t-30">
        {% if mini_apps %}
            <div class="row">
            {% for mini_app in mini_apps %}
                <div class="col-md-4">
                    <div class="card">
                        <h3 class="title">{{ mini_app.nick_name }}</h3>
                        <p>
                            <span class="indicator {{ mini_app.status_label[2] }}">{{ mini_app.status_label[1] }}</span>
                        </p>
                        <p>
                            开通时间：{{ mini_app.created_at|timestamp2string(format='%Y-%m-%d %H:%M') }}
                        </p>
                        <p>
                            <a href="{{ url_for('main.wxapp_setting') }}?auth_app_id={{ mini_app.auth_app_id }}" class="btn btn-default">
                                <i class="fa fa-gear"></i> 设置
                            </a>
                            <a href="{{ url_for('main.wxapp_templates') }}?auth_app_id={{ mini_app.auth_app_id }}" class="btn btn-warning">
								<i class="fa fa-cubes"></i> 选择模板
							</a>
                            <a href="{{ url_for('main.wxapp_versions') }}?auth_app_id={{ mini_app.auth_app_id }}" class="btn btn-mixpus">
								<i class="fa fa-upload"></i> 版本管理
							</a>
                            <a href="{{ url_for('main.wxapp_service') }}?auth_app_id={{ mini_app.auth_app_id }}" class="btn btn-default">
                                <i class="fa fa-headphones"></i> 客服
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="card no-border">
                <h3 class="title">开启小程序店铺</h3>
                <p class="summary m-t-25 m-b-25">
                    一键生成小程序店铺，快速抢占10亿微信流量红利，占据社交电商高地<br>
                    助您抢鲜一步进行新零售营销。
                </p>
                <a href="{{ url_for('main.wxapp_authorize') }}" class="btn btn-mixpus btn-lg" target="_blank">
                    开始小程序授权
                </a>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}