{% extends pjax("layout/base.html") %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();
		mixpus.hook_ajax_modal();
	});
</script>
{% endblock %}

{% block submenu %}
	{% include "stores/_sub_menu.html" %}
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<div class="page-header">
		{{ _('Wx App') }}
		<small>客服消息</small>
		
		<span class="pull-right">
            <button type="submit" form="wxapp-form" class="btn btn-icon btn-success" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('main.show_stores') }}?platform=1" class="pjax btn btn-default" data-toggle="tooltip" data-original-title="{{ _('Back') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</div>

    <form id="wxapp-form" class="form-horizontal" action="{{ url_for('main.wxapp_service_setting') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
		<input type="hidden" name="auth_app_id" value="{{ auth_app_id }}" >
		
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="{{ url_for('main.wxapp_service') }}?auth_app_id={{ auth_app_id }}" >
                    客服消息
                </a>
            </li>
            <li>
                <a href="{{ url_for('main.wxapp_service_setting') }}?auth_app_id={{ auth_app_id }}">
                    消息推送设置
                </a>
            </li>
        </ul>

        <div class="tab-content m-t-30">
			
			<!--客服消息列表-->
            <div id="general" class="active tab-pane fade in" role="tabpanel" aria-labelledby="general-tab">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center">
								<input name="check_all" type="checkbox" class="check-all">
							</th>
							<th>
								消息 ID
							</th>
							<th>
								{{ _('From User') }}
							</th>
							<th>
								消息类型
							</th>
							<th>
								消息内部
							</th>
							<th class="text-right">
								{{ _('created at') }}
							</th>
							<th class="text-right">
								{{ _('Action') }}
							</th>
						</tr>
					</thead>
					<tbody>
						{% for message in paginated_messages.items %}
						<tr>
							<td class="text-center">
								<input name="selected[]" class="check-one" value="{{ message.id }}" type="checkbox">
							</td>
							<td>
								{{ message.msg_id }}
							</td>
							<td>
								{{ message.from_user }}
							</td>
							<td>
								{{ message.msg_type }}
							</td>
							<td>
								{{ message.content }}
							</td>
							<td class="text-right">
								{{ message.create_time|timestamp2string() }}
							</td>
							<td class="text-right">
								<a href="{{ url_for('main.wxapp_service_reply')}}?rid={{ message.id }}&auth_app_id={{ auth_app_id }}" class="btn-link ajax-modal" data-modal="reply-modal" data-toggle="tooltip" data-original-title="{{ _('Reply') }}">
									{{ _('Reply') }}
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
            </div>
			
			
			
		</div>

    </form>

</div>
{% endblock %}