{% extends pjax("layout/base.html") %}

{% block after_jquery %}
<script type="text/javascript">
	var unbind_tester = function() {
		$('.btn.btn-unbind').click(function() {
			var $el = $(this);
			var account = $(this).data('account');
			var params = {
				auth_app_id: '{{ wx_mini_app.auth_app_id }}',
				csrf_token: mixpus.csrf_token,
				wx_account: account
			}
			$.post('{{ url_for('main.wxapp_unbind_tester') }}', params, function (res) {
				if (res.success) {
                    $el.parent().parent().remove();
				}
			})
		});
	}
	
	$(function () {
		mixpus.init_page_layout();
		mixpus.hook_ajax_modal();
		
		unbind_tester();
	});
</script>
{% endblock %}


{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{{ _('Wx App') }}
		<small><i class="fa fa-info-circle"></i> 如使用中发现接口有异常，请点击 <a href="">重新授权</a> 试试。</small>
		<span class="pull-right">
            <button type="submit" form="shop-form" class="btn btn-icon btn-success" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('main.wxapps') }}" class="pjax btn btn-default" data-toggle="tooltip" data-original-title="{{ _('Back') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</h2>

    <form id="shop-form" class="form-horizontal" action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
		
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#general" id="general-tab" role="tab" data-toggle="tab" aria-controls="general" aria-expanded="true">
                    微信小程序授权
                </a>
            </li>
            <li>
                <a href="#data" id="data-tab" role="tab" data-toggle="tab" aria-controls="data" aria-expanded="true">
                    小程序支付设置
                </a>
            </li>
            <li>
                <a href="#experience" id="experience-tab" role="tab" data-toggle="tab" aria-controls="experience" aria-expanded="true">
                    管理者体验
                </a>
            </li>
            <li>
                <a href="#preview" id="preview-tab" role="tab" data-toggle="tab" aria-controls="preview" aria-expanded="true">
                    预览
                </a>
            </li>
        </ul>

        <div class="tab-content m-t-30">
			
			<!--授权信息-->
            <div id="general" class="active tab-pane fade in" role="tabpanel" aria-labelledby="general-tab">
                {% if auth_status %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">小程序原始ID</label>
                        <div class="col-sm-6">
                            <p class="form-control-static"><strong class="text-success">{{ wx_mini_app.user_name }}</strong></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">小程序名称</label>
                        <div class="col-sm-6">
							<input name="nick_name" class="form-control" value="{{ wx_mini_app.nick_name }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">小程序介绍</label>
                        <div class="col-sm-6">
							<textarea name="signature" class="form-control">{{ wx_mini_app.signature }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">小程序审核状态</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">{{ wx_mini_app.status_label[1] }}</p>
                        </div>
                    </div>

                    <div class="form-group m-t-30">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            <a href="" class="btn btn-default">重新授权</a>
                        </div>
                    </div>
                {% endif %}
            </div>
			
			<!--支付设置-->
            <div id="data" class="tab-pane fade in" role="tabpanel" aria-labelledby="data-tab">
				<div class="alert alert-success m-b-30" role="alert">
					<h4>支付设置提示</h4>
					<p><i class="fa fa-info-circle"></i> 小程序必须使用自有的微信支付，配置完成后，每笔交易货款都将直接进入您的微信支付对应的财付通账号。</p>
					<p><i class="fa fa-info-circle"></i> 未申请微信支付的商户，如已有微信商户平台账户，可在授权的小程序微信后台，直接绑定已开通的微信支付，无需重新申请新的支付。</p>
				</div>
				
                <div class="form-group">
                    <label class="col-sm-2 control-label">商户号</label>
                    <div class="col-sm-6">
                        <input class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密钥</label>
                    <div class="col-sm-6">
                        <input class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">API证书</label>
                    <div class="col-sm-6">

                    </div>
                </div>
                <div class="form-group m-t-30">
                    <div class="col-sm-6 col-md-offset-2">
                        <button class="btn btn-mixpus">确认提交</button>
                    </div>
                </div>
            </div>
        	
			<!--管理者体验-->
			<div id="experience" class="tab-pane" role="tabpanel" aria-labelledby="experience-tab">
				
				<div class="testers">
					<div class="form-group">
						<div class="col-sm-8">
							<a href="{{ url_for('main.wxapp_add_tester') }}?auth_app_id={{ auth_app_id }}" class="btn btn-mixpus ajax-modal" data-modal="tester-modal">
								<i class="fa fa-plus"></i> 添加体验者
							</a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>{{ _('wechat account') }}</th>
										<th class="text-right">{{ _('Action') }}</th>
									</tr>
								</thead>
								<tbody id="wxapp-tester-table">
									{% include 'wxapp/tester_list.html' %}
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
			</div>
		
			<!--预览-->
			<div id="preview" class="tab-pane" role="tabpanel" aria-labelledby="preview-tab">
				
			</div>
		</div>

    </form>

</div>
{% endblock %}