{% extends "layout/base.html" %}

{% block after_jquery %}
<script type="text/javascript">
    var auth_wxapp_id = '{{ auth_app_id }}';
	$(function () {
		mixpus.init_page_layout();
		
		$('.btn.btn-upload-code').click(function () {
			$.post("{{ url_for('main.wxapp_commit') }}", { auth_app_id: auth_wxapp_id, csrf_token: mixpus.csrf_token }, function (res) {
				if (res.success) {
					mixpus.show_ok_message('上传成功！')
				} else {
					mixpus.show_error_message(res.status.message);
				}
			});
		});
		
		$('.btn.btn-commit-review').click(function () {
			$.post("{{ url_for('main.wxapp_submit_audit') }}", { auth_app_id: auth_wxapp_id, csrf_token: mixpus.csrf_token }, function (res) {
				if (res.success) {
					mixpus.show_ok_message('提交成功！')
				} else {
					mixpus.show_error_message(res.status.message);
				}
			});
		});
		
		// 查询状态
		$('.btn-query-status').click(function () {
			var audit_id = $(this).data('audit_id');
			$.post("{{ url_for('main.wxapp_audit_status') }}", { auth_app_id: auth_wxapp_id, audit_id: audit_id, csrf_token: mixpus.csrf_token }, function (res) {
				if (res.success) {
					mixpus.show_ok_message('已查询！');
					window.location.reload();
				} else {
					mixpus.show_error_message(res.status.message);
				}
			});
		});
		
		$('.btn.btn-release').click(function () {
			$.post("{{ url_for('main.wxapp_release') }}", { auth_app_id: auth_wxapp_id, csrf_token: mixpus.csrf_token }, function (res) {
				if (res.success) {
					mixpus.show_ok_message('发布成功！')
				} else {
					mixpus.show_error_message(res.status.message);
				}
			});
		});
		
		$('.btn.btn-modify-domain').click(function () {
			$.post("{{ url_for('main.wxapp_modify_domain') }}", { auth_app_id: auth_wxapp_id, csrf_token: mixpus.csrf_token }, function (res) {
				if (res.success) {
					mixpus.show_ok_message('设置成功！')
				} else {
					mixpus.show_error_message(res.status.message);
				}
			});
		});
	});
</script>
{% endblock %}


{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{{ _('Wxapp Version') }}
		<small>发布小程序前，需要先提交微信审核</small>
		<span class="pull-right">
            <button class="btn btn-default" data-toggle="tooltip" data-original-title="{{ _('Help?') }}">
				<i class="fa fa-info"></i>
			</button>
            <a href="{{ url_for('main.wxapps') }}" class="pjax btn btn-default" data-toggle="tooltip" data-original-title="{{ _('Back') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</h2>
	
	<a class="btn btn-modify-domain btn-default" href="javascript:;">
		<i class="fa fa-link"></i> 更新服务域名
	</a>
	
	<a class="btn btn-upload-code btn-mixpus" href="javascript:;">
		<i class="fa fa-cloud-upload"></i> 上传代码
	</a>
	
    <div id="table-refresh-box" class="m-t-20">
		<div class="table-responsive">
			<form id="orders-form" action="{{ url_for('main.delete_order') }}" method="post">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>
								最新审核
							</th>
							<th class="text-center">
								审核 ID
							</th>
							<th class="text-center">
								审核状态
							</th>
							<th class="text-center">
								审核模板
							</th>
							<th>
								可选类目
							</th>
							<th>
								页面配置
							</th>
							<th>
								说明
							</th>
							<th class="text-right">
								提交时间
							</th>
							<th class="text-right">
								{{ _('Action') }}
							</th>
						</tr>
					</thead>
					<tbody>
						{% for version in versions %}
						<tr class="active">
							<td>
								{% if version.success_at %}
									{{ version.success_at|timestamp2string() }}
								{% endif %}
							</td>
							<td class="text-center">
								{{ version.audit_id|supress_none }}
							</td>
							<td class="text-center">
								<span class="indicator {{ version.status_label[2] }}">{{ version.status_label[1] }}</span>
								
								{% if version.status == 1 %}
								<p class="m-t-10">
									{{ version.fail_reason }}
								</p>
								{% endif %}
							</td>
							<td class="text-center">
								{{ version.template_id }}
							</td>
							<td>
								<a href="{{ url_for('main.wxapp_category') }}?auth_app_id={{ version.auth_app_id }}" class="ajax-modal btn-link" data-modal="wxa-modal">设置</a>
							</td>
							<td>
								<a href="{{ url_for('main.wxapp_pages') }}?auth_app_id={{ version.auth_app_id }}" class="ajax-modal btn-link" data-modal="wxa-modal">配置</a>
							</td>
							<td>
								{{ version.user_desc }} - {{ version.user_version }}
							</td>
							<td class="text-right">
								{{ version.audit_at|timestamp2string() }}
							</td>
							<td class="text-right">
								{% if version.status != 0 %}
								<a class="btn-query-status btn-link m-r-10" href="javascript:;" data-audit_id="{{ version.audit_id }}">
									<i class="fa fa-clock-o"></i> 查询状态
								</a>
								{% endif %}
								<a class="btn-link m-r-10" href="{{ url_for('main.wxapp_qrcode') }}?auth_app_id={{ version.auth_app_id }}" target="_blank">
									<i class="fa fa-view"></i> 预览
								</a>
								{% if version.status == 0 %}
								<a class="btn btn-release btn-danger" href="javascript:;">
									<i class="fa fa-cloud-upload"></i> 发布
								</a>
								{% else %}
								<a class="btn btn-commit-review btn-warning" href="javascript:;">
									<i class="fa fa-check"></i> 提交审核
								</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
	</div>

</div>
{% endblock %}