{% extends "layout/base.html" %}

{% block sidebar %}
	{% include 'service/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Black List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<button class="btn btn-danger delete-all" data-form-id="stores-form" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive">
		<form id="warehouses-form" action="" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th>{{ _('Customer ID') }}</th>
						<th class="text-center">{{ _('Add Date') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</form>
	</div>

	{% import "block/_macros.html" as macros %}
	<div class="pages-box">
		<div class="pull-left">
			<nav aria-label="Page navigation">

			</nav>
		</div>
	</div>
</div>
{% endblock %}