<div class="list-group">
	<div class="list-group-header">
		{{ _('Purchases List') }}
	</div>
	{% for s in purchase_status %}
		<a href="{{ url_for('main.show_purchases') }}?s={{ s[0] }}" class="list-group-item {% if status == s[0] %} active{% endif %}">
			{{ s[1] }}
			{% if s[0] in [1,5,10] %}
			<span class="badge">0</span>
			{% endif %}
		</a>
	{% endfor %}

	<div class="list-group-header">
		{{ _('Purchases Payment') }}
	</div>
	{% for pay in purchase_payed %}
		<a href="{{ url_for('main.payments') }}?f={{ pay[0] }}" class="list-group-item {% if f == pay[0] %} active{% endif %}">
			{{ pay[1] }}
			{% if pay[0] != 3 %}
			<span class="badge">0</span>
			{% endif %}
		</a>
	{% endfor %}
</div>