{% extends "layout/base.html" %}
{% import "block/_macros.html" as macros %}

{% block sidebar %}
	{% include 'purchases/_sub_menu.html' %}
{% endblock %}

{% block jquery %}
{#<script type="text/javascript">#}
	// 审核 全部 or 单个
	$('button.verify-all').click(function () {
		var form_id = $(this).data('form-id');
		// 检测是否选中
		selected = [];
		$('#' + form_id).find('.check-one:checked').each(function () {
			var id = $(this).val();
			selected.push(id);
		});
		if (selected.length){
			$.post('{{ url_for("main.ajax_apply_pay") }}', {'selected[]': selected, csrf_token: csrf_token}, function (result) {
				if (result.success) {
					ids = result.data;
					for (var i=0,l=ids.length;i<l;i++) {
						$('#tr_' + ids[i]).remove();
					}
				} else {
					swal("Error", result.status.message, "error");
				}
			});
		} else {
			swal("Error", "First to selected the one!!!", "error");
		}
	});
{#</script>#}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Purchases List') }}
		<span class="pull-right">
			<span class="checked-items-status text-muted navbar-text m-r-15 hidden">
				0 items selected
			</span>
			<button class="btn btn-success verify-all" data-form-id="purchases-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Checked') }}">
				<i class="glyphicon glyphicon-ok"></i>
			</button>
		</span>
	</h2>

	<form class="form-inline" method="post" action="{{ url_for('main.show_suppliers') }}">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group">
			<input type="text" class="form-control" size="60" placeholder="{{ _('Search purchase serial_no or name...') }}">
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="wh_id" value="{{ wh_id }}">
				<button class="btn btn-default dropdown-toggle" id="filter-warehouse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Warehouse') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-select-menu" data-target="wh_id" aria-labelledby="filter-warehouse">
					<li class="dropdown-header">{{ _('Search Warehouse')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
					</li>
					{% for w in warehouse_list %}
					<li>
						<a href="javascript:void(0);" data-id="{{ w.id }}" class="option">{{ w.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Date') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="filter-date">
					<li class="dropdown-header">{{ _('Filter Date')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="#">{{ _('All') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Today') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Yesterday') }}</a>
					</li>
					<li>
						<a href="#">{{ _('7 Days') }}</a>
					</li>
					<li>
						<a href="#">{{ _('30 Days') }}</a>
					</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="#">{{ _('Custom Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-group pull-right">
			<div class="dropdown">
				<button class="btn btn-flat-default dropdown-toggle" type="button" id="filter-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="glyphicon glyphicon-sort-by-attributes-alt"></i> {{ _('Sort') }}: <b>{{ _('Add Date') }}</b>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="filter-type">
					<li class="dropdown-header">{{ _('Sort Order')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="#">{{ _('Add Date') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Business Mode') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Phone') }}</a>
					</li>
				</ul>
			</div>
		</div>

	</form>

	<div class="table-responsive m-t-20">
		<form id="purchases-form" action="{{ url_for('main.delete_purchase') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th class="text-center">{{ _('Status') }}</th>
						<th class="text-center">{{ _('Purchase Serial') }}</th>
						<th>{{ _('Supplier') }}</th>
						<th>{{ _('Warehouse') }}</th>
						<th class="text-center">{{ _('Quantity') }}</th>
						<th class="text-center">{{ _('Amount') }}</th>
						<th class="text-right">{{ _('Add Date') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for purchase in paginated_purchases.items %}
					<tr id="tr_{{ purchase.id }}">
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ purchase.id }}" type="checkbox">
						</td>
						<td class="text-center">
							<span class="indicator {{ purchase.payed_label[2] }}">{{ purchase.payed_label[1] }}</span>
						</td>
						<td class="text-center">
							{{ purchase.serial_no }}
						</td>
						<td>
							{{ purchase.supplier.short_name }}
						</td>
						<td>
							{{ purchase.warehouse.name }}
						</td>
						<td class="text-center">
							{{ purchase.quantity_sum }}
						</td>
						<td class="text-center">
							{{ purchase.total_amount }} {{ current_site.currency }}
						</td>
						<td class="text-right">
							{{ purchase.created_at|timestamp2string(format='%Y-%m-%d %H:%M') }}
						</td>
						<td class="text-right">
							<a href="{{ url_for('main.preview_purchase', rid=purchase.serial_no) }}" class="btn btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('View') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>

	<div class="pages-box">
		<div class="pull-left">
			<nav aria-label="Page navigation">
				{{ macros.pagination_widget(paginated_purchases, '.payments') }}
			</nav>
		</div>
	</div>
</div>
{% endblock %}