{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'purchases/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	var submit_filter_form = function () {
		var data = $('#filter-purchase-form').serialize();

		$.post("{{ url_for('main.search_purchases') }}", data, function (result) {
			$('#table-refresh-box').html(result);
		}, 'html');
	};

	$(function () {
		mixpus.init_page_layout();

		mixpus.hook_filter_search(submit_filter_form);

		mixpus.hook_dropdown_menu(submit_filter_form);

		// 审核 全部 or 单个
		$('button.verify-all').click(function () {
			var form_id = $(this).data('form-id');
			// 检测是否选中
			selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length){
				$.post('{{ url_for("main.ajax_apply_pay") }}', {'selected[]': selected, csrf_token: mixpus.csrf_token}, function (result) {
					if (result.success) {
						ids = result.data;
						for (var i=0,l=ids.length;i<l;i++) {
							$('#tr_' + ids[i]).remove();
						}
					} else {
						swal("Error", result.status.message, "error");
					}
				});
			} else {
				swal("Error", "First to selected the one!!!", "error");
			}
		});
	});

</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Purchases List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<button class="btn btn-warning verify-all" data-form-id="purchases-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Checked') }}">
				<i class="glyphicon glyphicon-ok"></i>
			</button>
		</span>
	</h2>

	<form class="form-inline" method="post" id="filter-purchase-form">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
		<input type="hidden" name="ref" value="pay">

		<div class="form-group">
			<input type="text" class="form-control searcher" name="qk" size="60" placeholder="{{ _('Search purchase serial_no or name...') }}">
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="wh_id" value="{{ wh_id|default(0) }}">
				<button class="btn btn-default dropdown-toggle" id="filter-warehouse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Warehouse') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-select-menu" data-target="wh_id" aria-labelledby="filter-warehouse">
					<li class="dropdown-header">{{ _('Search Warehouse')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
					</li>
					{% for w in warehouse_list %}
					<li>
						<a href="javascript:void(0);" data-id="{{ w.id }}" class="option">{{ w.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="s" value="{{ s|default(0) }}">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Status') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-select-menu" data-target="s" aria-labelledby="filter-status">
					<li class="dropdown-header">{{ _('Filter Status')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
					</li>
					{% for s in purchase_payed %}
					<li>
						<a href="javascript:void(0);" data-id="{{ s[0] }}" class="option">{{ s[2] }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="d" value="{{ d|default(0) }}">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Date') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-select-menu" data-target="d" aria-labelledby="filter-date">
					<li class="dropdown-header">{{ _('Filter Date')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="1" class="option">{{ _('Today') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="2" class="option">{{ _('Yesterday') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="7" class="option">{{ _('7 Days') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="30" class="option">{{ _('30 Days') }}</a>
					</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);">{{ _('Custom Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-group pull-right">
			<div class="dropdown">
				<input type="hidden" name="sk" value="{{ sk|default('ad') }}">
				<button class="btn btn-flat-default dropdown-toggle" type="button" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="glyphicon glyphicon-sort-by-attributes-alt"></i> {{ _('Sort') }}: <b>{{ _('Add Date') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-select-menu" data-target="sk" aria-labelledby="filter-sort">
					<li class="dropdown-header">{{ _('Sort Order')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Default') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Add Date') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ud" class="option">{{ _('Update Date') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="dd" class="option">{{ _('Arrival Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

	</form>

	<div id="table-refresh-box" class="m-t-20">
		{% include "purchases/purchase_pay_table.html" %}

		{% import "block/_macros.html" as macros %}
		<div class="pages-box">
			<div class="pull-left">
				<nav aria-label="Page navigation">
					{{ macros.pagination_widget(pagination, '.payments') }}
				</nav>
			</div>
		</div>
	</div>
</div>
{% endblock %}