<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">{{ _('Search Products') }}</h4>
		</div>
		<div class="modal-body">
			<form class="form form-inline" action="" method="post" id="sku-form">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
				<input type="hidden" name="supplier_id" value="{{ supplier_id }}">

				<div class="form-group">
					<input type="text" name="qk" class="form-control searcher" size="80" value="{{ qk|supress_none }}" placeholder="{{ _('Search sku or name...') }}" >
				</div>

				<div id="table-refresh-box">
					<table class="table table-bordered m-t-20">
						<thead>
							<tr>
								<th class="text-center">
									<input name="check_all" type="checkbox" class="check-all">
								</th>
								<th class="text-center">{{ _('Image') }}</th>
								<th class="text-center">{{ _('SKU') }}</th>
								<th>{{ _('Product Name') }}</th>
								<th class="text-center">{{ _('Attributes') }}</th>
								<th class="text-right">{{ _('Cost Price') }}</th>
								<th class="text-right">{{ _('Total Stock / Not Arrived') }}</th>
							</tr>
						</thead>
						<tbody id="purchase-items">
						{% for sku in selected_skus %}
							{% include 'purchases/_sku_table_tr.html' %}
						{% endfor %}

						{% for sku in paginated_skus %}
							{% include 'purchases/_sku_table_tr.html' %}
						{% endfor %}
						</tbody>
					</table>

					{% import "block/_macros.html" as macros %}
					<div class="pages-box pages-mini">
						<nav aria-label="Page navigation">
							{{ macros.pagination_widget(pagination, '.ajax_search_products') }}
						</nav>
					</div>

				</div>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
			<button type="button" id="sku-submit-btn" class="btn btn-mixpus">{{ _('Submit') }}</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript"><!--
	var data = {};

	var submit_search_handler = function (url) {
		var supplier_id = $('input[name=supplier_id]').val();
		var qk = $('input[name=qk]').val();

		// 检测是否选中
		var selected = [];
		$('#sku-form').find('.check-one:checked').each(function () {
			selected.push($(this).val());
		});

		var post_url = url || "{{ url_for('main.ajax_search_products') }}";

		$.post(post_url, {
			'supplier_id': supplier_id, 'qk': qk, 'selected':selected, 'csrf_token': mixpus.csrf_token
		}, function (result) {
			$('#table-refresh-box').html(result);
		}, 'html');
	};

	$('input.searcher').on('keydown', function (e) {
		var ev = window.event||e;
		if (ev.keyCode == 13) {
			submit_search_handler();
			return false;
		}
	});

	mixpus.hook_dropdown_menu(submit_search_handler);

	$('.pagination a').on('click', function(e) {
		e.preventDefault();

		submit_search_handler($(this).attr('href'));
	});

	// 全选 or 反选
	$('#sku-form').find('input.check-all').bind('click', function() {
		if ($(this).is(':checked')){
			$(this)
				.parents('table')
				.find('.check-one')
				.prop('checked', true);
		} else {
			$(this)
				.parents('table')
				.find('.check-one')
				.prop('checked', false);
		}
	});

	$('#sku-form').find('input.check-one').click(function () {
		// 取消全选
		if (!$(this).is(':checked')) {
			$('input.check-all')
				.prop('checked', false);
		}
	});

	$('#sku-submit-btn').click(function (e) {
		data = $('#sku-form').serialize();

		$.ajax({
			url: "{{ url_for('main.ajax_find_skus') }}",
			type: 'post',
			data: data,
			dataType: 'json',
			beforeSend: function () {
				$('#sku-submit-btn').prop('disabled', true);
			},
			complete: function() {
				$('#sku-submit-btn').prop('disabled', false);
			},
			success: function (result) {
				if (result.success) {
					$('#sku-modal').modal('hide');
					// 解析结果
					$('#choose-products')
						.append(parse_result(result.data));
					recount();
				} else {
					$('#sku-form').prepend(mixpus.display_alert(result.status.message))
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
//-->
</script>