<div class="table-responsive">
	<form id="purchases-form" action="{{ url_for('main.delete_purchase') }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th colspan="3">
						<input name="check_all" type="checkbox" class="check-all">
						{{ _('Product Info') }}
					</th>
					<th>{{ _('Payment Info') }} ({{ current_site.currency }})</th>
					<th class="text-center">{{ _('Express No.') }}</th>
					<th class="text-center">{{ _('Total Quantity') }}</th>
					<th>{{ _('Status') }}</th>
					<th class="text-right">{{ _('Add Date') }}</th>
					<th class="text-right">{{ _('Action') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for purchase in paginated_purchases %}
				<tr id="tr_{{ purchase.serial_no }}_parent">
					<td colspan="3">
						<input name="selected[]" class="check-one" value="{{ purchase.serial_no }}" type="checkbox" id="purchase-id-{{ purchase.id }}"> <label for="purchase-id-{{ purchase.id }}">{{ purchase.serial_no }}</label>
					</td>
					<td colspan="3">
						{{ _('Warehouse') }}: <strong>{{ purchase.warehouse.name }}</strong>
					</td>
					<td colspan="3">
						{{ _('Supplier') }}: <strong>{{ purchase.supplier.short_name }}</strong>
					</td>
				</tr>
				<tr id="tr_{{ purchase.serial_no }}">
					<td class="text-center" colspan="3">
						<img src="{{ purchase.cover.view_url }}" width="60px" class="pull-left">
						<div class="product-info">
							{{ _('Product Count') }}： <strong>{{ purchase.sku_count }}</strong> <br>
							{{ _('Total Quantity') }}: <strong>{{ purchase.quantity_sum }}</strong> <br>
							<a href="">{{ _('Products Detail') }}</a>
						</div>
					</td>
					<td>
						{{ _('Amount payable') }}: {{ purchase.payable_amount }}<br>
						({{ purchase.freight }} {{ _('freight') }})
					</td>
					<td class="text-center">
						<a href="{{ url_for('main.purchase_express_no', rid=purchase.serial_no) }}" class="ajax-modal" data-modal="express_modal" data-toggle="tooltip" data-original-title="{{ _('Add Express No.') }}">
							{% if purchase.express_no %} {{ purchase.express_no|supress_none }} {% else %} {{ _('Add Express') }} {% endif %}
						</a>
					</td>
					<td class="text-center">
						<span class="text-danger">{{ purchase.in_quantity }}</span> / {{ purchase.quantity_sum }}
					</td>
					<td>
						{% if purchase.status == 5 %}
						{% if purchase.in_quantity > 0 and purchase.in_quantity != purchase.quantity_sum %}
						<label class="indicator warning">{{ _('Partial arrival') }}</label>
						{% else %}
						<label class="indicator {{ purchase.status_label[2] }}">{{ purchase.status_label[1] }}</label>
						{% endif %}
						{% else %}
						<label class="indicator {{ purchase.status_label[2] }}">{{ purchase.status_label[1] }}</label>
						{% endif %}
					</td>
					<td class="text-right">
						{{ purchase.created_at|timestamp2string(format='%Y-%m-%d %H:%M') }}
					</td>
					<td class="text-right">
						<a href="{{ url_for('main.ajax_arrival', rid=purchase.serial_no)}}" class="ajax-arrival btn btn-link active" data-toggle="tooltip" data-original-title="{{ _('Arrival') }}">
							{{ _('Arrival') }}
						</a>
						<div class="dropdown">
							<button class="btn btn-link dropdown-toggle" type="button" id="more-{{ purchase.id }}-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								{{ _('More') }}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="more-{{ purchase.id }}-actions">
								<li><a href="{{ url_for('main.edit_purchase', rid=purchase.serial_no) }}">{{ _('Edit') }}</a></li>
								<li><a href="#">{{ _('Canceled') }}</a></li>
								<li><a href="#">{{ _('Remark') }}</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ url_for('main.preview_purchase', rid=purchase.serial_no) }}">{{ _('Show Detail') }}</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
</div>