<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">产品</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>功能</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>价格</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>下载</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>应用市场</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                    <div class="footer-col-inner">
                        <h3 class="title">资源</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>帮助中心</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>解决方案</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>合作计划</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>服务条款</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">公司</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>关于我们</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>博客</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>加入我们</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>联系方式</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col connect col-xs-12 col-md-6">
                    <div class="footer-col-inner">
                        <ul class="social list-inline">
                            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        <div class="form-container">
                            <p class="intro">第一时间获取动态和活动事件</p>
                            <form class="signup-form navbar-form">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter your email address" type="text">
                                </div>
                                <button type="submit" class="btn btn-cta btn-cta-primary">立即订阅</button>
                            </form>
                        </div><!--//subscription-form-->
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="clearfix"></div>
            </div><!--//row-->
            <div class="row has-divider">
                <div class="footer-col download col-xs-12 col-md-6">
                    <div class="footer-col-inner">
                        <h3 class="title">APP下载</h3>
                        <ul class="list-unstyled download-list">
                            <li><a class="btn btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text">Download for iOS</span> </a></li>
                            <li><a class="btn btn-ghost" href="#"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//download-->
                <div class="footer-col contact col-xs-12 col-md-6">
                    <div class="footer-col-inner">
                        <h3 class="title">联系我们</h3>
                        <p class="adr clearfix">
                            <i class="fa fa-map-marker pull-left"></i>
                            <span class="adr-group pull-left">
								<span class="street-address">极地A9栋218室</span><br>
								<span class="region">北京朝阳区酒仙桥路798艺术区</span><br>
							</span>
                        </p>
                        <p class="tel"><i class="fa fa-phone"></i>4008-798-751</p>
                        <p class="email">
                            <i class="fa fa-envelope-o"></i><a href="#">onezao@taihuoniao.com</a></p>
                    </div><!--//footer-col-inner-->
                </div><!--//contact-->
            </div>
        </div><!--//container-->
    </div><!--//footer-content-->
</footer>