{% extends "layout/web.html" %}

{% block content %}
<div class="headline-bg"></div>

<section class="features-video section section-on-bg">
	<div class="container text-center">
		<h2 class="title">快速浏览一下它是如何工作的</h2>
		<div class="video-container">
			<div class="fluid-width-video-wrapper">
				<p>你知道的，我们会帮你做出更好的决定。</p>
			</div>
		</div>
	</div><!--//container-->
</section>

<section class="steps section">
	<div class="container">
		<h2 class="title text-center">3个简单的步骤</h2>
		<div class="row">
			<div class="step text-center col-xs-12 col-sm-4">
				<h3 class="title"><span class="number">1</span><br><span class="text">注册</span></h3>
				<p></p>
			</div><!--//step-->
			<div class="step text-center col-xs-12 col-sm-4">
				<h3 class="title"><span class="number">2</span><br><span class="text">选择您的计划</span></h3>
				<p></p>
			</div><!--//step-->
			<div class="step text-center col-xs-12 col-sm-4">
				<h3 class="title"><span class="number">3</span><br><span class="text">开启授权</span></h3>
				<p></p>
			</div><!--//step-->
		</div><!--//row-->

		<div class="text-center">
			<a class="btn btn-cta btn-cta-primary btn-lg" href="{{ url_for('auth.signup') }}">免费注册</a>
		</div>

	</div><!--//container-->
</section>
{% endblock %}