{% extends "layout/web.html" %}

{% block private_js %}

<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<script type="text/javascript">
    function get_questions() {
        $.get("{{ url_for('qa.show_questions') }}", function (result) {
            $('.position_menu').html(result);
        }, 'html');
    }

    function search_solution() {
        var qk = $('.input').val();
        if(qk == ""){
            return;
        }
        $.get("{{ url_for('qa.search_solutions') }}", {qk:qk}, function (result) {
            $('.content').html(result);
        }, 'html');
    }

	$(function () {
	    get_questions();

        $('.search').on('click', search_solution);
	});
</script>
{% endblock %}

{% block content %}
<div class="headline-bg"></div>

<section class="features-video section section-on-bg">
<div class="container text-center">
    <h2 class="title">帮助您解答常见问题</h2>
    <div class="video-container">
        <div class="fluid-width-video-wrapper">
            <p>您想知道的，它就在这里。</p>
        </div>
    </div>
</div>
</section>

<section class="qa">
    <div class="top">
        <input type="text" class="input" placeholder="请输入问题">
        <input id="search" type="submit" class="search" value="搜索">
    </div>


    <div class="container">
        <div class="position_menu"></div>
        <div class="content"></div>
    </div>
{% endblock %}