{% extends "layout/web.html" %}

{% block private_js %}
<script type="text/javascript">
	$(function () {
        $('.question-list ul li').on('click', function (e) {
            var question_id = $(this).attr('id')
            var question_name = $(this).text()
            var data = {
                "pid":question_id,
            };
            $.get("{{ url_for('qa.show_sub_questions', pid=16) }}", function (result) {
                $('#sub-question-list').show()
                if(true != result.success){
                    alert(result.data.error)
                }else{
                    var sub_questions = result.data.sub_questions;
                    {% for question in sub_questions %}
                    $('#sub-question-list li').html('<li>{{ question }}<li>');
                    {% endfor %}
                }
            });
        });
	});
</script>
{% endblock %}

{% block content %}
<div class="headline-bg"></div>

<section class="features-video section section-on-bg">
<div class="container text-center">
    <h2 class="title">帮助您解答常见问题</h2>
    <div class="video-container">
        <div class="fluid-width-video-wrapper">
            <p>您想知道的，它就在这里。</p>
        </div>
    </div>
</div>
</section>

<section class="helps">
    <form action="" class="form-search" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
        <input type="text" class="input" placeholder="请输入问题">
        <input type="submit" class="search" value="搜索">
    </form>

    <div class="container">
        <div class="question-list">
            <ul>
            {% for question in questions %}
                <li class="question" id={{ question.id }}>
                    {{ question.name }}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id="sub-question-list" class="sub-question">
            <p class="question-name">问题01</p>
            <ul>

            </ul>
        </div>

         <div id="solution-content" class="">
            <p>问题01>详细问题01</p>
            <p>详细问题01</p>
            问题解答内容
         </div>

         <div id="question-search" class="">
             <p>关于问题，共找到251相关问题</p>

             <p>常见问题1</p>
             <p>问题标题</p>
             问题解答内容
         </div>
    </div>
{% endblock %}