{% extends "layout/web.html" %}

{% block private_js %}
<script type="text/javascript">
    function init_status() {
        $('.level1').next('ul').hide();
        $('.level1').click(function(){
            $(this).next().slideDown(500).parent().siblings().children('ul').slideUp(500);
        });
    }

    function get_solution_list() {
        var question_id = $(this).attr('id');
        $.get("{{ url_for('qa.show_solutions') }}", {question_id: question_id}, function (result) {
            $('.content').html(result);
        }, 'html');
    }

    function search_solution() {
        var qk = $('.input').val();
        var data = {
            qk:qk
        };
        $.get("{{ url_for('qa.search_solutions') }}", data, function (result) {
            $('.content').html(result);
        }, 'html');
    }

	$(function () {
	    init_status();

        $('.level2').on('click', get_solution_list);

        $('.search').on('click', search_solution);
	});
</script>
{% endblock %}

{% block content %}
<div class="headline-bg"></div>

<section class="features-video section section-on-bg">
<div class="container text-center">
    <h2 class="title">帮助您解答常见问题</h2>
    <div class="video-container">
        <div class="fluid-width-video-wrapper">
            <p>您想知道的，它就在这里。</p>
        </div>
    </div>
</div>
</section>

<section class="qa">
    <div class="top">
        <input type="text" class="input" placeholder="请输入问题">
        <input id="search" type="submit" class="search" value="搜索">
    </div>


    <div class="container">
        <ul class="menu">
            {% for question in questions %}
            <li>
                <a class="level1">{{ question.name }}</a>
                <ul class="current">
                    {% for sub_question in question.sub_questions %}
                    <li><a class="level2" id={{ sub_question.id }}>{{ sub_question.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <div class="content"></div>
    </div>
{% endblock %}