<div class="treeview-menu">
     <ul class="subtree">
         <li class="header">{{ _('Funds Manage') }}</li>
         <li>
             <a href="" class="pjax">
                 {{ _('Capital account') }}
             </a>
         </li>
         <li>
             <a href="{{ url_for('main.show_payments') }}?s=1" class="{% if status == 1 %} active{% endif %}">
                 {{  _('Payment Confirm') }}
				 <span class="badge">0</span>
             </a>
         </li>
         <li>
             <a href="{{ url_for('main.show_receives') }}" class="{% if sub_menu == 'receives' %} active{% endif %}">
                 {{ _('Receivables Confirm') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Capital Detail') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Refund Manage') }}
             </a>
         </li>
     </ul>
     <ul class="subtree">
         <li class="header">{{ _('Account Setting') }}</li>
         <li>
             <a href="" class="pjax">
                 {{ _('Items Setting') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Account Setting') }}
             </a>
         </li>
     </ul>
 </div>