{% extends "layout/base.html" %}

{% block sidebar %}
	{% include "settings/_sub_menu.html" %}
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{{ _('Setting Site') }}

		<span class="pull-right">
			<button type="submit" form="ability-form" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="glyphicon glyphicon-floppy-save"></i>
			</button>
			<a href="{{ url_for('main.show_abilities') }}" class="btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="glyphicon glyphicon-share-alt"></i>
			</a>
		</span>
	</h2>

	<form id="ability-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group required {% if form.errors.company_name %} has-error{% endif %}">
			{{ form.company_name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.company_name(id="company_name", class="form-control") }}
				{% for error in form.errors.company_name %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>

	</form>
</div>
{% endblock %}