{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'products/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		mixpus.hook_per_page_select();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Category List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a class="pjax btn btn-default" href="{{ url_for('main.repair_category_path') }}" data-toggle="tooltip" data-original-title="{{ _('Rebuild') }}">
				<i class="glyphicon glyphicon-refresh"></i>
			</a>
			<a href="{{ url_for('main.create_category') }}" data-toggle="tooltip" class="pjax btn btn-success" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="categories-form" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive">
		<form id="categories-form" action="{{ url_for('main.delete_category') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th>{{ _('Category Name') }}</th>
						<th class="text-center">{{ _('Sort Order') }}</th>
						<th class="text-right">{{ _('Status') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for cate in paginated_categories %}
					<tr role="row">
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ cate.id }}" type="checkbox">
						</td>
						<td>{{ cate.name|safe }}</td>
						<td class="text-center">{{ cate.sort_order }}</td>
						<td class="text-right">
							{% if cate.status %}
							<span class="indicator success">{{ _('Enabled') }}</span>
							{% else %}
							<span class="indicator warning">{{ _('Disabled') }}</span>
							{% endif %}
						</td>
						<td class="actions text-right">
							<a href="{{ url_for('main.edit_category', id=cate.id) }}" class="pjax btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>

	{% import "block/_macros.html" as macros %}
	{{ macros.pagination_widget(pagination, '.show_categories') }}

</div>
{% endblock %}