{% extends pjax("layout/base.html") %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{% if mode == 'create' %}
			{{ _('Add Supplier') }}
		{% else %}
			{{ _('Edit Supplier') }}
		{% endif %}

		<span class="pull-right">
			<button type="submit" form="supplier-form" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('main.show_suppliers') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</h2>

	<form id="supplier-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group required {% if form.errors.type %} has-error{% endif %}">
			{{ form.type.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.type(id="type", class="radio-inline-group") }}
				{% for error in form.errors.type %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</div>

		<div class="form-group required {% if form.errors.short_name %} has-error{% endif %}">
			{{ form.short_name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.short_name(id="short_name", class="form-control") }}
				{% for error in form.errors.short_name %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</div>

		<div class="form-group required {% if form.errors.full_name %} has-error{% endif %}">
			{{ form.full_name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.full_name(id="full_name", class="form-control") }}
				{% for error in form.errors.full_name %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-2 text-right required {% if form.errors.start_date %} has-error{% endif %}">
				{{ form.start_date.label(class="control-label") }}
			</div>
			<div class="col-sm-2">
				<div class="input-group form-date">
					{{ form.start_date(id="start_date", class="form-control form-datetime") }}
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-calendar"></i>
					</span>
				</div>
				{% for error in form.errors.start_date %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
			<div class="col-sm-2 text-right required {% if form.errors.end_date %} has-error{% endif %}">
				{{ form.end_date.label(class="control-label") }}
			</div>
			<div class="col-sm-2">
				<div class="input-group form-date">
					{{ form.end_date(id="end_date", class="form-control form-datetime") }}
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-calendar"></i>
					</span>
				</div>
				{% for error in form.errors.end_date %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</div>

		<div class="form-group required">
			<div class="col-sm-2 text-right required {% if form.errors.contact_name %} has-error{% endif %}">
				{{ form.contact_name.label(class="control-label") }}
			</div>
			<div class="col-sm-2">
				<div class="input-group">
					<span class="input-group-addon">@</span>
					{{ form.contact_name(id="contact_name", class="form-control") }}
				</div>
				{% for error in form.errors.contact_name %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
			<div class="col-sm-2 text-right required {% if form.errors.phone %} has-error{% endif %}">
				{{ form.phone.label(class="control-label") }}
			</div>
			<div class="col-sm-2">
				{{ form.phone(id="phone", class="form-control") }}
				{% for error in form.errors.phone %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			{{ form.address.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.address(id="address", class="form-control") }}
			</div>
		</div>

		<div class="form-group">
			{{ form.remark.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.remark(id="remark", class="form-control", rows="5") }}
			</div>
		</div>

	</form>
</div>
{% endblock %}