{% extends pjax("layout/base.html") %}

{% block mainbar %}
<div class="page-list">
	<div class="page-header">
		{{ _('Overview') }}
		<small>{{ _('System Dashboard') }}</small>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="info-box">
            	<span class="info-box-icon bg-aqua">
					<i class="fa fa-jpy"></i>
				</span>

            	<div class="info-box-content">
              		<span class="info-box-text">{{ _('Total Revenue') }}</span>
              		<span class="info-box-number">{{ total_revenue[0]|default(0)|round(2) if total_revenue[0] }} {{ current_site.currency }}</span>
            	</div>
            	<!-- /.info-box-content -->
          	</div>
		</div>
		<div class="col-md-3">
			<div class="info-box">
            	<span class="info-box-icon bg-green">
					<i class="fa fa-shopping-cart"></i>
				</span>

            	<div class="info-box-content">
              		<span class="info-box-text">{{ _('Total Orders') }}</span>
              		<span class="info-box-number">{{ total_order_count }}</span>
					<span class="rate hidden text-danger">
						<i class="glyphicon glyphicon-arrow-up"></i> 22.5%
					</span>
            	</div>
            	<!-- /.info-box-content -->
          	</div>
		</div>
		<div class="col-md-3">
			<div class="info-box">
            	<span class="info-box-icon bg-red">
					<i class="fa fa-cubes"></i>
				</span>

            	<div class="info-box-content">
              		<span class="info-box-text">{{ _('Total Products') }}</span>
              		<span class="info-box-number">{{ total_product_count }}</span>
					<span class="rate hidden text-danger">
						<i class="glyphicon glyphicon-arrow-up"></i> 22.5%
					</span>
            	</div>
            	<!-- /.info-box-content -->
          	</div>
		</div>
		<div class="col-md-3">
			<div class="info-box">
            	<span class="info-box-icon bg-yellow">
					<i class="fa fa-truck"></i>
				</span>

            	<div class="info-box-content">
              		<span class="info-box-text">{{ _('Total Stocks') }}</span>
              		<span class="info-box-number">{% if total_stock_quantity[0] == None %}0{% else %}{{ total_stock_quantity[0] }}{% endif %}</span>
            	</div>
            	<!-- /.info-box-content -->
          	</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<h3 class="box-title">
				{{ _('Latest Orders') }}
			</h3>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
					<tr class="active">
						<th>{{ _('Order ID') }}</th>
						<th>{{ _('From Store') }}</th>
						<th class="text-center">{{ _('Customer「Country」') }}</th>
						<th class="text-right">{{ _('Date Added') }}</th>
						<th class="text-right">{{ _('Total Amount') }}</th>
						<th class="text-right">{{ _('Status') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
					</thead>
					<tbody>
					{% for order in top_orders %}
					<tr>
						<td>
							<span class="text-green">{{ order.serial_no }}</span>
						</td>
						<td>
							{{ order.store.name }} ({{ order.store.platform_name }})
						</td>
						<td class="text-center">
							{{ order.buyer_name }} {% if order.buyer_country %}「{{ order.buyer_country }}」{% endif %}
						</td>
						<td class="text-right">
							{{ order.created_at|timestamp2string() }}
						</td>
						<td class="text-right">
							{{ order.total_amount }} {{ current_site.currency }}
						</td>
						<td class="text-right">
							<span class="indicator {{ order.status_label[2] }}">{{ order.status_label[1] }}</span>
						</td>
						<td class="text-right">
							<a href="{{ url_for('main.preview_order', sn=order.serial_no) }}" class="btn-link">
								{{ _('View') }}
							</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				<a class="btn btn-sm btn-default btn-flat pull-right" href="{{ url_for('main.show_orders') }}">
					{{ _('View all orders') }}
				</a>
			</div>
		</div>
		<div class="col-md-3">


		</div>
	</div>

</div>
{% endblock %}


