{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include "orders/_sub_menu.html" %}
{% endblock %}

{% block private_js %}
<!--设置网络打印机-->
<script src="{{ url_for('static', filename='Lodop/LodopFuncs.js') }}" type="text/javascript"></script>
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">

	var submit_filter_form = function () {
		var data = $('.filter-form').serialize();

		$.post("{{ url_for('main.search_orders') }}", data, function (result) {
			$('#table-refresh-box').html(result);
		}, 'html');

		return false;
	};

	$(function () {
		mixpus.init_page_layout();

		mixpus.hook_filter_search(submit_filter_form);

		mixpus.hook_dropdown_menu(submit_filter_form);

		mixpus.hook_per_page_select();

		// 审核 全部 or 单个
		$('button.verify-all').click(function () {
			var form_id = $(this).data('form-id');
			// 检测是否选中
			selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length){
				$.post('{{ url_for("main.ajax_verify_order") }}', {'selected[]': selected, csrf_token: mixpus.csrf_token}, function (result) {
					if (result.success) {
						ids = result.data.selected_sns;
						for (var i=0,l=ids.length;i<l;i++) {
							$('#tr_' + ids[i]).remove();
						}
						// 更新数量
						mixpus.update_order_status_count(result.data.status_count);
					} else {
						swal("Error", result.status.message, "error");
					}

				});
			} else {
				swal("Error", "First to selected the one!!!", "error");
			}
		});

		$('.ajax-canceled').click(function () {
			var url = $(this).data('href');
			$.post(url, {csrf_token: mixpus.csrf_token}, function(result){
				if (result.success) {
					rid = result.data.rid;
					$('#tr_' + rid).remove();

					// 更新数量
					mixpus.update_order_status_count(result.data.status_count);
				} else {
					swal("Error", result.status.message, "error");
				}
			});

			return false;
		});

		// 手动设置完成发货状态
		$('.ajax-deliver').click(function () {
			var form_id = $(this).data('form-id');
			// 检测是否选中
			var selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length == 0){
				swal('Error', 'First to selected the one!', 'error');
				return false;
			}

			$.post('{{ url_for("main.ajax_shipped") }}', {'selected[]': selected, csrf_token: mixpus.csrf_token}, function (result) {
				if (result.success) {
					ids = result.data.selected_ids;
					for (var i=0,l=ids.length;i<l;i++) {
						$('#tr_' + ids[i]).remove();
					}
					// 更新数量
					mixpus.update_order_status_count(result.data.status_count);
				} else {
					mixpus.show_error_message(result.status.message);
				}
			});

			return false;
		});

		// 打印订单发货单
		$('.ajax-print').click(function () {
			var form_id = $(this).data('form-id'), href = $(this).data('href');
			// 检测是否选中
			var selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length == 0){
				swal('Error', 'First to selected the one!', 'error');
				return false;
			}

			var wd = window.open('about:blank', '_blank');
			wd.location.href = href + '?rid=' + selected.toString();

			return false;
		});

		// 打印电子面单
		$('.ajax-print-eorder').click(function () {
			var $btn = $(this);

			try {
				LODOP = getLodop();
				if (LODOP.VERSION) {
					if (LODOP.CVERSION) {
						console.log("当前有C-Lodop云打印可用!\n C-Lodop版本:"+LODOP.CVERSION+"(内含Lodop"+LODOP.VERSION+")");
					} else {
						console.log("本机已成功安装了Lodop控件！\n 版本号:"+LODOP.VERSION);
					}
				};
			} catch (err){
				mixpus.show_error_message('请首先安装打印控件！');
				return false;
			}

			var form_id = $(this).data('form-id'), href = $(this).data('href');
			// 检测是否选中
			var selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length == 0){
				swal('Error', 'First to selected the one!', 'error');
				return false;
			}

			$btn.prop('disabled', true);

			for (var i=0; i<selected.length; i++) {
				$.post(href, {'rid': selected[i], 'csrf_token': mixpus.csrf_token}, function (result) {
					if (!result.success) {
						mixpus.show_error_message(result.status.message);
						return false;
					}
					LODOP.PRINT_INIT('{{ _("Print Express") }}');
					// 自定义纸张大小打印
					LODOP.SET_PRINT_PAGESIZE(1, '100mm', '180mm', '');
					LODOP.SET_SHOW_MODE('HIDE_SBUTTIN_PREVIEW', 1);

					// 设置打印内容
					LODOP.ADD_PRINT_HTM('10mm', '5mm', '100%', '100%', result.data);

					// 预览
					// LODOP.PREVIEW();

					// 选择打印机
					// LODOP.PRINTA();
					// 直接打印
					LODOP.PRINT();

				}, 'json');
			}

			$btn.prop('disabled', false);

			return false;
		});

		// 获取快递单号、设置发货状态
		$('.ajax-shipment').click(function () {
			var $btn = $(this);
			var form_id = $(this).data('form-id'), href = $(this).data('href');
			// 检测是否选中
			var selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length == 0){
				swal('Error', 'First to selected the one!', 'error');
				return false;
			}

			$btn.prop('disabled', true);

			$.post(href, {'rid': selected.toString(), 'csrf_token': mixpus.csrf_token}, function (result) {

				$btn.prop('disabled', false);

				if (!result.success) {
					return mixpus.show_error_message(result.status.message);
				}

				// 自动刷新
				window.location.reload();

			}, 'json');

			return false;
		});

	});
</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<div class="alert alert-danger hide" role="alert" id="clodop-alert"></div>
	<h2 class="page-header">
		{{ _('Order List') }}

		<span class="pull-right">
			<span class="checked-items-status text-muted navbar-text m-r-15 hidden">
				0 items selected
			</span>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button" id="storage-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Actions') }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="storage-actions">
					{% if status in [10, 13] %}
					<li>
						<a href="javascript:void(0);" class="ajax-deliver" data-form-id="orders-form">{{ _('Deliver Goods') }}</a>
					</li>
					<li>
						<a href="{{ url_for('main.import_order_express') }}" class="ajax-modal" data-modal="import-modal">
							{{ _('Import Express Of HuaZhu') }}
						</a>
					</li>
					{% endif %}
					<li><a href="#" class="ajax-modal" data-modal="in-stock-modal">{{ _('Update buyer info') }}</a></li>
					<li><a href="#" class="ajax-modal" data-modal="in-stock-modal">{{ _('Set as blacked') }}</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#" class="ajax-modal" data-modal="synchronize-modal">{{ _('Synchronize orders') }}</a></li>
					<li>
						<a href="{{ url_for('main.import_orders') }}" class="ajax-modal" data-modal="import-modal">
							{{ _('Import Orders Of HuaZhu') }}
						</a>
					</li>
					<li>
						<a href="{{ url_for('main.export_orders') }}" class="ajax-modal" data-modal="export-modal">
							{{ _('Export Orders') }}
						</a>
					</li>
				</ul>
			</div>
			{% if status == 1 or status == 5 %}
			<button class="btn btn-warning verify-all" data-form-id="orders-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Checked') }}">
				<i class="glyphicon glyphicon-ok"></i>
			</button>
			{% endif %}
			{% if status == 10 %}
			<button class="btn btn-primary ajax-shipment" data-form-id="orders-form" data-href="{{ url_for('main.shipment_order') }}" type="button" data-toggle="tooltip" data-original-title="{{ _('Set Logistics Info') }}">
				<i class="glyphicon glyphicon-send"></i>
			</button>
			{% endif %}
			{% if status == 13 or status == 16 %}
			<button class="btn btn-primary ajax-print-eorder" data-form-id="orders-form" data-href="{{ url_for('main.print_eorder') }}" type="button" data-toggle="tooltip" data-original-title="{{ _('Print Eorder') }}">
				<i class="glyphicon glyphicon-print"></i>
			</button>
			<button class="btn btn-success ajax-print" data-form-id="orders-form" data-href="{{ url_for('main.print_order_pdf') }}" type="button" data-toggle="tooltip" data-original-title="{{ _('Print Shipment Bill') }}">
				<i class="glyphicon glyphicon-print"></i>
			</button>
			{% endif %}
			<a href="{{ url_for('main.create_order') }}" data-toggle="tooltip" title="" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="orders-form" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<form class="form-inline filter-form" method="post" action="">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group">
			<input type="text" class="form-control searcher" name="qk" size="60" placeholder="{{ _('Search order serial_no or customer...') }}">
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="store_id" value="{{ store_id }}">
				<button class="btn btn-default dropdown-toggle" id="filter-store" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Store') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-select-menu" data-target="store_id" aria-labelledby="filter-warehouse">
					<li class="dropdown-header">{{ _('Search Store')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
					</li>
					{% for st in store_list %}
					<li>
						<a href="javascript:void(0);" data-id="{{ st.id }}" class="option">{{ st.name }} -- {{ st.platform_name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="s" value="{{ s }}">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Status') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-select-menu" data-target="s" aria-labelledby="filter-status">
					<li class="dropdown-header">{{ _('Filter Status')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
					</li>
					{% for s in status_list %}
					<li>
						<a href="javascript:void(0);" data-id="{{ s[0] }}" class="option">{{ s[1] }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="date" value="{{ date }}">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Date') }}: <b>{{ _('Unlimited') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-select-menu" data-target="date" aria-labelledby="filter-date">
					<li class="dropdown-header">{{ _('Filter Date')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('Unlimited') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="1" class="option">{{ _('Today') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="2" class="option">{{ _('Yesterday') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="7" class="option">{{ _('7 Days') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="30" class="option">{{ _('30 Days') }}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-group pull-right">
			<div class="dropdown">
				<input type="hidden" name="sk" value="{{ sk|default('ad') }}">
				<button class="btn btn-flat-default dropdown-toggle" type="button" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="glyphicon glyphicon-sort-by-attributes-alt"></i> {{ _('Sort') }}: <b>{{ _('Add Date') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-select-menu" data-target="sk" aria-labelledby="filter-sort">
					<li class="dropdown-header">{{ _('Sort Order')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Default') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Add Date') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ud" class="option">{{ _('Update Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

	</form>

	<div id="table-refresh-box" class="m-t-20">
		{% include "orders/table_order.html" %}

		{% import "block/_macros.html" as macros %}
		<div class="pages-box">
			<nav aria-label="Page navigation">
				{{ macros.pagination_widget(pagination, '.show_orders', s=status) }}
			</nav>
		</div>
	</div>
</div>

{% endblock %}