<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">{{ _('Download Wxacode') }}</h4>
		</div>
		<div class="modal-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="text-center">边长(cm)</th>
						<th class="text-center">建议扫描距离(m)</th>
						<th class="text-center">小程序码</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>
							8cm
						</td>
						<td>
							0.5m
						</td>
						<td>
							<a href="javascript:;" class="btn-link">
								<i class="fa fa-download"></i>
							</a>
						</td>
					</tr>
					<tr class="text-center">
						<td>
							12cm
						</td>
						<td>
							0.8m
						</td>
						<td>
							<a href="javascript:;" class="btn-link">
								<i class="fa fa-download"></i>
							</a>
						</td>
					</tr>
					<tr class="text-center">
						<td>
							15cm
						</td>
						<td>
							1m
						</td>
						<td>
							<a href="javascript:;" class="btn-link">
								<i class="fa fa-download"></i>
							</a>
						</td>
					</tr>
					<tr class="text-center">
						<td>
							30cm
						</td>
						<td>
							1.5m
						</td>
						<td>
							<a href="javascript:;" class="btn-link">
								<i class="fa fa-download"></i>
							</a>
						</td>
					</tr>
					<tr class="text-center">
						<td>
							50cm
						</td>
						<td>
							2.5m
						</td>
						<td>
							<a href="javascript:;" class="btn-link">
								<i class="fa fa-download"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript"><!--

	
//-->
</script>