{% extends pjax("layout/base.html") %}

{% block private_js %}
    {% assets "ckeditor_js" %}
  		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		mixpus.upload_file_manager();

		$('.ajax-sku').click(function (e) {
			var $btn = $(this), post_url=$(this).attr('href');

			$('#sku-modal').remove();

			$.ajax({
				url: post_url,
				dataType: 'html',
				beforeSend: function() {
					$btn.prop('disabled', true);
				},
				complete: function() {
					$btn.prop('disabled', false);
				},
				success: function(html) {
					$('body').append('<div id="sku-modal" role="dialog" class="modal">' + html + '</div>');

					$('#sku-modal').modal('show');
				}
			});

			return false;
		});

		$('.ajax-delete-sku').click(function () {
			var post_url = $(this).attr('href');
			$.post(post_url, {'csrf_token': mixpus.csrf_token}, function (result) {
				if (result.success) {
					$('#tr_sku_'+ result.data.id).remove();
				}
			}, 'json');
			return false;
		});

		$('.change-currency').change(function () {
			var current_text = $(this).find('option:selected').text();
			var ary_currency = current_text.split('-');
			if (ary_currency.length > 1) {
				var currency_code = ary_currency[1].trim();
				var current_currency_unit = $('input[name=current_currency_unit]').val();
				$.get("{{ url_for('main.change_currency') }}", {
					fc: current_currency_unit,
					tc: currency_code
				}, function (result) {
					if (result.success) {
						$('.current-currency').text(currency_code.trim());
						$('input[name=current_currency_unit]').val(currency_code.trim());
						var rate = result.data.rate;
						var $cost_price = $('input[name=cost_price]'), $sale_price = $('input[name=sale_price]');
						var cost_price_value = $cost_price.val(), sale_price_value = $sale_price.val();
						$cost_price.val((cost_price_value*rate).toFixed(2));
						$sale_price.val((sale_price_value*rate).toFixed(2));
					}
				}, 'json');
			} else {
				mixpus.show_warning_message('Currency text is error!');
			}
		});

		$('.btn-save-continue').click(function () {
			$('input[name=next_action]').val('continue_save');
			$('#product-form').submit();
		});
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{% if mode == 'create' %}
		{{ _('Add Product') }}
		{% else %}
		{{ _('Edit Product') }}
		{% endif %}

		<span class="pull-right">
			<button type="submit" form="product-form" class="btn btn-icon btn-warning" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<button type="button" class="btn btn-icon btn-save-continue btn-success" data-toggle="tooltip" data-original-title="{{ _('Save And Continue') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('main.show_products') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</h2>

	<form id="product-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
		<input type="hidden" name="next_action" value="finish_save" >
		<input type="hidden" name="current_currency_unit" value="{{ current_currency_unit }}">

		<ul class="nav nav-tabs" role="tablist">
			<li class="active">
				<a id="general-tab" href="#general" role="tab" data-toggle="tab" aria-controls="general" aria-expanded="true">
					{{ _('General Info') }}
				</a>
			</li>
            {% if mode == 'edit'%}
			<li>
				<a href="#sku-group" role="tab" id="sku-tab" data-toggle="tab" aria-controls="sku-group">
					{{ _('SKU') }}
				</a>
			</li>
			{% endif %}
			<li>
				<a href="#product-content" role="tab" id="content-tab" data-toggle="tab" aria-controls="product-content">
					{{ _('Content') }}
				</a>
			</li>
			<li>
				<a href="#customs-declaration" role="tab" id="customs-tab" data-toggle="tab" aria-controls="customs-declaration">
					{{ _('Customs Declaration') }}
				</a>
			</li>
		</ul>

		<div class="tab-content m-t-30">
			<div id="general" class="active tab-pane fade in" role="tabpanel" aria-labelledby="general-tab">

				<div class="form-group m-b-25">
					{{ form.category_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<select name="category_id" id="category_id" class="form-control select2">
							<option value="0">{{ _('Select category...') }}</option>
							{% for cate in paginated_categories %}
							<option value="{{ cate.id }}" {% if cate.id in product.category_ids %}selected="selected"{% endif %}>{{ cate.name|safe }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group m-b-25 required {% if form.errors.brand_id %} has-error{% endif %}">
					{{ form.brand_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<select name="brand_id" id="brand_id" class="form-control select2">
							<option value="0">{{ _('Select brand...') }}</option>
							{% for brand in paginated_brands.items %}
							<option value="{{ brand.id }}" {% if brand.id == product.brand_id %}selected="selected"{% endif %}>{{ brand.name|safe }}</option>
							{% endfor %}
						</select>
						{% for error in form.errors.brand_id %}
						<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="form-group required">
					{{ form.serial_no.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						{{ form.serial_no(id="serial_no", class="form-control", readonly="readonly") }}
						<span class="help-block">
							{{ _('System defaults are generated, and modifications are not recommended') }}
						</span>
					</div>
				</div>

				<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
					{{ form.name.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.name(id="name", class="form-control") }}
						{% for error in form.errors.name %}
						<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="form-group required">
					{{ form.cover_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{% if mode == 'create' %}
						<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail">
							<img src="{{ url_for('static', filename='img/no_img100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
						</a>
						{% else %}
						<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail">
							<img src="{{ product.cover.view_url|default(url_for('static', filename='img/no_img100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
						</a>
						{% endif %}
						<input id="cover_id" name="cover_id" value="{{ product.cover_id|default(0) }}" type="hidden">
					</div>
				</div>
				
				<div class="form-group">
                    <div class="col-sm-2 text-right required">
					    {{ form.cost_price.label(class="control-label") }}
                    </div>
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.cost_price(id="cost_price", class="form-control") }}
							<span class="input-group-addon current-currency">
								{{ current_currency_unit }}
							</span>
						</div>
						<span class="help-block"> {{ _('Please note the currency unit.') }} </span>
					</div>
				</div>

				<div class="form-group">
                    <div class="col-sm-2 text-right required">
                        {{ form.price.label(class="control-label") }}
                    </div>
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.price(id="price", class="form-control") }}
							<span class="input-group-addon current-currency">
								{{ current_currency_unit }}
							</span>
						</div>
					</div>

                    <div class="col-sm-2 text-right">
					    {{ form.sale_price.label(class="control-label") }}
                    </div>
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.sale_price(id="sale_price", class="form-control") }}
							<span class="input-group-addon current-currency">
								{{ current_currency_unit }}
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.description.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.description(id="description", class="form-control", rows="5") }}
					</div>
				</div>

				<div class="form-group required">
					{{ form.status.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						{{ form.status(id="status", class="radio-inline-group") }}
					</div>
				</div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">是否推荐</label>
					<div class="col-sm-4">
						{{ form.sticked(id="sticked", class="radio-inline-group") }} {{ form.sticked.label(class="control-label m-l-5") }}
					</div>
				</div>

			</div>

			<div id="product-content" class="tab-pane fade in" role="tabpanel" aria-labelledby="content-tab">
                <div class="form-group">
					{{ form.s_weight.label(class="col-sm-2 control-label") }}
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.s_weight(id="s_weight", class="form-control") }}
							<span class="input-group-addon">
								g
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('Product Size（LxWxH）')}}</label>
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.s_length(id="s_length", class="form-control", placeholder="Length") }}
							<span class="input-group-addon">
								cm
							</span>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.s_width(id="s_width", class="form-control", placeholder="Width") }}
							<span class="input-group-addon">
								cm
							</span>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.s_height(id="s_height", class="form-control", placeholder="Height") }}
							<span class="input-group-addon">
								cm
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.tags.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.tags(id="tags", class="form-control")}}
					</div>
				</div>

				<div class="form-group">
					{{ form.content.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.content(id="mix_editor", rows="20", class="form-control ckeditor")}}
					</div>
				</div>

                <div class="form-group">
					{{ form.currency_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-2">
						{{ form.currency_id(class="form-control change-currency select2") }}
						<span class="help-block">
							<a href="{{ url_for('main.show_currencies') }}" target="_blank">
								<small><i class="glyphicon glyphicon-info-sign"></i></small> {{ _('Currency exchange rate') }}
							</a>
						</span>
					</div>
					{{ form.region_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-2">
						{{ form.region_id(class="form-control select2") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.from_url.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						<div class="input-group">
							{{ form.from_url(id="from_url", class="form-control", placeholder="http://") }}
							<span class="input-group-addon">
								<a href="javascript:void(0);" target="_blank">{{ _('View') }}</a>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div id="customs-declaration" class="tab-pane fade in" role="tabpanel" aria-labelledby="customs-tab">
				<!--报关信息-->
				<div class="form-group">
					{{ form.dangerous_goods.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.dangerous_goods(id="dangerous_goods", class="radio-inline-group")}}
					</div>
				</div>

				<div class="form-group">
					{{ form.local_name.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.local_name(id="local_name", class="form-control")}}
					</div>
				</div>

				<div class="form-group">
					{{ form.en_name.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.en_name(id="en_name", class="form-control")}}
					</div>
				</div>

				<div class="form-group">
					{{ form.amount.label(class="col-sm-2 control-label") }}
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.amount(id="amount", class="form-control")}}
							<span class="input-group-addon current-currency">
								{{ current_currency_unit }}
							</span>
						</div>
						<span class="help-block"> {{ _('Please note the currency unit.') }} </span>
					</div>
					{{ form.d_weight.label(class="col-sm-2 control-label") }}
					<div class="col-sm-2">
						<div class="input-group">
							{{ form.d_weight(id="d_weight", class="form-control") }}
							<span class="input-group-addon">
								g
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.customs_code.label(class="col-sm-2 control-label") }}
					<div class="col-sm-6">
						{{ form.customs_code(id="customs_code", class="form-control")}}
					</div>
				</div>

			</div>

			{% if mode == 'edit'%}
			<div id="sku-group" class="tab-pane fade in" role="tabpanel" aria-labelledby="sku-tab">
				<a href="{{ url_for('main.add_sku', rid=product.serial_no) }}" class="btn btn-mixpus ajax-sku" role="button">
					<i class="fa fa-plus"></i> {{ _('Add SKU') }}
				</a>
				<div id="product-skus">
					<table class="table table-bordered m-t-20">
						<thead>
							<tr>
								<th class="text-center">{{ _('Image') }}</th>
								<th class="text-center">{{ _('Serial No.') }}</th>
								<th class="text-center">{{ _('69 Codes') }}</th>
								<th class="text-center">{{ _('Mode/Color') }}</th>
								<th class="text-center">{{ _('Cost Price') }}</th>
								<th class="text-center">{{ _('Weight') }}</th>
								<th>{{ _('Remark') }}</th>
								<th class="text-right">{{ _('Action') }}</th>
							</tr>
						</thead>
						<tbody>
							{% for sku in product.skus %}
							<tr id="tr_sku_{{ sku.serial_no }}">
								<td class="text-center">
									<img src="{{ sku.cover.view_url }}" width="60px">
								</td>
								<td class="text-center">
									{{ sku.serial_no }}
								</td>
								<td class="text-center">
									<span class="text-mixpus">{{ sku.id_code|supress_none }}</span>
								</td>
								<td class="text-center">
									{% if sku.s_model %}
									<label class="label label-warning">
										{{ sku.s_model }}
									</label>
									{% endif %}
									{% if sku.s_color %}
									<label class="label label-default">
										{{ sku.s_color }}
									</label>
									{% endif %}
								</td>
								<td class="text-center">
									{{ sku.cost_price }} {{ product.currency_unit }}
								</td>
								<td class="text-center">
									{{ sku.s_weight}}
								</td>
								<td>
									{{ sku.remark|supress_none }}
								</td>
								<td class="text-right">
									<a href="{{ url_for('main.edit_sku', rid=product.serial_no, s_id=sku.id) }}" class="btn-link ajax-sku m-r-10">
										{{ _('Edit') }}
									</a>
									<a href="{{ url_for('main.delete_sku', rid=sku.serial_no) }}" class="ajax-delete-sku btn-link">
										{{ _('Remove') }}
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
			{% endif %}
		</div>


	</form>

</div>
{% endblock %}