{% extends "layout/base.html" %}

{% block sidebar %}
	{% include 'products/_sub_menu.html' %}
{% endblock %}

{% block jquery %}
{#<script type="text/javascript">#}
	$('.ajax-sku').click(function (e) {
		var $btn = $(this), post_url=$(this).attr('href');
		$('#sku-modal').remove();
		$.ajax({
			url: post_url,
			dataType: 'html',
			beforeSend: function() {
				$btn.prop('disabled', true);
			},
			complete: function() {
				$btn.prop('disabled', false);
			},
			success: function(html) {
				$('body').append('<div id="sku-modal" role="dialog" class="modal">' + html + '</div>');

				$('#sku-modal').modal('show');
			}
		});
		return false;
	});

	$('.ajax-delete-sku').click(function () {
		var post_url = $(this).attr('href');
		$.post(post_url, {'csrf_token': csrf_token}, function (result) {
			if (result.success) {
				$('#tr_sku_'+ result.data.id).remove();
			}
		}, 'json');
		return false;
	});
{#</script>#}
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{% if mode == 'create' %}
		{{ _('Add Product') }}
		{% else %}
		{{ _('Edit Product') }}
		{% endif %}

		<span class="pull-right">
			<button type="submit" form="product-form" class="btn btn-icon btn-primary" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="glyphicon glyphicon-floppy-save"></i>
			</button>
			<a href="{{ url_for('main.show_products') }}" class="btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="glyphicon glyphicon-share-alt"></i>
			</a>
		</span>
	</h2>

	<form id="product-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<ul class="nav nav-tabs m-b-20" role="tablist">
			<li role="presentation" class="active">
				<a id="general-tab" href="#general" role="tab" data-toggle="tab" aria-controls="general" aria-expanded="true">
					{{ _('General Info') }}
				</a>
			</li>
			<li role="presentation">
				<a href="#customs-declaration" class="text-danger" role="tab" id="customs-tab" data-toggle="tab" aria-controls="customs-declaration">
					{{ _('Customs Declaration') }}
				</a>
			</li>
			{% if mode == 'edit'%}
			<li role="presentation">
				<a href="#sku-group" class="text-danger" role="tab" id="sku-tab" data-toggle="tab" aria-controls="sku-group">
					{{ _('SKU') }}
				</a>
			</li>
			{% endif %}
		</ul>

		<div class="tab-content">
			<div id="general" class="active tab-pane fade in" role="tabpanel" aria-labelledby="general-tab">

				<div class="form-group m-b-25">
					{{ form.category_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<select name="category_id" id="category_id" class="form-control select2">
							<option value="0">{{ _('Select category...') }}</option>
							{% for cate in paginated_categories %}
							<option value="{{ cate.id }}" {% if cate.id in product.category_ids %}selected="selected"{% endif %}>{{ cate.name|safe }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group m-b-25 required {% if form.errors.supplier_id %} has-error{% endif %}">
					{{ form.supplier_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<select name="supplier_id" id="supplier_id" class="form-control select2">
							<option value="0">{{ _('Select supplier...') }}</option>
							{% for supplier in paginated_suppliers.items %}
							<option value="{{ supplier.id }}" {% if supplier.id == product.supplier_id %}selected="selected"{% endif %}>{{ supplier.short_name|safe }}</option>
							{% endfor %}
						</select>
						{% for error in form.errors.supplier_id %}
						<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="form-group required">
					{{ form.serial_no.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						{{ form.serial_no(id="serial_no", class="form-control", readonly="readonly") }}
						<span class="help-block">
							{{ _('System defaults are generated, and modifications are not recommended') }}
						</span>
					</div>
				</div>

				<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
					{{ form.name.label(class="col-sm-2 control-label") }}
					<div class="col-sm-9">
						{{ form.name(id="name", class="form-control") }}
						{% for error in form.errors.name %}
						<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="form-group">
					{{ form.cover_id.label(class="col-sm-2 control-label") }}
					<div class="col-sm-10">
						{% if mode == 'create' %}
						<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail">
							<img src="{{ url_for('static', filename='img/no_img100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
						</a>
						{% else %}
						<a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail">
							<img src="{{ product.cover.view_url|default(url_for('static', filename='img/no_img100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
						</a>
						{% endif %}
						<input id="cover_id" name="cover_id" value="{{ product.cover_id|default(0) }}" type="hidden">
					</div>
				</div>

				<div class="form-group">
					{{ form.cost_price.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<div class="input-group">
							{{ form.cost_price(id="cost_price", class="form-control") }}
							<span class="input-group-addon">
								{{ current_site.currency }}
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.sale_price.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<div class="input-group">
							{{ form.sale_price(id="sale_price", class="form-control") }}
							<span class="input-group-addon">
								{{ current_site.currency }}
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.s_weight.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<div class="input-group">
							{{ form.s_weight(id="s_weight", class="form-control") }}
							<span class="input-group-addon">
								g
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('Product Size（LxWxH）')}}</label>
					<div class="col-sm-3">
						<div class="input-group">
							{{ form.s_length(id="s_length", class="form-control", placeholder="Length") }}
							<span class="input-group-addon">
								cm
							</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-group">
							{{ form.s_width(id="s_width", class="form-control", placeholder="Width") }}
							<span class="input-group-addon">
								cm
							</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-group">
							{{ form.s_height(id="s_height", class="form-control", placeholder="Height") }}
							<span class="input-group-addon">
								cm
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.from_url.label(class="col-sm-2 control-label") }}
					<div class="col-sm-9">
						<div class="input-group">
							{{ form.from_url(id="from_url", class="form-control", placeholder="http://") }}
							<span class="input-group-addon">
								<a href="javascript:void(0);" target="_blank">{{ _('View') }}</a>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.status.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						{{ form.status(id="status", class="form-control select2") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.description.label(class="col-sm-2 control-label") }}
					<div class="col-sm-10">
						{{ form.description(id="description", class="form-control", rows="8") }}
					</div>
				</div>

			</div>

			<div id="customs-declaration" class="tab-pane fade in" role="tabpanel" aria-labelledby="customs-tab">
				<!--报关信息-->
				<div class="form-group">
					{{ form.dangerous_goods.label(class="col-sm-2 control-label") }}
					<div class="col-sm-9">
						{{ form.dangerous_goods(id="dangerous_goods", class="list-inline radio-group")}}
					</div>
				</div>

				<div class="form-group">
					{{ form.local_name.label(class="col-sm-2 control-label") }}
					<div class="col-sm-9">
						{{ form.local_name(id="local_name", class="form-control")}}
					</div>
				</div>

				<div class="form-group">
					{{ form.en_name.label(class="col-sm-2 control-label") }}
					<div class="col-sm-9">
						{{ form.en_name(id="en_name", class="form-control")}}
					</div>
				</div>

				<div class="form-group">
					{{ form.d_weight.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<div class="input-group">
							{{ form.d_weight(id="d_weight", class="form-control") }}
							<span class="input-group-addon">
								g
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.amount.label(class="col-sm-2 control-label") }}
					<div class="col-sm-4">
						<div class="input-group">
							{{ form.amount(id="amount", class="form-control")}}
							<span class="input-group-addon">
								{{ current_site.currency }}
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					{{ form.customs_code.label(class="col-sm-2 control-label") }}
					<div class="col-sm-9">
						{{ form.customs_code(id="customs_code", class="form-control")}}
					</div>
				</div>


			</div>

			{% if mode == 'edit'%}
			<div id="sku-group" class="tab-pane fade in" role="tabpanel" aria-labelledby="sku-tab">
				<a href="{{ url_for('main.add_sku', id=product.id) }}" class="btn btn-primary ajax-sku" role="button">
					<i class="glyphicon glyphicon-plus"></i> {{ _('Add SKU') }}
				</a>
				<div id="product-skus">
					<table class="table table-bordered m-t-20">
						<thead>
							<tr>
								<th class="text-center">{{ _('Image') }}</th>
								<th class="text-center">{{ _('Serial No.') }}</th>
								<th class="text-center">{{ _('Cost Price') }}</th>
								<th class="text-center">{{ _('Model') }}</th>
								<th class="text-center">{{ _('Weight') }}</th>
								<th>{{ _('Remark') }}</th>
								<th class="text-right">{{ _('Action') }}</th>
							</tr>
						</thead>
						<tbody>
							{% for sku in product.skus %}
							<tr id="tr_sku_{{ sku.id }}">
								<td class="text-center">
									<img src="{{ sku.cover.view_url }}" width="60px">
								</td>
								<td class="text-center">
									{{ sku.serial_no }}
								</td>
								<td class="text-center">
									{{ sku.cost_price }} {{ current_site.currency }}
								</td>
								<td class="text-center">
									{{ sku.s_model }}
								</td>
								<td class="text-center">
									{{ sku.s_weight}}
								</td>
								<td>
									{{ sku.remark }}
								</td>
								<td class="text-right">
									<a href="{{ url_for('main.edit_sku', id=product.id, s_id=sku.id) }}" class="btn btn-link ajax-sku" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
										{{ _('Edit') }}
									</a>
									<a href="{{ url_for('main.delete_sku', s_id=sku.id) }}" class="btn ajax-delete-sku btn-link" data-toggle="tooltip" data-original-title="{{ _('Remove') }}">
										{{ _('Remove') }}
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
			{% endif %}
		</div>


	</form>

</div>
{% endblock %}