<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">{{ _('Search Products') }}</h4>
		</div>
		<div class="modal-body">
			<form class="form" action="" method="post" id="sku-form">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
				<input type="hidden" name="wh_id" value="{{ wh_id }}" >
				<input type="hidden" name="t" value="{{ t }}" >

				<div class="form-group">
					<div class="input-group">
						<input type="text" name="qk" value="" class="form-control" placeholder="Search sku or name..." >
						<div class="input-group-btn">
							<button class="btn btn-warning" type="button">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</div>

				<table class="table table-bordered m-t-20 m-b-30">
					<thead>
						<tr>
							<th class="text-center">
								<input name="check_all" type="checkbox" class="check-all">
							</th>
							<th>{{ _('Product Info') }}</th>
							<th>{{ _('Mode/Color') }}</th>
							<th class="text-center">{{ _('Price') }}</th>
							<th class="text-center">{{ _('Total Stock') }}</th>
							<th class="text-right">{{ _('Action') }}</th>
						</tr>
					</thead>
					<tbody>
					{% for stock in paginated_stocks.items %}
					<tr>
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ stock.id }}" type="checkbox">
						</td>
						<td>
							<img src="{{ stock.product_sku.cover.view_url }}" width="60px" class="pull-left">
							<div class="product-info">
								{{ stock.product_sku.serial_no }}<br>
								{{ stock.product_sku.product.name }}<br>
							</div>
						</td>
						<td>
							{% if stock.product_sku.s_model %}
							<label class="label label-warning">
								{{ stock.product_sku.s_model|supress_none }}
							</label>
							{% endif %}
							{% if stock.product_sku.s_color %}
							<label class="label label-default">
								{{ stock.product_sku.s_color|supress_none }}
							</label>
							{% endif %}
						</td>
						<td class="text-center">
							{{ stock.product_sku.product.cost_price }} {{ current_site.currency }}
						</td>
 						<td class="text-center">
							{{ stock.current_count }}
						</td>
						<td class="text-right">
							<a class="btn btn-link btn-select" role="button">
								{{ _('Select') }}
							</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
			<button type="button" id="sku-submit-btn" class="btn btn-mixpus">{{ _('Submit') }}</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript"><!--
	// 全选 or 反选
	$('#sku-form').find('input.check-all').bind('click', function() {
		if ($(this).is(':checked')){
			$(this)
				.parents('table')
				.find('.check-one')
				.prop('checked', true);
		} else {
			$(this)
				.parents('table')
				.find('.check-one')
				.prop('checked', false);
		}
	});

	$('#sku-form').find('input.check-one').click(function () {
		// 取消全选
		if (!$(this).is(':checked')) {
			$('input.check-all')
				.prop('checked', false);
		}
	});

	$('a.btn-select').click(function () {
		$(this)
			.parent().parent()
			.find('.check-one').attr('checked','checked');
	});

	$('#sku-submit-btn').click(function (e) {
		$.ajax({
			url: "{{ url_for('main.ajax_submit_result') }}",
			type: 'post',
			data: $('#sku-form').serialize(),
			dataType: 'html',
			beforeSend: function () {
				$('#sku-submit-btn').prop('disabled', true);
			},
			complete: function() {
				$('#sku-submit-btn').prop('disabled', false);
			},
			success: function (result) {
				$('#sku-modal').modal('hide');

				// 解析结果
				$('#choose-products')
					.append(result)
					.find('.select2')
					.each(function (i, obj) {
						if (!$(obj).data("select2")) {
							$(obj).select2({
								'width': '100%'
							});
						}
					});

				mixpus.order_recount();
				mixpus.tracker_order_change();
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
//-->
</script>