{% extends "layout/base.html" %}

{% block sidebar %}
	{% include 'products/_sub_menu.html' %}
{% endblock %}

{% block jquery %}
{#<script type="text/javascript">#}
	var submit_filter_form = function () {
		var data = $('.filter-form').serialize();

		$.post("{{ url_for('main.search_products') }}", data, function (result) {
			$('#table-refresh-box').html(result);
		}, 'html');
		return false;
	};

	$('input.searcher').on('keydown', function (e) {
		var ev = window.event||e;
		if (ev.keyCode == 13) {
			submit_filter_form();
			return false;
		}
	});

	hook_dropdown_menu(function(){
		submit_filter_form();
	});
{#</script>#}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Product List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.show_products') }}" data-toggle="tooltip" class="btn btn-default" data-original-title="{{ _('Refresh') }}">
				<i class="glyphicon glyphicon-refresh"></i>
			</a>
			<a href="{{ url_for('main.create_product') }}" data-toggle="tooltip" class="btn btn-primary" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="products-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<form class="form-inline filter-form" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group">
			<input type="text" class="form-control searcher" name="qk" size="60" placeholder="{{ _('Search products sku or name...') }}">
		</div>

		<div class="form-group pull-right">
			<div class="dropdown">
				<input type="hidden" name="sk" value="{{ sk|default('ad') }}">
				<button class="btn btn-flat-default dropdown-toggle" type="button" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="glyphicon glyphicon-sort-by-attributes-alt"></i> {{ _('Sort') }}: <b>{{ _('Add Date') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-select-menu" data-target="sk" aria-labelledby="filter-sort">
					<li class="dropdown-header">{{ _('Sort Order')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Default') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Add Date') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ud" class="option">{{ _('Update Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

	</form>

	<div id="table-refresh-box" class="m-t-20">
		{% include "products/table_product.html" %}

		{% import "block/_macros.html" as macros %}
		<div class="pages-box">
			<div class="pull-left">
				<nav aria-label="Page navigation">
					{{ macros.pagination_widget(pagination, '.show_products') }}
				</nav>
			</div>
		</div>
	</div>
</div>
{% endblock %}