{% extends pjax("layout/base.html") %}


{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<div class="page-header">
		{{ _('Price Templet') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_discount_templet') }}" data-toggle="tooltip" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="discount-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="fa fa-trash"></i>
			</button>
		</span>
	</div>

	<ul class="nav nav-tabs">
		<li >
			<a href="{{ url_for('main.show_product_groups') }}" aria-controls="product_groups" aria-expanded="true">
				{{ _('Product Group') }}
			</a>
		</li>
        <li class="active">
			<a href="{{ url_for('main.show_discount_templets') }}" aria-controls="customer-discount-templet">
				{{ _('Price Templet') }}
			</a>
		</li>
	</ul>

    <div class="tab-content m-t-30">
        <div class="table-responsive m-t-20">
            <form id="discount-form" action="{{ url_for('main.delete_discount_templet') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <input name="check_all" type="checkbox" class="check-all">
                        </th>
                        <th>{{ _('Discount Name') }}</th>
                        <th class="text-center">{{ _('Default Discount') }} (%)</th>
                        <th class="text-center">{{ _('By Type') }}</th>
                        <th class="text-right">{{ _('Created At') }}</th>
                        <th class="text-right">{{ _('Action') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tpl in paginated_discount_templets.items %}
                    <tr>
                        <td class="text-center">
                            <input name="selected[]" class="check-one" value="{{ tpl.id }}" type="checkbox">
                        </td>
                        <td>
                            {{ tpl.name }}
                        </td>
                        <td class="text-center">
                            {{ tpl.default_discount }}%
                        </td>
                        <td class="text-center">
                            {{ tpl.type_label[1] }}
                        </td>
                        <td class="text-right">
                            {{ tpl.created_at|timestamp2string('%Y-%m-%d %H:%M') }}
                        </td>
                        <td class="text-right">
                            <a href="{{ url_for('main.set_discount', id=tpl.id) }}" class="btn-link m-r-10" data-toggle="tooltip" data-original-title="{{ _('Set Discount') }}">
                                {{ _('Set Discount') }}
                            </a>
                            <a href="{{ url_for('main.edit_discount_templet', id=tpl.id) }}" class="btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
                                {{ _('Edit') }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>

        {% import "block/_macros.html" as macros %}
        {{ macros.pagination_widget(paginated_discount_templets, '.show_discount_templets') }}
    </div>

</div>
{% endblock %}