<div class="table-responsive">
	<form id="products-form" action="{{ url_for('main.delete_product') }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th class="text-center">
						<input name="check_all" type="checkbox" class="check-all">
					</th>
					<th class="text-center">{{ _('Image') }}</th>
					<th>{{ _('Product Info') }}</th>
					<th>{{ _('Mode/Color') }}</th>
					<th class="text-center">{{ _('Supplier') }}</th>
					<th class="text-center">{{ _('Region') }}</th>
					<th class="text-right">{{ _('Cost Price') }}</th>
					<th class="text-right">{{ _('Sale Price') }}</th>
					<th class="text-right">{{ _('Status') }}</th>
					<th class="text-right">{{ _('Action') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for product in paginated_products %}
				<tr>
					<td class="text-center">
						<input name="selected[]" class="check-one" value="{{ product.serial_no }}" type="checkbox">
					</td>
					<td class="text-center">
						<img src="{{ product.cover.view_url }}" width="60px">
					</td>
					<td>
						{{ product.name|safe }}<br>
						{% if product.region_id == 1 %}
							<span class="text-mixpus">{{ product.serial_no }}</span>
						{% else %}
							<span class="text-warning">{{ product.serial_no }}</span>
						{% endif %}
					</td>
					<td>
						{{ _('sku') }}: {{ product.skus.count() }}<br>
						<a href="#" rel="popover" data-content="{% for sku in product.skus %}<label class='text-mixpus m-r-10'>{{ sku.serial_no }} <small class='text-warning'>(
				{% if sku.s_model %}{{ sku.s_model|supress_none }}{% endif %} {% if sku.s_color %}{{ sku.s_color|supress_none }}{% endif %} )</small></label>{% endfor %}" data-original-title="{{ _('Product Sku') }}">{{ _('Show') }}</a>
					</td>
					<td class="text-center">
						{{ product.supplier.short_name }}
					</td>
					<td class="text-center">
						{% if product.region_id == 1 %}
						<span class="text-mixpus">{{ product.region_label.get('name') }}</span>
						{% endif %}

						{% if product.region_id == 2 %}
						<span class="text-warning">{{ product.region_label.get('name') }}</span>
						{% endif %}
					</td>
					<td class="text-right">
						{{ product.cost_price|round(precision=2) }} {{ product.currency_unit }}
					</td>
					<td class="text-right">
						{{ product.sale_price|round(precision=2) }} {{ product.currency_unit }}
					</td>
					<td class="text-right">
						<span class="indicator {{ product.status_label[2] }}">{{ product.status_label[1] }}</span>
					</td>
					<td class="text-right">
						<a href="{{ url_for('main.edit_product', rid=product.serial_no) }}" class="btn btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
							{{ _('Edit') }}
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
</div>