<div class="table-responsive">
	<form id="products-form" action="{{ url_for('main.delete_product') }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">
						<input name="check_all" type="checkbox" class="check-all">
					</th>
					<th class="text-center">{{ _('Image') }}</th>
					<th>{{ _('Product Info') }}</th>
					<th>{{ _('Mode/Color') }}</th>
					<th class="text-center">{{ _('Brand') }}</th>
					<th class="text-right">{{ _('Cost Price') }}</th>
					<th class="text-right">{{ _('Sale Price') }} / {{ _('Price') }}</th>
					<th class="text-right">{{ _('Stock Quantity') }}</th>
					<th class="text-right">{{ _('Status') }}</th>
					<th class="text-right">{{ _('Action') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for product in paginated_products %}
				<tr>
					<td class="text-center">
						<input name="selected[]" class="check-one" value="{{ product.serial_no }}" type="checkbox">
					</td>
					<td class="text-center">
						<img src="{{ product.cover.view_url }}" width="60px">
					</td>
					<td>
                        <span class="text-success">{{ product.serial_no }}</span>
						{% if product.sticked %}
                            <span class="badge badge-mixpus" data-toggle="tooltip" data-original-title="{{ _('Recommended') }}">
                                <i class="fa fa-flag"></i>
                            </span>
                        {% endif %}
						<br>
						{{ product.name|safe }}
					</td>
					<td>
						{{ _('sku') }}: {{ product.skus.count() }}<br>
						<a href="#" rel="popover" data-content="{% for sku in product.skus %}<label class='text-success m-r-10'>{{ sku.serial_no }} <small class='text-warning'>(
				{% if sku.s_model %}{{ sku.s_model|supress_none }}{% endif %} {% if sku.s_color %}{{ sku.s_color|supress_none }}{% endif %} )</small></label>{% endfor %}" data-original-title="{{ _('Product Sku') }}">{{ _('Show') }}</a>
					</td>
					<td class="text-center">
						{{ product.brand.name }}
					</td>
					<td class="text-right">
						{{ product.cost_price|round(precision=2) }}
					</td>
					<td class="text-right">
                        {% if product.sale_price > 0 %}
                            <span class="sale-price">{{ product.sale_price|round(precision=2) }}</span>
                            <span class="price">{{ product.price|round(precision=2) }}</span>
                        {% else %}
                            <span class="sale-price">{{ product.price|round(precision=2) }}</span>
                        {% endif %}
					</td>
					<td class="text-right {% if not product.total_stock %} danger{% endif %}{% if product.total_stock and product.total_stock < 5 %} warning{% endif %}">
						{{ product.total_stock|supress_none }}
					</td>
					<td class="text-right">
						<span class="indicator {{ product.status_label[2] }}">{{ product.status_label[1] }}</span>
					</td>
					<td class="text-right">
						<p>
							<a href="{{ url_for('main.distribute_setting') }}?rid={{ product.serial_no }}" class="pjax btn-link" data-toggle="tooltip" data-original-title="{{ _('Distribution Setting') }}">
								{{ _('Distribution Setting') }}
							</a>
							
							<a href="{{ url_for('main.edit_product', rid=product.serial_no) }}" class="m-l-10 btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						<p>
						<p>
							<a href="{{ url_for('main.download_wxacode') }}?rid={{ product.serial_no }}" class="btn-link ajax-modal" data-modal="download-modal">小程序码</a> 
							<a href="{{ url_for('main.make_adv_poster') }}?rid={{ product.serial_no }}" class="btn-link m-l-10 ajax-modal" data-modal="maker-modal">推广图</a>
						</p>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
</div>