<aside class="main-sidebar">
    <a class="sidebar-logo" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='img/moebeast-logo-40.png') }}" />
    </a>
    <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="{% if sub_menu == 'dashboard'%}active {% endif %} treeview">
                <a href="{{ url_for('main.index') }}">
                    <i class="fa fa-dashboard fa-2x"></i>
                    <span>{{ _('Dashboard') }}</span>
                </a>
            </li>
             <li class="{% if sub_menu == 'orders'%}active {% endif %} treeview">
                 <a href="{{ url_for('main.show_orders') }}">
                     <i class="fa fa-shopping-cart fa-2x"></i>
                     <span>{{ _('Sales') }}</span>
                 </a>
             </li>
            <li class="{% if top_menu == 'products'%}active {% endif %} treeview">
                <a href="{{ url_for('main.show_products') }}">
                    <i class="fa fa-cubes fa-2x"></i>
                    <span>{{ _('Products') }}</span>
                </a>
            </li>
            <li class="{% if top_menu == 'stores' %}active {% endif %} treeview">
                <a href="{{ url_for('main.show_stores') }}">
                    <i class="fa fa-sitemap fa-2x"></i>
                    <span>{{ _('Store') }}</span>
                </a>
            </li>
			
            <li class="{% if top_menu == 'market' %}active {% endif %} treeview">
                <a href="{{ url_for('main.show_apps') }}">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                    <span>{{ _('Marketing') }}</span>
                </a>
            </li>

            <li class="{% if top_menu == 'purchases'%}active {% endif %} treeview">
                <a href="{{ url_for('main.show_purchases') }}">
                    <i class="fa fa-file-text fa-2x"></i>
                    <span>{{ _('Purchase') }}</span>
                </a>
             </li>

            <li class="{% if top_menu == 'stocks'%}active {% endif %} treeview">
                <a href="{{ url_for('main.show_stocks') }}">
                    <i class="fa fa-truck fa-2x"></i>
                    <span>{{ _('Stock') }}</span>
                </a>
             </li>

            <li class="{% if top_menu == 'stats' %}active {% endif %} treeview">
                <a href="{{ url_for('main.stats') }}">
                    <i class="fa fa-pie-chart fa-2x"></i>
                    <span>{{ _('Statistics') }}</span>
                </a>
             </li>
             

            <li class="{% if top_menu == 'finances'%}active {% endif %} treeview">
                <a href="{{ url_for('main.show_payments') }}">
                    <i class="fa fa-yen fa-2x"></i>
                    <span>{{ _('Finance') }}</span>
                </a>
            </li>
			
        </ul>
		<ul class="sidebar-menu tree fix-bottom" data-widget="tree">
            <li class="{% if top_menu == 'settings' %}active {% endif %} treeview">
                <a href="{{ url_for('main.site') }}">
                    <i class="fa fa-gears fa-2x"></i>
                    <span>{{ _('Setting') }}</span>
                </a>
            </li>

            <li class="hidden {% if top_menu == 'scrm'%}active {% endif %} treeview">
                <a href="#">
                    <i class="fa fa-users fa-2x"></i>
                    <span>{{ _('SCRM') }}</span>
                </a>
            </li>
		</ul>
		
    </section>
</aside>