<header class="main-header">
    <a class="logo" href="{{ url_for('main.index') }}">
        {% if current_site %}
            {{ current_site.company_abbr|default('moebeast') }}
        {% else %}
            {{ _('moebeast') }}
        {% endif %}
    </a>
    <nav class="navbar navbar-static-top">
        <a class="sidebar-toggle" href="#" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown language-menu">
                    <a href="javascript:void(0);" title="{{ _('Select languages') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-globe"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for lang in support_languages %}
                        <li {% if g.locale == lang[1] %}class="active"{% endif %}>
                            <a href="/{{ lang[1] }}">{{ lang[2] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown notifications-menu">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning hidden">0</span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="header">You have 0 notifications</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="">
                                        <i class="fa fa-warning text-yellow"></i>
                                        fit into the page and may cause design problems
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="/static/img/avatar.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">
                            {% if current_user.is_authenticated %}
                                {{ current_user.username }}
                            {% endif %}
                        </span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="header">
                            {{ _('Quick Links') }}
                        </li>
                        <li>
                            <a href="{{ url_for('main.setting_site') }}">{{ _('Company Setting') }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.preference') }}">
                                {{ _('Preference Setting') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.passwd') }}">
                                {{ _('Update Password') }}
                            </a>
                        </li>
						{% if current_user.is_admin %}
						<li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ url_for('adminlte.admin_index') }}">
                                {{ _('System Manage') }}
                            </a>
                        </li>
						{% endif %}
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}">
                                 {{ _('Logout') }}
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" data-toggle="control-sidebar">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>