{% extends "layout/base.html" %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		mixpus.hook_per_page_select();

	});
</script>
{% endblock %}

{% block submenu %}
	{% include 'app_store/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<div class="page-header">
		应用市场
	</div>
	<div class="jumbotron p-l-20">
	  <h2>做生意一样可以简单</h2>
	  <p>你所需要的工具，都能找到，做生意就是这么任性！</p>
	</div>
	<div class="m-t-20">
		<div class="page-header">
			营销插件
		</div>
		<div class="row">
			{% for a in market_apps %}
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail horizontal p-10 clearfix">
					<img src="{{ a.icon.view_url }}" alt="{{ a.name }}">
					<div class="caption">
						<h4>{{ a.title }}</h4>
						<p class="description">
							{{ a.summary }}
						</p>
						<p class="price">
							{% if a.is_free %}
							<label class="label label-success">
								免费
							</label>
							{% else %}
							<b class="text-success">
								￥{{ a.sale_price }} / 年
							</b>
							{% endif %}
						</p>
						
						<a href="{{ url_for('main.view_app_detail') }}?rid={{ a.serial_no }}" class="btn btn-mixpus" role="button">
							<i class="fa fa-shopping-cart"></i> 查看
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="page-header">
			渠道应用
		</div>
		<div class="row">
			{% for a in channel_apps %}
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail horizontal p-10 clearfix">
					<img src="{{ a.icon.view_url }}" alt="{{ a.name }}">
					<div class="caption">
						<h4>{{ a.title }}</h4>
						<p class="description">
							{{ a.summary }}
						</p>
						<p class="price">
							{% if a.is_free %}
							<label class="label label-success">
								免费
							</label>
							{% else %}
							<b class="text-success">
								￥{{ a.sale_price }} / 年
							</b>
							{% endif %}
						</p>
						
						<a href="{{ url_for('main.view_app_detail') }}?rid={{ a.serial_no }}" class="btn btn-mixpus" role="button">
							<i class="fa fa-shopping-cart"></i> 查看
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="page-header">
			供销管理
		</div>
		<div class="row">
			{% for a in supply_apps %}
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail horizontal p-10 clearfix">
					<img src="{{ a.icon.view_url }}" alt="{{ a.name }}">
					<div class="caption">
						<h4>{{ a.title }}</h4>
						<p class="description">
							{{ a.summary }}
						</p>
						<p class="price">
							{% if a.is_free %}
							<label class="label label-success">
								免费
							</label>
							{% else %}
							<b class="text-success">
								￥{{ a.sale_price }} / 年
							</b>
							{% endif %}
						</p>
						
						<a href="{{ url_for('main.view_app_detail') }}?rid={{ a.serial_no }}" class="btn btn-mixpus" role="button">
							<i class="fa fa-shopping-cart"></i> 查看
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</div>
{% endblock %}