<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">{{ _('In-warehouse') }}</h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="" method="post" id="stock-form">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('From Warehouse') }}</label>
					<div class="col-sm-4 m-b-10">
						<select name="warehouse_id" id="warehouse_id" class="form-control select2">
							<option value="0">{{ _('Select warehouses') }}</option>
							{% for w in warehouses %}
							<option value="{{ w.id }}">{{ w.name }}</option>
							{% endfor  %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('In Type') }}</label>
					<div class="col-sm-4 m-b-10">
						<select name="operation_type" id="operation_type" class="form-control select2">
							<option value="0">{{ _('Select type') }}</option>
							{% for type in in_types %}
							<option value="{{ type[0] }}">{{ type[1] }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-6 text-right">
						<a class="btn btn-warning m-t-10" href="{{ url_for('main.ajax_select_purchase') }}" id="add-purchase-btn" role="button" data-toggle="tooltip" data-original-title="{{ _('Select Purchases') }}">
							<i class="glyphicon glyphicon-plus" aria-hidden="true"></i> {{ _('Select Purchases') }}
						</a>
					</div>
				</div>

				<table class="table table-bordered m-t-20 m-b-30">
					<thead>
						<tr>
							<th>{{ _('Product Info') }}</th>
							<th class="text-center">{{ _('Warehouse Shelve') }}</th>
							<th class="text-center">{{ _('Price') }}</th>
							<th class="text-center">{{ _('Total / Arrival') }}</th>
							<th class="text-center">{{ _('Quantity') }}</th>
							<th class="text-right">{{ _('Action') }}</th>
						</tr>
					</thead>
					<tbody id="choose-purchases">
					</tbody>
				</table>

				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('Remark') }}</label>
					<div class="col-sm-10 m-b-10">
						<textarea class="form-control" name="remark"></textarea>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
			<button type="button" id="inwarehouse-submit-btn" class="btn btn-mixpus">{{ _('Submit') }}</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript"><!--
	$('.select2').select2({
		'width': '100%'
	});

	$('#inwarehouse-submit-btn').click(function (e) {
		$.ajax({
			url: "{{ url_for('main.create_in_warehouse') }}",
			type: 'post',
			data: $('#stock-form').serialize(),
			dataType: 'json',
			beforeSend: function () {
				$('#inwarehouse-submit-btn').prop('disabled', true);
			},
			complete: function() {
				$('#inwarehouse-submit-btn').prop('disabled', false);
			},
			success: function (result) {
				if (result.success) {
					$('#in-stock-modal').modal('hide');

					$('.btn-refresh').trigger('click');
				} else {
					$('#stock-form').prepend(display_alert(result.status.message))
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#add-purchase-btn').click(function (e) {
		var $btn = $(this), post_url=$(this).attr('href');
		var warehouse_id = $('#warehouse_id').find(':selected').eq(0).val();
		if (warehouse_id == 0) {
			swal({
				title: "Warning",
				text: "Please first choose the warehouse to storage？",
				type: "warning",
				showCancelButton: false,
				confirmButtonClass: 'btn-warning',
				confirmButtonText: "Okay, I know!",
				closeOnConfirm: true
			});
			return false;
		}

		$('#purchase-modal').remove();
		$.ajax({
			url: post_url,
			type: 'post',
			dataType: 'html',
			data: {'wh_id': warehouse_id, 'csrf_token': '{{ csrf_token() }}'},
			beforeSend: function() {
				$btn.prop('disabled', true);
			},
			complete: function() {
				$btn.prop('disabled', false);
			},
			success: function(html) {
				$('body').append('<div id="purchase-modal" role="dialog" class="modal">' + html + '</div>');

				$('#purchase-modal').modal('show');
			}
		});

		return false;
	});
//-->
</script>