<div class="table-responsive m-t-20">
	<form id="warehouse-form" action="{{ url_for('main.print_out_warehouses') }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<table class="table table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th class="text-center">
					<input name="check_all" type="checkbox" class="check-all">
				</th>
				<th>{{ _('Serial No.') }}</th>
				<th>{{ _('Relation Serial') }}</th>
				<th class="text-center">{{ _('Warehouse') }}</th>
				<th class="text-center">{{ _('Quantity') }}</th>
				<th class="text-right">{{ _('Add Date') }}</th>
				<th class="text-right">{{ _('Action') }}</th>
			</tr>
			</thead>
			<tbody>
			{% for out_ware in paginated_outwarehouses.items %}
			<tr id="tr_{{ out_ware.id }}">
				<td class="text-center">
					<input name="selected[]" class="check-one" value="{{ out_ware.serial_no }}" type="checkbox">
				</td>
				<td>
					<strong>{{ out_ware.serial_no }}</strong>
				</td>
				<td>
					{% if out_ware.target_label %}
					<strong class="text-danger">{{ out_ware.target_label }}: {{ out_ware.target_serial_no }}</strong>
					{% endif %}
				</td>
				<td class="text-center">
					{{ out_ware.warehouse.name }}
				</td>
				<td class="text-center">
					{{ out_ware.total_quantity }}
				</td>
				<td class="text-right">
					{{ out_ware.created_at|timestamp2string() }}
				</td>
				<td class="text-right">
					<a href="{{ url_for('main.preview_inwarehouse', id=out_ware.id) }}" class="btn btn-link" data-toggle="tooltip" data-original-title="{{ _('View Detail') }}">
						{{ _('Show') }}
					</a>
				</td>
			</tr>
			{% endfor %}

			</tbody>
		</table>
	</form>
</div>