{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'warehouses/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
	<h2 class="page-header">
		{{ _('Warehouse List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_warehouse') }}" data-toggle="tooltip" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="warehouses-form" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive">
		<form id="warehouses-form" action="{{ url_for('main.delete_warehouse') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th>{{ _('Warehouse Name') }}</th>
						<th>{{ _('Warehouse Type') }}</th>
						<th class="text-center">{{ _('Default Warehouse') }}</th>
						<th class="text-center">{{ _('Leader') }}</th>
						<th>{{ _('Description') }}</th>
						<th class="text-center">{{ _('Shelves Count') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for warehouse in paginated_warehouses.items %}
					<tr {% if warehouse.type == 3 %}class="warning"{% endif %}>
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ warehouse.id }}" type="checkbox">
						</td>
						<td>
							{{ warehouse.name }}
						</td>
						<td>
							<strong>{{ warehouse.desc_type[1] }}</strong>
						</td>
						<td class="text-center">
							{% if warehouse.is_default %}
							<span class="text-success">
								<i class="fa fa-check-circle"></i>
							</span>
							{% endif %}
						</td>
						<td class="text-center">
							{{ warehouse.username|supress_none() }}
						</td>
						<td>
							{{ warehouse.description|supress_none() }}
						</td>
						<td class="text-center">
							{{ warehouse.shelves.count() }}
						</td>
						<td class="text-right">
							<a href="{{ url_for('main.edit_warehouse', rid=warehouse.id) }}" class="pjax btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>

	{% import "block/_macros.html" as macros %}
	{{ macros.pagination_widget(paginated_warehouses, '.show_warehouses') }}

{% endblock %}