{% extends "layout/base.html" %}
{% import "block/_macros.html" as macros %}

{% block sidebar %}
	{% include 'warehouses/_sub_menu.html' %}
{% endblock %}

{% block jquery %}
{#<script type="text/javascript">#}
	$('.btn-refresh').on('click', function () {
		window.location.reload();
	});
{#</script>#}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('In-out Stock') }}
		<div class="pull-right">
			<span class="checked-items-status text-muted navbar-text m-r-15 hidden">
				0 items selected
			</span>
			<button class="btn btn-default btn-refresh" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Refresh') }}">
				<i class="glyphicon glyphicon-refresh"></i>
			</button>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button" id="storage-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Storage') }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="storage-actions">
					<li><a href="{{ url_for('main.create_in_warehouse') }}" class="ajax-modal" data-modal="in-stock-modal">{{ _('Qualified Goods') }}</a></li>
					<li><a href="{{ url_for('main.create_in_warehouse') }}" class="ajax-modal" data-modal="in-stock-modal">{{ _('Defective Goods') }}</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button" id="out-storage-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Out Stock') }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="out-storage-actions">
					<li><a href="{{ url_for('main.create_ex_warehouse') }}" class="ajax-modal" data-modal="out-stock-modal">{{ _('Qualified Goods') }}</a></li>
					<li><a href="{{ url_for('main.create_ex_warehouse') }}" class="ajax-modal" data-modal="out-stock-modal">{{ _('Defective Goods') }}</a></li>
				</ul>
			</div>
			<button class="btn btn-warning" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Export') }}">
				<i class="glyphicon glyphicon-export"></i>
			</button>
			<button class="btn btn-danger delete-all hidden" data-form-id="purchases-form" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</div>
	</h2>

	<form class="form-inline" method="post" action="{{ url_for('main.show_suppliers') }}">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group">
			<input type="text" class="form-control" size="60" placeholder="Search products sku or name...">
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-warehouse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Warehouse: All
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="filter-warehouse">
					<li class="dropdown-header">{{ _('Search Warehouse')}}</li>
					<li class="divider" role="separator"></li>
					{% for w in warehouse_list %}
					<li>
						<a href="#">{{ w.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Type: All
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="filter-type">
					<li class="dropdown-header">{{ _('Search Type')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="#">{{ _('Storage') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Out Stock') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Defective Storage') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Defective Out Stock') }}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="filter-date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Date: All
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="filter-date">
					<li class="dropdown-header">{{ _('Filter Date')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="#">{{ _('All') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Today') }}</a>
					</li>
					<li>
						<a href="#">{{ _('Yesterday') }}</a>
					</li>
					<li>
						<a href="#">{{ _('7 Days') }}</a>
					</li>
					<li>
						<a href="#">{{ _('30 Days') }}</a>
					</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="#">{{ _('Custom Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

	</form>


	<div class="table-responsive m-t-20">
		<form id="purchases-form" action="{{ url_for('main.delete_purchase') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th class="text-center">{{ _('Add Date') }}</th>
						<th>{{ _('Product Info') }}</th>
						<th class="text-center">{{ _('Original Stock') }}</th>
						<th class="text-center">{{ _('Change') }}</th>
						<th class="text-center">{{ _('New Stock') }}</th>
						<th>{{ _('Warehouse') }}</th>
						<th>{{ _('Shelve') }}</th>
						<th class="text-center">{{ _('In Price') }}</th>
						<th class="text-center">{{ _('New Price') }}</th>
						<th>{{ _('Type') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for item in paginated_inout_list.items %}
					<tr id="tr_{{ item.id }}">
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ item.id }}" type="checkbox">
						</td>
						<td class="text-center">
							{{ item.created_at|timestamp2string() }}
						</td>
						<td>
							<img src="{{ item.sku.cover.view_url }}" width="60px" class="pull-left">
							<div class="product-info">
								{{ item.sku.serial_no }} <br>
								{{ item.sku.product.name }}<br>
							</div>
						</td>
						<td class="text-center">
							{{ item.original_quantity }}
						</td>
						<td class="text-center">
							{% if item.type == 1 %}
								<strong class="text-danger">{{ item.symbol }}{{ item.quantity }}</strong>
							{% else %}
								<strong class="text-success">{{ item.symbol }}{{ item.quantity }}</strong>
							{% endif %}
						</td>
						<td class="text-center">
							{{ item.current_quantity }}
						</td>
						<td class="text-center">
							{{ item.warehouse.name }}
						</td>
						<td class="text-center">
							{{ item.warehouse_shelve.name }}
						</td>
						<td class="text-center">
							{{ item.ori_price }}
						</td>
						<td class="text-center">
							{{ item.price }}
						</td>
						<td>
							{% if item.type == 1 %}
							<label class="indicator danger">{{ item.operate_type_label[1] }}</label>
							{% else %}
							<label class="indicator success">{{ item.operate_type_label[1] }}</label>
							{% endif %}
							 <br>
							<small>{{ _('Serial') }}: {{ item.serial_no }}</small>
						</td>
						<td class="text-right">
							<div class="dropdown">
								<button class="btn btn-link dropdown-toggle" type="button" id="more-{{ item.id }}-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{ _('More') }}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="more-{{ item.id }}-actions">
									<li><a href="{{ url_for('main.preview_inout', id=item.id) }}">{{ _('Show Detail') }}</a></li>
								</ul>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>

	<div class="pages-box">
		<div class="pull-left">
			<nav aria-label="Page navigation">
				{{ macros.pagination_widget(paginated_inout_list, '.show_inout') }}
			</nav>
		</div>
	</div>
</div>
{% endblock %}