{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'warehouses/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">

	var submit_filter_form = function () {
		var data = $('#filter-stocks-form').serialize();

		$.post("{{ url_for('main.search_in_warehouses') }}", data, function (result) {
			$('#table-refresh-box').html(result);
		}, 'html');
	};

	$(function () {
		mixpus.init_page_layout();

		// 审核 全部 or 单个
		$('button.verify-all').click(function () {
			var form_id = $(this).data('form-id');
			// 检测是否选中
			selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length){
				$.post('{{ url_for("main.ajax_verify") }}', {'selected[]': selected, csrf_token: csrf_token}, function (result) {
					if (result.success) {
						ids = result.data;
						for (var i=0,l=ids.length;i<l;i++) {
							$('#tr_' + ids[i]).remove();
						}
					} else {
						swal("Error", result.status.message, "error");
					}
				});
			} else {
				swal("Error", "First to selected the one!!!", "error");
			}
		});

		mixpus.hook_filter_search(submit_filter_form);

		mixpus.hook_dropdown_menu(submit_filter_form);


		// 打印入库单
		$('.ajax-print').click(function () {
			var form_id = $(this).data('form-id'), href = $(this).data('href');
			// 检测是否选中
			var selected = [];
			$('#' + form_id).find('.check-one:checked').each(function () {
				var id = $(this).val();
				selected.push(id);
			});
			if (selected.length == 0){
				swal('Error', 'First to selected the one!', 'error');
				return false;
			}
			var wd = window.open('about:blank', '_blank');
			wd.location.href = href + '?rid=' + selected.toString();

			return false;
		});

	});
</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('InWarehouse List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<button class="btn btn-default ajax-print" data-form-id="inwarehouse-form" data-href="{{ url_for('main.print_in_warehouses') }}" type="button" data-toggle="tooltip" data-original-title="{{ _('Print') }}">
				<i class="glyphicon glyphicon-print"></i>
			</button>
			<button class="btn btn-danger delete-all hidden" data-form-id="purchases-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}" disabled>
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<form class="form-inline" method="post" id="filter-stocks-form">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group">
			<input type="text" class="form-control searcher" size="60" name="qk" placeholder="{{ _('Search serial no...') }}">
		</div>

		<div class="form-group m-l-5">
			<div class="dropdown">
				<input type="hidden" name="wh_id" value="{{ wh_id }}">
				<button class="btn btn-default dropdown-toggle" id="filter-warehouse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{ _('Warehouse') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-select-menu" data-target="wh_id" aria-labelledby="filter-warehouse">
					<li class="dropdown-header">{{ _('Search Warehouse')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
					</li>
					{% for w in warehouse_list %}
					<li>
						<a href="javascript:void(0);" data-id="{{ w.id }}" class="option">{{ w.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group pull-right">
			<div class="dropdown">
				<input type="hidden" name="sk" value="{{ sort_type }}">
				<button class="btn btn-flat-default dropdown-toggle" type="button" id="filter-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="glyphicon glyphicon-sort-by-attributes-alt"></i> {{ _('Sort') }}: <b>{{ _('All') }}</b>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-select-menu" data-target="sk" aria-labelledby="filter-type">
					<li class="dropdown-header">{{ _('Sort Order')}}</li>
					<li class="divider" role="separator"></li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('All') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ad" class="option">{{ _('Add Date') }}</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-id="ud" class="option">{{ _('Update Date') }}</a>
					</li>
				</ul>
			</div>
		</div>

	</form>

	<div id="table-refresh-box">
		{% include "warehouses/in_table.html" %}

		{% import "block/_macros.html" as macros %}
		<div class="pages-box">
			<div class="pull-left">
				<nav aria-label="Page navigation">
					{{ macros.pagination_widget(paginated_inwarehouses, '.show_in_warehouses') }}
				</nav>
			</div>
		</div>
	</div>

</div>
{% endblock %}