{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'logistics/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{% if mode == 'create' %}
		{{ _('Add Express') }}
		{% else %}
		{{ _('Edit Express') }}
		{% endif %}

		<span class="pull-right">
			<button type="submit" form="express-form" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="glyphicon glyphicon-floppy-save"></i>
			</button>
			<a href="{{ url_for('main.show_expresses') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="glyphicon glyphicon-share-alt"></i>
			</a>
		</span>
	</h2>

	<form id="express-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="row">
			<div class="col-sm-9">
				<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
					{{ form.name.label(class="col-sm-3 control-label") }}
					<div class="col-sm-9">
						{{ form.name(id="name", class="form-control") }}
						{% for error in form.errors.name %}
						<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="form-group required {% if form.errors.code %} has-error{% endif %}">
					{{ form.code.label(class="col-sm-3 control-label") }}
					<div class="col-sm-9">
						{{ form.code(class="form-control") }}
						{% for error in form.errors.code %}
						<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="form-group">
					{{ form.contact_name.label(class="col-sm-3 control-label") }}
					<div class="col-sm-9">
						{{ form.contact_name(id="contact_name", class="form-control") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.contact_mobile.label(class="col-sm-3 control-label") }}
					<div class="col-sm-9">
						{{ form.contact_mobile(id="contact_mobile", class="form-control") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.contact_phone.label(class="col-sm-3 control-label") }}
					<div class="col-sm-9">
						{{ form.contact_phone(id="contact_phone", class="form-control") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.description.label(class="col-sm-3 control-label") }}
					<div class="col-sm-9">
						{{ form.description(id="description", class="form-control") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.is_default.label(class="col-sm-3 control-label") }}
					<div class="col-sm-9">
						<div class="checkbox">
							<label>
								{{ form.is_default() }} {{ _('Mark As Default') }}
							</label>
						</div>
					</div>
				</div>

				<label class="m-t-10 m-b-10 text-danger">{{ _('Logistics account settings') }}</label>
				<div class="form-group">
					{{ form.customer_name.label(class="col-sm-3 control-label") }}
					<div class="col-sm-4">
						{{ form.customer_name(id="customer_name", class="form-control") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.customer_pwd.label(class="col-sm-3 control-label") }}
					<div class="col-sm-4">
						{{ form.customer_pwd(id="customer_pwd", class="form-control") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.send_site.label(class="col-sm-3 control-label") }}
					<div class="col-sm-4">
						{{ form.send_site(id="send_site", class="form-control") }}
					</div>
				</div>

			</div>
			<div class="col-sm-3">
				<p><strong>目前接口支持了：</strong></p>
				<ul class="list-group">
					<li class="list-group-item">顺丰（SF）</li>
					<li class="list-group-item">EMS（EMS）</li>
					<li class="list-group-item">宅急送（ZJS）</li>
					<li class="list-group-item">圆通（YTO）</li>
					<li class="list-group-item">百世快递（HTKY）</li>
					<li class="list-group-item">中通（ZTO）</li>
					<li class="list-group-item">韵达（YD）</li>
					<li class="list-group-item">申通（STO）</li>
					<li class="list-group-item">德邦（DBL）</li>
					<li class="list-group-item">优速（UC）</li>
					<li class="list-group-item">京东（JD）</li>
					<li class="list-group-item">信丰（XFEX）</li>
					<li class="list-group-item">全峰（QFKD）</li>
					<li class="list-group-item">跨越速运（KYSY）</li>
					<li class="list-group-item">安能小包（ANE）</li>
					<li class="list-group-item">快捷快递（FAST）</li>
					<li class="list-group-item">国通（GTO）</li>
					<li class="list-group-item">天天快递（HHTT）</li>
					<li class="list-group-item">邮政快递包裹（YZPY）</li>
					<li class="list-group-item">中铁快运（ZTKY）</li>
					<li class="list-group-item"></li>
				</ul>
				<p>后续更多的快递公司正在对接中。</p>
			</div>
		</div>

	</form>

</div>
{% endblock %}