{% extends pjax("layout/base.html") %}

{% block submenu %}
	{% include 'orders/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Express List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_express') }}" data-toggle="tooltip" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="expresses-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="fa fa-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive m-t-20">
		<form id="expresses-form" action="{{ url_for('main.delete_express') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th>{{ _('Logistics Name') }}</th>
						<th>{{ _('Logistics Code') }}</th>
						<th class="text-center">{{ _('Default') }}</th>
						<th>{{ _('Customer Name') }}</th>
						<th>{{ _('Contact') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for express in paginated_express.items %}
					<tr>
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ express.id }}" type="checkbox">
						</td>
						<td>
							{{ express.name }}
						</td>
						<td>
							{{ express.code }}
						</td>
						<td class="text-center">
							{% if express.is_default %}
							<label class="badge badge-mixpus">
								<i class="fa fa-check"></i>
							</label>
							{% endif %}
						</td>
						<td>
							{{ express.customer_name|supress_none }} {% if express.send_site %}({{ express.send_site|supress_none }}){% endif %}
						</td>
						<td>
							{{ express.contact_name }} {{ express.contact_mobile }}
						</td>
						<td class="text-right">
							<a href="{{ url_for('main.edit_express', id=express.id) }}" class="pjax btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>

	{% import "block/_macros.html" as macros %}
	{{ macros.pagination_widget(paginated_express, '.show_expresses') }}

</div>
{% endblock %}