{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'logistics/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Shipper List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_shipper') }}" data-toggle="tooltip" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="shippers-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive m-t-20">
		<form id="shippers-form" action="{{ url_for('main.delete_shipper') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center">
							<input name="check_all" type="checkbox" class="check-all">
						</th>
						<th class="text-center">{{ _('Ship Warehouse') }}</th>
						<th class="text-center">{{ _('Shipper') }}</th>
						<th class="text-center">{{ _('From') }}</th>
						<th>{{ _('Phone') }}</th>
						<th>{{ _('Address') }}</th>
						<th class="text-right">{{ _('Action') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for shipper in paginated_shippers.items %}
					<tr>
						<td class="text-center">
							<input name="selected[]" class="check-one" value="{{ shipper.id }}" type="checkbox">
						</td>
						<td class="text-center">
							{{ shipper.warehouse.name }}
						</td>
						<td class="text-center">
							{{ shipper.name }}
						</td>
						<td class="text-center">
							{{ shipper.from_city }}
						</td>
						<td>
							{{ shipper.phone }} {{ shipper.mobile }}
						</td>
						<td>
							{{ shipper.province }} {{ shipper.city }} {{ shipper.area }} {{ shipper.address }} {{ shipper.zipcode }}
						</td>
						<td class="text-right">
							<a href="{{ url_for('main.edit_shipper', id=shipper.id) }}" class="pjax btn btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
								{{ _('Edit') }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>

	{% import "block/_macros.html" as macros %}
	<div class="pages-box">
		<div class="pull-left">
			<nav aria-label="Page navigation">
				{{ macros.pagination_widget(paginated_shippers, '.show_shippers') }}
			</nav>
		</div>
	</div>
</div>
{% endblock %}