<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<style type="text/css">
        @font-face {
           font-family: simsun;
           src: url("{{ font_path }}");  /* 字体路径 */
        }
		body {
           font-family: simsun;
        }
	</style>
</head>

<body>
	<table class="">
		<tr>
			<td colspan="2">
				{{ gettext('Supplier Info') }}
			</td>
			<td colspan="2">
				{{ gettext('Warehouse Info') }}
			</td>
		</tr>
		<tr>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
		</tr>
	</table>
</body>
</html>