{% extends pjax("layout/admin.html") %}

{% block sidebar %}
	{% include 'adminlte/settings/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<div class="page-header">
		{% if mode == 'create' %}
			{{ _('Add Place') }}
		{% else %}
			{{ _('Edit Place') }}
		{% endif %}
		<span class="pull-right">
			<button type="submit" form="place-form" class="btn btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('adminlte.show_places') }}" class="pjax btn btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</div>

	<form id="place-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

        <div class="form-group">
			{{ form.country_id.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.country_id(id="country_id", class="form-control select2") }}
			</div>
		</div>

		{% if form.pid.data %}
        <div class="form-group">
			{{ form.pid.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				<input type="hidden" name="pid" value="{{ form.pid.data }}" >
				<p class="form-control-static">
					{% for p in parent_nodes %}
						<label>{{ p }}</label> {% if not loop.last %}<i class="fa fa-angle-right"></i> {% endif %}
					{% endfor %}
				</p>
			</div>
		</div>
		{% endif %}

		<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
			{{ form.name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.name(id="name", class="form-control") }}
				{% for error in form.errors.name %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			{{ form.sort_by.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.sort_by(id="sort_by", class="form-control") }}
			</div>
		</div>

        <div class="form-group">
			{{ form.status.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.status(id="status", class="radio-inline-group") }}
			</div>
		</div>
	</form>
</div>
{% endblock %}