{% extends pjax("layout/admin.html") %}

{% block sidebar %}
	{% include 'adminlte/applications/_sub_menu.html' %}
{% endblock %}


{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		mixpus.upload_file_manager();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{{ _('Add Market') }}

		<span class="pull-right">
			<button type="submit" form="ability-form" class="btn btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('adminlte.show_applications') }}" class="pjax btn btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</h2>

	<form id="ability-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
		
        <div class="form-group required">
            {{ form.icon_id.label(class="col-sm-2 control-label") }}
            <div class="col-sm-6">
                {% if mode == 'create' %}
                <a href="javascript:void(0);" id="icon_thumb_image" data-target="icon" data-toggle="image" class="img-thumbnail">
                    <img src="{{ url_for('static', filename='img/no_img100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
                </a>
                {% else %}
                <a href="javascript:void(0);" id="icon_thumb_image" data-target="icon" data-toggle="image" class="img-thumbnail">
                    <img src="{{ app_service.icon.view_url|default(url_for('static', filename='img/no_img100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
                </a>
                {% endif %}
                <input id="icon_id" name="icon_id" value="{{ form.icon_id.data|default(0) }}" type="hidden">
            </div>
        </div>
		<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
			{{ form.name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-4">
				{{ form.name(id="name", class="form-control") }}
				{% for error in form.errors.name %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
				<span class="help-block">
					应用标识，验证是否有权限使用某项服务所用
				</span>
			</div>
		</div>
		
		<div class="form-group required {% if form.errors.title %} has-error{% endif %}">
			{{ form.title.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.title(id="title", class="form-control") }}
				{% for error in form.errors.title %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>
        <div class="form-group required">
			{{ form.type.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.type(id="type", class="radio-inline-group") }}
			</div>
		</div>
        <div class="form-group required">
			<label class="col-sm-2 control-label">适用于版本</label>
			<div class="col-sm-6">
				<ul class="radio-inline-group">
				{% for edition in system_edition %}
				<li>
					<label class="checkbox-inline">
					  <input type="checkbox" name="edition_id[]" value="{{ edition.id }}" {% if edition.id in checked_edition_ids %}checked="checked"{% endif %}> {{ edition.title }}
					</label>
				</li>
				{% endfor %}
				</ul>
				<span class="help-block">
					此应用是否支持包含于版本套餐
				</span>
			</div>
		</div>
        <div class="form-group">
			{{ form.is_free.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				<ul class="radio-inline-group">
					<li>
						{{ form.is_free(id="is_free") }} 
						<label for="is_free">
							{{ _('Yes') }}
						</label>
					</li>
				</ul>
			</div>
		</div>
        <div class="form-group">
			{{ form.sale_price.label(class="col-sm-2 control-label") }}
			<div class="col-sm-3">
				<div class="input-group">
					{{ form.sale_price(id="sale_price", class="form-control") }}
					<span class="input-group-addon">
						CNY
					</span>
				</div>
				<span class="help-block">
					如应用免费，则无需设置价格
				</span>
			</div>
		</div>
        <div class="form-group">
			{{ form.summary.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.summary(id="summary", class="form-control", rows="3") }}
			</div>
		</div>
        <div class="form-group">
			{{ form.description.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.description(id="description", class="form-control", rows="5") }}
			</div>
		</div>
        <div class="form-group">
			{{ form.remark.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.remark(id="remark", class="form-control") }}
			</div>
		</div>
        <div class="form-group">
			{{ form.status.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.status(id="status", class="radio-inline-group") }}
			</div>
		</div>
	</form>
</div>
{% endblock %}