{% extends "layout/admin.html" %}

{% block sidebar %}
	{% include 'adminlte/applications/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		mixpus.hook_per_page_select();

		$('.ajax-published').click(function (e) {
		    e.preventDefault();
		    var req_url = $(this).attr('href'), sn = $(this).data('id');
            $.post(req_url, { 'csrf_token': mixpus.csrf_token, 'sn': sn }, function(result){
                if (result.success) {
                    mixpus.show_ok_message(result.status.message);
                } else {
                    mixpus.show_error_message(result.status.message);
                }
            });
        });
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Service List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
            <a href="{{ url_for('adminlte.create_application') }}" class="btn btn-mixpus pjax" data-toggle="tooltip" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="applications-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Disabled') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive m-t-20">
		<form id="applications-form" action="{{ url_for('adminlte.disabled_application') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
			<table class="table table-bordered table-striped table-hover">
				<thead>
				<tr>
					<th class="text-center">
						<input name="check_all" type="checkbox" class="check-all">
					</th>
					<th class="text-center">{{ _('Icon') }}</th>
					<th>{{ _('App Name') }}</th>
					<th>{{ _('Type') }}</th>
					<th class="text-center">{{ _('Is Free') }}</th>
					<th>{{ _('Summary') }}</th>
					<th class="text-right">{{ _('Status') }}</th>
					<th class="text-right">{{ _('Created at') }}</th>
					<th class="text-right">{{ _('Action') }}</th>
				</tr>
				</thead>
				<tbody>
				{% for apm in paginated_markets.items %}
				<tr>
					<td class="text-center">
						<input name="selected[]" class="check-one" value="{{ apm.id }}" type="checkbox">
					</td>
					<td class="text-center">
						<img src="{{ apm.icon.view_url }}" width="60px">
					</td>
					<td>
						{{ apm.name }}
					</td>
					<td>{{ apm.type_label[1] }}</td>
					<td class="text-center">
						{% if apm.is_free %}
						<span class="text-success">{{ _('Yes') }}</span>
						{% else %}
						<span class="text-warning">{{ _('No') }}</span>
						{% endif %}
					</td>
					<td>{{ apm.summary }}</td>
					<td class="text-right">
                        <span class="indicator {{ apm.status_label[2] }}">
							{{ apm.status_label[1] }}
						</span>
					</td>
					<td class="text-right">
						{{ apm.created_at|timestamp2string() }}
					</td>
					<td class="text-right">
						<a href="{{ url_for('adminlte.published_application', sn=apm.serial_no) }}" data-id="{{ apm.serial_no }}" class="btn btn-link ajax-published"  data-toggle="tooltip" data-original-title="{{ _('Publish') }}">
							{{ _('Publish') }}
						</a>
						<a href="{{ url_for('adminlte.edit_application', sn=apm.serial_no) }}" class="btn btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
							{{ _('Edit') }}
						</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</form>

		{% import "block/_macros.html" as macros %}
		<div class="pages-box link">
			<nav aria-label="Page navigation">
				{{ macros.pagination_widget(paginated_markets, '.show_clients') }}
			</nav>
		</div>

	</div>
</div>
{% endblock %}