{% extends pjax("layout/base.html") %}

{% block submenu %}
	{% include 'stores/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{{ _('Add Store') }}

		<span class="pull-right">
			<button type="submit" form="ability-form" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('main.show_stores') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Back') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</h2>

	<form id="ability-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
			{{ form.name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.name(id="name", class="form-control") }}
				{% for error in form.errors.name %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>

		<div class="form-group required {% if form.errors.platform %} has-error{% endif %}">
			{{ form.platform.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.platform(id="platform", class="form-control select2") }}
				{% for error in form.errors.platform %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>

		<div class="form-group required">
			{{ form.operator_id.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.operator_id(class="form-control select2") }}
			</div>
		</div>

		<div class="form-group">
			{{ form.type.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.type(class="form-control select2") }}
			</div>
		</div>
		
		<div class="form-group required">
			{{ form.distribute_mode.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.distribute_mode(id="distribute_mode", class="radio-inline-group") }}
				<span class="help-block">
					<i class="fa fa-info-circle"></i> 全品模式为上架所有商品，授权模式为仅可上架部分授权商品
				</span>
			</div>
		</div>
		
		<div class="form-group">
			{{ form.is_private_stock.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				<div class="checkbox">
					<label>
						{{ form.is_private_stock() }} 是
					</label>
				</div>
				<span class="help-block">
					<i class="fa fa-info-circle"></i> 此项适用于多门店之间共享库存，并且每个门店内又设置私有库存。
				</span>
			</div>
		</div>
		
		<div class="form-group">
			{{ form.description.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.description(class="form-control") }}
			</div>
		</div>

		<div class="form-group">
			{{ form.status.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.status(class="radio-inline-group") }}
			</div>
		</div>

	</form>
</div>
{% endblock %}