{% extends pjax("layout/base.html") %}

{% block mainbar %}
<div class="form-page">
	<div class="page-header">
		{{ _('Distribute Products') }}

		<span class="pull-right">
			<button type="submit" form="ability-form" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('main.show_stores') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</div>

    <div class="well m-t-20">
        {{ _('Store') }}: <b>{{ store.name }}</b>
        <a href="{{ url_for('main.ajax_product_for_group', id=product_group.id) }}" data-modal="products-modal" class="btn btn-success m-l-30 ajax-modal">
            <i class="fa fa-search-plus"></i> 选择商品
        </a>
    </div>

    <div class="table-responsive m-t-20">
        <form id="products-form" action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <input name="check_all" type="checkbox" class="check-all">
                    </th>
                    <th class="text-center">{{ _('Image') }}</th>
                    <th>{{ _('Product Info') }}</th>
                    <th>{{ _('Category') }}</th>
                    <th>{{ _('Brand') }}</th>
                    <th class="text-right">{{ _('Sale Price') }}</th>
                    <th class="text-right">{{ _('Stock') }}</th>
                    <th class="text-right">{{ _('Status') }}</th>
                    <th class="text-right">{{ _('Action') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for product in selected_products.items %}
                <tr id="product-{{ product.serial_no }}">
                    <td class="text-center">
                        <input name="selected[]" class="check-one" value="{{ product.serial_no }}" type="checkbox">
                    </td>
                    <td class="text-center">
                        <img src="{{ product.cover.view_url }}" width="60px">
                    </td>
                    <td>
                        {% if product.region_id == 1 %}
                        <span class="text-mixpus">{{ product.serial_no }}</span>
                        {% else %}
                        <span class="text-warning">{{ product.serial_no }}</span>
                        {% endif %}
                        <br>
                        {{ product.name|safe }}
                    </td>
                    <td>
                        {% for c in product.categories %}
                        <span>{{ c.name }}</span>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ product.brand.name }}
                    </td>
                    <td class="text-right">
                        {% if product.sale_price > 0 %}
                            <span class="sale-price">{{ product.sale_price|round(precision=2) }}</span>
                            <span class="price">{{ product.price|round(precision=2) }}</span>
                        {% else %}
                            <span class="sale-price">{{ product.price|round(precision=2) }}</span>
                        {% endif %}
                    </td>
					<td class="text-right {% if not product.total_stock %} danger{% endif %}{% if product.total_stock and product.total_stock < 5 %} warning{% endif %}">
						{{ product.total_stock|supress_none }}
					</td>
                    <td class="text-right">
                        <span class="indicator {{ product.status_label[2] }}">{{ product.status_label[1] }}</span>
                    </td>
                    <td class="text-right">
                        <a href="{{ url_for('main.remove_product_from_group', id=product_group.id) }}" data-sn="{{ product.serial_no }}" class="btn btn-link btn-cancel-select">
                            {{ _('Cancel Selected') }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>

    </div>
</div>
{% endblock %}