{% extends "layout/base.html" %}

{% block after_jquery %}
<script type="text/javascript">
	var submit_filter_form = function () {
		var data = $('.filter-form').serialize();

		$.post("{{ url_for('main.search_products') }}", data, function (result) {
			$('#table-refresh-box').html(result);
		}, 'html');
		return false;
	};

	$(function () {
		mixpus.init_page_layout();

		mixpus.hook_filter_search(submit_filter_form);

		mixpus.hook_dropdown_menu(submit_filter_form);

		mixpus.hook_per_page_select();

		$('a.btn-select').click(function (e) {
		    e.preventDefault();

			var product_rid = $(this).data('rid');
			$.post("{{ url_for('main.ajax_distribute_product') }}",
	            {'csrf_token': mixpus.csrf_token, 'product_rid': product_rid, 'rid': '{{ store.serial_no }}' }, function (result) {
	                if (result.success) {
	                    $('#product-' + product_rid).remove();
	                } else {
	                    return mixpus.show_error_message(result.status.message);
	                }
	            }, 'json');
		});
		
		$('a.btn-cancel-select').click(function (e) {
		    e.preventDefault();

			var product_rid = $(this).data('rid');
			$.post("{{ url_for('main.remove_product_from_store') }}",
	            {'csrf_token': mixpus.csrf_token, 'product_rid': product_rid, 'rid': '{{ store.serial_no }}' }, function (result) {
	                if (result.success) {
	                    $('#product-' + product_rid).remove();
	                } else {
	                    return mixpus.show_error_message(result.status.message);
	                }
	            }, 'json');
		});
	});
</script>
{% endblock %}

{% block submenu %}
	{% include 'stores/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<div class="page-header">
		{{ store.name }} > {{ _('Distribute Products') }}
		<span class="pull-right">
			<a href="" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Help?') }}">
				<i class="fa fa-info"></i>
			</a>
			<a href="{{ url_for('main.show_stores') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Back') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</div>
	
	<ul class="nav nav-tabs">
		<li {% if tab == 'selected' %}class="active"{% endif %}>
			<a href="{{ url_for('main.store_distribute_products') }}?rid={{ store.serial_no }}" aria-controls="selected" aria-expanded="true">
				已选定
			</a>
		</li>
		<li {% if tab == 'all' %}class="active"{% endif %}>
			<a href="{{ url_for('main.store_distribute_products') }}?rid={{ store.serial_no }}&tab=all" aria-controls="all-products">
				全部商品
			</a>
		</li>
	</ul>
	
	<form class="form form-inline m-t-20" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

		<div class="form-group">
			<input type="text" name="qk" size="60" class="form-control searcher" placeholder="{{ _('Search sku or name...') }}" >
		</div>
        <div class="form-group">
            <div class="dropdown">
                <input type="hidden" name="cid">
                <button class="btn btn-default dropdown-toggle" id="filter-cid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ _('Category') }}: <b>{{ _('All') }}</b>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-select-menu" data-target="cid" aria-labelledby="filter-cid">
                    <li class="dropdown-header">{{ _('Search Brand')}}</li>
                    <li class="divider" role="separator"></li>
                    <li>
                        <a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
                    </li>
                    {% for c in categories %}
                    <li>
                        <a href="javascript:void(0);" data-id="{{ c.id }}" class="option">{{ c.name|safe }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <input type="hidden" name="bid">
                <button class="btn btn-default dropdown-toggle" id="filter-bid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ _('Brand') }}: <b>{{ _('All') }}</b>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-select-menu" data-target="bid" aria-labelledby="filter-bid">
                    <li class="dropdown-header">{{ _('Search Brand')}}</li>
                    <li class="divider" role="separator"></li>
                    <li>
                        <a href="javascript:void(0);" data-id="0" class="option">{{ _('All') }}</a>
                    </li>
                    {% for r in brands %}
                    <li>
                        <a href="javascript:void(0);" data-id="{{ r.id }}" class="option">{{ r.name|safe }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
	</form>
		
	<div id="table-refresh-box" class="m-t-20">
	    <div class="table-responsive">
			<form id="products-form" action="" method="post">
	            <table class="table table-bordered table-striped">
	                <thead>
		                <tr>
		                    <th class="text-center">
		                        <input name="check_all" type="checkbox" class="check-all">
		                    </th>
		                    <th class="text-center">{{ _('Image') }}</th>
		                    <th>{{ _('Product Info') }}</th>
		                    <th>{{ _('Category') }}/{{ _('Brand') }}</th>
		                    <th class="text-right">{{ _('Price') }}</th>
		                    <th class="text-right">{{ _('Total Stock') }}</th>
		                    <th class="text-right">{{ _('Status') }}</th>
							{% if tab == 'selected' %}
							<th>扩展数据</th>
							{% endif %}
		                    <th class="text-right">{{ _('Action') }}</th>
		                </tr>
	                </thead>
	                <tbody>
						{% if tab == 'all' %}
			                {% for product in paginated_products.items %}
			                <tr id="product-{{ product.serial_no }}">
			                    <td class="text-center">
			                        <input name="selected[]" class="check-one" value="{{ product.serial_no }}" type="checkbox">
			                    </td>
			                    <td class="text-center">
			                        <img src="{{ product.cover.view_url }}" width="60px">
			                    </td>
			                    <td>
			                        <span class="text-mixpus">{{ product.serial_no }}</span>
			                        <br>
			                        {{ product.name|safe }}
			                    </td>
			                    <td>
			                        {% for c in product.categories %}
			                        <span>{{ c.name }}</span>{% if not loop.last %},{% endif %}
			                        {% endfor %}
									<br>
									{{ product.brand.name }}
			                    </td>
			                    <td class="text-right">
			                        {% if product.sale_price > 0 %}
			                            <span class="sale-price">{{ product.sale_price|round(precision=2) }}</span>
			                            <span class="price">{{ product.price|round(precision=2) }}</span>
			                        {% else %}
			                            <span class="sale-price">{{ product.price|round(precision=2) }}</span>
			                        {% endif %}
			                    </td>
								<td class="text-right {% if not product.total_stock %} danger{% endif %}{% if product.total_stock and product.total_stock < 5 %} warning{% endif %}">
									{{ product.total_stock|supress_none }}
								</td>
			                    <td class="text-right">
			                        <span class="indicator {{ product.status_label[2] }}">{{ product.status_label[1] }}</span>
			                    </td>
			                    <td class="text-right">
			                        <a href="{{ url_for('main.ajax_distribute_product') }}" data-rid="{{ product.serial_no }}" class="btn-link btn-select">
			                            <i class="fa fa-plus"></i> {{ _('Selected') }}
			                        </a>
			                    </td>
			                </tr>
			                {% endfor %}
						{% endif %}
						
						{% if tab == 'selected' %}
			                {% for product in distributed_products.items %}
			                <tr id="product-{{ product.serial_no }}">
			                    <td class="text-center">
			                        <input name="selected[]" class="check-one" value="{{ product.serial_no }}" type="checkbox">
			                    </td>
			                    <td class="text-center">
			                        <img src="{{ product.cover.view_url }}" width="60px">
			                    </td>
			                    <td>
			                        <span class="text-mixpus">{{ product.serial_no }}</span>
			                        <br>
			                        {{ product.name|safe }}
			                    </td>
			                    <td>
			                        {% for c in product.categories %}
			                        <span>{{ c.name }}</span>{% if not loop.last %},{% endif %}
			                        {% endfor %}
									<br>
									{{ product.brand.name }}
			                    </td>
			                    <td class="text-right">
			                        {% if product.sale_price > 0 %}
			                            <span class="sale-price">{{ product.sale_price|round(precision=2) }}</span>
			                            <span class="price">{{ product.price|round(precision=2) }}</span>
			                        {% else %}
			                            <span class="sale-price">{{ product.price|round(precision=2) }}</span>
			                        {% endif %}
			                    </td>
								<td class="text-right {% if not product.total_stock %} danger{% endif %}{% if product.total_stock and product.total_stock < 5 %} warning{% endif %}">
									{{ product.total_stock|supress_none(0) }}
								</td>
			                    <td class="text-right">
			                        <span class="indicator {{ product.status_label[2] }}">{{ product.status_label[1] }}</span>
			                    </td>
								<td>
									{% for extra in product.extra_data %}
										<div class="extra-data m-b-10">
											<span>规格/颜色：<span class="text-mixpus">{{ extra.mode }}</span></span>
					                        <p class="sale-price">
												{% if extra.sale_price > 0 %}
												<span class="m-r-10">促销价：{{ extra.sale_price|round(precision=2) }}</span>
												{% endif %}
												{% if extra.price > 0 %}
												<span class="m-r-10">零售价：{{ extra.price|round(precision=2) }}</span>
												{% endif %}
												{% if store.is_private_stock %}
												<span class="text-danger m-r-10">店铺库存：{{ extra.private_stock }}</span>
												{% endif %}
											</p>
										</div>
									{% endfor %}
								</td>
			                    <td class="text-right">
									<p>
				                        <a href="{{ url_for('main.remove_product_from_store') }}" data-rid="{{ product.serial_no }}" class="btn-link btn-cancel-select">
				                            <i class="fa fa-remove"></i> {{ _('Cancel Selected') }}
				                        </a>
									</p>
									<p>
				                        <a href="{{ url_for('main.ajax_distribute_price') }}?rid={{ store.serial_no}}&product_rid={{ product.serial_no }}" class="btn-link ajax-modal" data-modal="distribute-modal">
				                            更新价格
				                        </a>
				                        <a href="{{ url_for('main.ajax_distribute_stock') }}?rid={{ store.serial_no}}&product_rid={{ product.serial_no }}" class="btn-link ajax-modal m-l-10" data-modal="distribute-modal">
				                            配置库存
				                        </a>
									</p>
			                    </td>
			                </tr>
			                {% endfor %}
						{% endif %}
					</tbody>
	            </table>
			</form>
	    </div>
		
		{% import "block/_macros.html" as macros %}
		
		{% if tab == 'all' %}
		{{ macros.pagination_widget(paginated_products, '.store_distribute_products', rid=store.serial_no, cid=cid, qk=qk, bid=bid, tab=tab) }}
		{% else %}
		{{ macros.pagination_widget(distributed_products, '.store_distribute_products', rid=store.serial_no, cid=cid, qk=qk, bid=bid, tab=tab) }}
		{% endif %}
	</div>
	
</div>
{% endblock %}