{% extends pjax("layout/base.html") %}

{% block mainbar %}
	<h2 class="page-header">
		{{ _('Channel List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_store') }}" data-toggle="tooltip" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="stores-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

	<div class="table-responsive">
		<form id="stores-form" action="{{ url_for('main.delete_store') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

			<table class="table table-bordered table-striped table-hover">
				<thead>
				<tr>
					<th class="text-center">
						<input name="check_all" type="checkbox" class="check-all">
					</th>
					<th>{{ _('Channel Name') }}</th>
					<th>{{ _('Type') }}</th>
					<th>{{ _('Platform') }}</th>
					<th class="text-center">{{ _('Manager') }}</th>
					<th class="text-right">{{ _('Status') }}</th>
					<th class="text-right">{{ _('Action') }}</th>
				</tr>
				</thead>
				<tbody>
				{% for store in paginated_stores.items %}
				<tr>
					<td class="text-center">
						<input name="selected[]" class="check-one" value="{{ store.id }}" type="checkbox">
					</td>
					<td>
						{{ store.name }}
					</td>
					<td>
						{{ store.type_label[1] }}
					</td>
					<td>
						{{ store.platform_name }}
					</td>
					<td class="text-center">
						{{ store.operator.username }}
					</td>
					<td class="text-right">
						<span class="indicator {{ store.status_label[2] }}">{{ store.status_label[1] }}</span>
					</td>
					<td class="text-right">
						<div class="dropdown">
							<button class="btn-link dropdown-toggle" type="button" id="more-{{ store.id }}-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								{{ _('More') }}
							</button>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="more-{{ store.id }}-actions">
								<li><a href="{{ url_for('main.edit_store', id=store.id) }}" class="pjax">{{ _('Edit') }}</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</form>
	</div>

{% endblock %}