{% extends pjax("layout/base.html") %}

{% block mainbar %}
	<h2 class="page-header">
		{{ _('Channel List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_store') }}" data-toggle="tooltip" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="stores-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</span>
	</h2>

    <div class="table-list">
        <div class="row">

            {% for store in paginated_stores.items %}
                <div class="col-md-4">
                    <div class="card">
                        <h3 class="title">{{ store.name }}</h3>
                        <p class="summary">
                            {{ store.type_label[1] }}-{{ store.platform_name }}
                        </p>
                        <p>
                            {{ store.operator.username }}
                        </p>
                        <p>
                            <span class="indicator {{ store.status_label[2] }}">{{ store.status_label[1] }}</span>
                        </p>
                        <p>
                            <a href="{{ url_for('main.edit_store', id=store.id) }}" class="pjax">{{ _('Edit') }}</a>
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}