{% extends pjax("layout/base.html") %}

{% block mainbar %}
<div class="list-page">
	<div class="page-header">
		{{ _('Store List') }}
		<span class="pull-right">
			{% include 'block/_select_items.html' %}
			<a href="{{ url_for('main.create_store') }}" data-toggle="tooltip" class="pjax btn btn-mixpus" data-original-title="{{ _('Add New') }}">
				<i class="fa fa-plus"></i>
			</a>
			<button class="btn btn-danger delete-all hidden" data-form-id="stores-form" type="button" data-toggle="tooltip" data-original-title="{{ _('Delete') }}">
				<i class="fa fa-trash"></i>
			</button>
		</span>
	</div>
	
	<div class="table-responsive">
		{% if platform == 1 and paginated_stores.pages == 0 %}
		<div class="row">
			<div class="col-md-9">
		        <div class="well m-b-20">
		            <h3 class="title">开启小程序店铺</h3>
		            <p class="summary m-t-25 m-b-25">
		                一键生成小程序店铺，快速抢占10亿微信流量红利，占据社交电商高地<br>
		                助您抢鲜一步进行新零售营销。
		            </p>
		            <a href="{{ url_for('main.wxapp_authorize') }}" class="btn btn-mixpus btn-lg" target="_blank">
		                <i class="fa fa-link"></i> 开始小程序授权
		            </a>
		        </div>
			</div>
			<div class="col-md-3">
				<div class="alert alert-warning">
					<i class="fa fa-info-circle"></i> 开通小程序流程
				</div>
			</div>
		</div>
		{% else %}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">
						<input name="check_all" type="checkbox" class="check-all">
					</th>
					<th>{{ _('Platform') }}</th>
					<th>{{ _('Store Name') }}</th>
					<th>店铺编号</th>
					<th class="text-center">{{ _('Type') }}</th>
					<th class="text-center">{{ _('Distribute Products') }}</th>
					<th class="text-center">{{ _('Manager') }}</th>
					<th class="text-right">开通时间</th>
					<th class="text-right">{{ _('Status') }}</th>
					<th class="text-right">{{ _('Action') }}</th>
				</tr>
			</thead>
			<tbody>
	            {% for store in paginated_stores.items %}
				<tr {% if store.platform == 1 %}class="success"{% endif %}>
	                <td class="text-center">
	                    <input name="selected[]" class="check-one" value="{{ store.serial_no }}" type="checkbox">
	                </td>
					<td>
						{{ store.platform_name }}
					</td>
					<td>
						{{ store.name }}
					</td>
					<td>
						{{ store.serial_no }}
					</td>
					<td class="text-center">
						{{ store.type_label[1] }}
					</td>
					<td class="text-center">
						{{ store.mode_label[1] }}
					</td>
					<td class="text-center">
						{{ store.operator.username }}
					</td>
					<td class="text-right">
						{{ store.created_at|timestamp2string(format='%Y-%m-%d %H:%M') }}
					</td>
					<td class="text-right">
						<span class="indicator {{ store.status_label[2] }}">{{ store.status_label[1] }}</span>
					</td>
					{% if store.platform == 1 %}
						<td class="text-right">
							{% if store.wxapp %}
							<p>
			                    <a href="{{ url_for('main.show_orders') }}?store_id={{ store.id }}" class="btn-link" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
			                        {{ _('Related Orders') }}
			                    </a>
	                            <a href="{{ url_for('main.wxapp_setting') }}?auth_app_id={{ store.wxapp.auth_app_id }}" class="btn-link m-l-10">
	                                <i class="fa fa-gear"></i> 基本设置
	                            </a>
							</p>
							<p>
	                            <a href="{{ url_for('main.wxapp_service') }}?auth_app_id={{ store.wxapp.auth_app_id }}" class="btn btn-default">
	                                <i class="fa fa-headphones"></i> 客服配置
	                            </a>
	                            <a href="{{ url_for('main.wxapp_templates') }}?auth_app_id={{ store.wxapp.auth_app_id }}" class="btn btn-default">
									<i class="fa fa-cubes"></i> 选择模板
								</a>
	                            <a href="{{ url_for('main.wxapp_versions') }}?auth_app_id={{ store.wxapp.auth_app_id }}" class="btn btn-mixpus">
									<i class="fa fa-upload"></i> 版本管理
								</a>
							</p>
							{% else %}
			                <a href="{{ url_for('main.wxapp_authorize') }}" class="btn btn-mixpus" target="_blank">
			                    <i class="fa fa-link"></i> 开始小程序授权
			                </a>
							{% endif %}
						</td>
					{% else %}
						<td class="text-right">
							{% if store.distribute_mode == 2 %}
		                    <a href="{{ url_for('main.store_distribute_products') }}?rid={{ store.serial_no }}" class="btn-link m-l-10" data-toggle="tooltip" data-original-title="{{ _('Distribute Products') }}">
		                        {{ _('Distribute Products') }}
		                    </a>
		                    <a href="{{ url_for('main.store_distribute_products') }}?rid={{ store.serial_no }}" class="btn-link m-l-10" data-toggle="tooltip" data-original-title="调拨库存">
		                        调拨库存
		                    </a>
							{% endif %}
		                    <a href="{{ url_for('main.show_orders') }}?store_id={{ store.id }}" class="btn-link m-l-10" data-toggle="tooltip" data-original-title="{{ _('Edit') }}">
		                        {{ _('Related Orders') }}
		                    </a>
							<a href="{{ url_for('main.edit_store', id=store.id) }}" class="m-l-10 btn-link">{{ _('Edit') }}</a>
						</td>
					{% endif %}
				</tr>
	            {% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}