{% extends "layout/base.html" %}

{% block private_styles %}
<link href="/static/css/flexslider.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block private_js %}
<script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/static/js/back-to-top.js"></script>
{% endblock %}

{% block jquery %}
{#<script type="text/javascript">#}

	/* ======= Fixed header when scrolled ======= */
    $(window).on('scroll load', function() {
         if ($(window).scrollTop() > 0) {
             $('#header').addClass('scrolled');
         }
         else {
             $('#header').removeClass('scrolled');
         }
    });

    $('.bg-slider').flexslider({
        animation: "fade",
        directionNav: false,
        controlNav: false,
        slideshowSpeed: 8000
    });

	$('#testimonials-carousel').carousel({
		interval: 8000
    });

{#</script>#}
{% endblock %}

{% block header %}
<header id="header" class="header navbar-fixed-top">
	<div class="container">
		<!--//logo-->
		<h1 class="logo">
			<a href="index.html">
				<span class="text">MIXPUS</span>
			</a>
		</h1>
		<nav class="main-nav navbar-right" role="navigation">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div><!--//navbar-header-->

			<div id="navbar-collapse" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{% if active_menu == 'index'%}active{% endif %} nav-item">
						<a href="{{ url_for('main.web_index') }}">{{ _('Home') }}</a>
					</li>
					<li class="{% if active_menu == 'features'%}active{% endif %} nav-item">
						<a href="{{ url_for('main.features') }}">{{ _('Features') }}</a>
					</li>
					<li class="{% if active_menu == 'pricing'%}active{% endif %} nav-item">
						<a href="{{ url_for('main.pricing') }}">{{ _('Pricing') }}</a>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
							{{ _('Pages') }} <i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="">{{ _('Download Apps') }}</a></li>
							<li><a href="">{{ _('Blog') }}</a></li>
							<li><a href="">{{ _('About Us') }}</a></li>
							<li><a href="">{{ _('Contact') }}</a></li>
						</ul>
					</li><!--//dropdown-->
					{% if current_user.is_authenticated %}
					<li class="nav-item dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="true">
							<span class="glyphicon glyphicon-user"></span>
							{{ current_user.username }}
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('main.index') }}">{{ _('Dashboard') }}</a></li>
							<li><a href="{{ url_for('main.profile') }}">{{ _('My Account') }}</a></li>
							<li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
						</ul>
					</li>
					{% else %}
					<li class="nav-item">
						<a href="{{ url_for('auth.login') }}">{{ _('Log in') }}</a>
					</li>
					<li class="nav-item nav-item-cta last">
						<a class="btn btn-cta btn-cta-secondary" href="{{ url_for('auth.signup') }}">{{ _('Sign Up Free') }}</a>
					</li>
					{% endif %}
				</ul>
			</div><!--//navabr-collapse-->
		</nav>
	</div>
</header>
{% endblock %}


{% block content %}
{% endblock %}

{% block footer %}
<footer class="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="footer-col links col-md-2 col-sm-4 col-xs-12">
					<div class="footer-col-inner">
						<h3 class="title">About us</h3>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-caret-right"></i>Who we are</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Press</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Blog</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Jobs</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Contact us</a></li>
						</ul>
					</div><!--//footer-col-inner-->
				</div><!--//foooter-col-->
				<div class="footer-col links col-md-2 col-sm-4 col-xs-12">
					<div class="footer-col-inner">
						<h3 class="title">Product</h3>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-caret-right"></i>How it works</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>API</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Download Apps</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Pricing</a></li>
						</ul>
					</div><!--//footer-col-inner-->
				</div><!--//foooter-col-->
				<div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
					<div class="footer-col-inner">
						<h3 class="title">Support</h3>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-caret-right"></i>Help</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Documentation</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Terms of services</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i>Privacy</a></li>
						</ul>
					</div><!--//footer-col-inner-->
				</div><!--//foooter-col-->
				<div class="footer-col connect col-xs-12 col-md-6">
					<div class="footer-col-inner">
						<ul class="social list-inline">
							<li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
						<div class="form-container">
							<p class="intro">Stay up to date with the latest news and offers from Mixpus</p>
							<form class="signup-form navbar-form">
								<div class="form-group">
									<input class="form-control" placeholder="Enter your email address" type="text">
								</div>
								<button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>
							</form>
						</div><!--//subscription-form-->
					</div><!--//footer-col-inner-->
				</div><!--//foooter-col-->
				<div class="clearfix"></div>
			</div><!--//row-->
			<div class="row has-divider">
				<div class="footer-col download col-xs-12 col-md-6">
					<div class="footer-col-inner">
						<h3 class="title">Mobile apps</h3>
						<ul class="list-unstyled download-list">
							<li><a class="btn btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text">Download for iOS</span> </a></li>
							<li><a class="btn btn-ghost" href="#"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
						</ul>
					</div><!--//footer-col-inner-->
				</div><!--//download-->
				<div class="footer-col contact col-xs-12 col-md-6">
					<div class="footer-col-inner">
						<h3 class="title">Contact us</h3>
						<p class="adr clearfix">
							<i class="fa fa-map-marker pull-left"></i>
							<span class="adr-group pull-left">
								<span class="street-address">College Green</span><br>
								<span class="region">56 College Green Road</span><br>
								<span class="postal-code">BS1 XR18</span><br>
								<span class="country-name">CN</span>
							</span>
						</p>
						<p class="tel"><i class="fa fa-phone"></i>0800 123 4567</p>
						<p class="email"><i class="fa fa-envelope-o"></i><a href="#">enquires@mixpus.com</a></p>
					</div><!--//footer-col-inner-->
				</div><!--//contact-->
			</div>
		</div><!--//container-->
	</div><!--//footer-content-->
</footer>
{% endblock %}