<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
			<h4 class="modal-title">
                {% if mode == 'create' %}
                {{ _('Add Banner Spot') }}
                {% else %}
                {{ _('Edit Banner Spot') }}
                {% endif %}
            </h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="" method="post" id="create-form">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

                <div class="form-group required">
					{{ form.name.label(class="col-md-3 control-label") }}
					<div class="col-md-8">
						{{ form.name(maxlength=32, class='form-control') }}
					</div>
				</div>

				<div class="form-group">
					{{ form.width.label(class="col-md-3 control-label") }}
					<div class="col-md-8">
						{{ form.width(class='form-control', placeholder='px') }}
					</div>
				</div>

				<div class="form-group">
					{{ form.height.label(class="col-md-3 control-label") }}
					<div class="col-md-8">
						{{ form.height(class='form-control', placeholder='px') }}
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
			<button type="button" id="create-submit-btn" class="btn btn-mixpus">{{ _('Submit') }}</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript"><!--
	$('#create-submit-btn').click(function (e) {
		var $form=$('#create-form'), data = $form.serialize(), $btn=$('#create-submit-btn');

		$.ajax({
			url: "{{ post_url }}",
			type: 'post',
			data: data,
			dataType: 'json',
			beforeSend: function () {
				$btn.prop('disabled', true);
			},
			complete: function() {
				$btn.prop('disabled', false);
			},
			success: function (result) {
				if (result.success) {
				    location.reload();
				} else {
					$form.prepend(mixpus.display_alert(result.status.message))
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
//-->
</script>