{% extends pjax("layout/base.html") %}

{% block sidebar %}
	{% include 'settings/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		$('#toggle-app-secret').click(function () {
		    var $el = $('b.app-secret'), $btn = $(this);
		    if ($el.hasClass('hide')) {
		        $el.removeClass('hide');
		        $btn.text("{{ _('Hide') }}");
			} else {
		        $el.addClass('hide');
		        $btn.text("{{ _('Show') }}");
			}
		});


	});
</script>
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<h2 class="page-header">
		{{ _('App Info') }}

		<span class="pull-right">
			<button type="submit" form="client-form" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="glyphicon glyphicon-floppy-save"></i>
			</button>
			<a href="{{ url_for('main.show_clients') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="glyphicon glyphicon-share-alt"></i>
			</a>
		</span>
	</h2>

	<div class="row">
		<div class="col-md-12">

			<form id="client-form" class="form-horizontal" action="" method="post">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

				<ul class="nav nav-tabs" id="app-tabs" role="tablist">
					<li class="active" role="presentation">
						<a href="#general" id="general-tab" role="tab" data-toggle="tab" aria-controls="general" aria-expanded="true">General</a>
					</li>
					<li role="presentation">
						<a href="#certificate" role="tab" id="certificate-tab" data-toggle="tab" aria-controls="certificate" aria-expanded="false">Certificate</a>
					</li>
					<li role="presentation">
						<a href="#authority" role="tab" id="authority-tab" data-toggle="tab" aria-controls="authority" aria-expanded="false">API Authority</a>
					</li>
					<li role="presentation">
						<a href="#whitelist" role="tab" id="whitelist-tab" data-toggle="tab" aria-controls="whitelist" aria-expanded="false">IP White List</a>
					</li>
					<li role="presentation">
						<a href="#statistics" role="tab" id="statistics-tab" data-toggle="tab" aria-controls="statistics" aria-expanded="false">Statistics
</a>
					</li>
				</ul>


				<div class="tab-content m-t-30">
					<div id="general" class="active tab-pane col-md-9 fade in" role="tabpanel" aria-labelledby="general-tab">
						<div class="form-group required">
							<label class="col-md-3 control-label">{{ _('App Key') }}</label>
							<div class="col-md-9 form-control-static">
								<b class="text-mixpus">{{ client.app_key }}</b>
							</div>
						</div>

						<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
							{{ form.name.label(class="col-md-3 control-label") }}
							<div class="col-md-9">
								{{ form.name(maxlength=32, class='form-control') }}

								{% for error in form.errors.name %}
								<span class="help-block">{{ error }}</span><br>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							{{ form.limit_times.label(class="col-md-3 control-label") }}
							<div class="col-md-9">
								{{ form.limit_times(class='form-control') }}
							</div>
						</div>

						<div class="form-group required">
							{{ form.receive_url.label(class="col-md-3 control-label") }}
							<div class="col-md-9">
								{{ form.receive_url(class='form-control') }}
							</div>
						</div>

						<div class="form-group">
							{{ form.remark.label(class="col-md-3 control-label") }}
							<div class="col-md-9">
								{{ form.remark(class='form-control') }}
							</div>
						</div>
					</div>

					<div id="certificate" class="tab-pane fade in" role="tabpanel" aria-labelledby="certificate-tab">
						<div class="form-group">
							<label class="col-md-3 control-label">{{ _('App Key') }}</label>
							<div class="col-md-9 form-control-static">
								<b class="text-mixpus">{{ client.app_key }}</b>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ _('App Secret') }}</label>
							<div class="col-md-9">
								<b class="text-danger app-secret hide">{{ client.app_secret }}</b>
								<button class="btn btn-default" id="toggle-app-secret" type="button">{{ _('Show') }}</button>
								<button class="btn btn-mixpus disabled" type="button">{{ _('Copy') }}</button>
								<button class="btn btn-warning" type="button">{{ _('Reset') }}</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ _('Certificate Flow') }}</label>
							<div class="col-md-9 form-control-static">
								{{ client.limit_times }} {{ _('Times') }} / {{ _('Day') }}
							</div>
						</div>
					</div>

					<div id="authority" class="tab-pane fade in" role="tabpanel" aria-labelledby="authority-tab">

					</div>

					<div id="whitelist" class="tab-pane fade in" role="tabpanel" aria-labelledby="whitelist-tab">

					</div>

					<div id="statistics" class="tab-pane fade in" role="tabpanel" aria-labelledby="statistics-tab">

					</div>
				</div>

			</form>
		</div>
	</div>

</div>
{% endblock %}