{% extends pjax("layout/admin.html") %}

{% block sidebar %}
	{% include 'adminlte/places/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<div class="page-header">
		<span>
			{% if mode == 'create' %}
				{{ _('Add Country') }}
			{% else %}
				{{ _('Edit Country') }}
			{% endif %}
		</span>
		<div class="pull-right">
			<button type="submit" form="form-country" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('adminlte.show_countries') }}" class="btn btn-icon btn-default pjax" data-toggle="tooltip" data-original-title="{{ _('Cancel') }}">
				<i class="fa fa-reply"></i>
			</a>
		</div>
	</div>

	<form class="form-horizontal" role="form" method="post" id="form-country" action="">
		{{ form.hidden_tag() }}

		<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
			{{ form.name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.name(maxlength=64, class='form-control') }}

				{% for error in form.errors.name %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>
        <div class="form-group">
			{{ form.en_name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.en_name(maxlength=64, class='form-control') }}
			</div>
		</div>

		<div class="form-group required {% if form.errors.code %} has-error{% endif %}">
			{{ form.code.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.code(class='form-control') }}
				{% for error in form.errors.code %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			{{ form.code2.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.code2(class='form-control') }}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-2 text-right">
				{{ form.status.label(class="control-label") }}
				<small data-toggle="tooltip" data-original-title="在国家下拉项中隐藏/显示">
					<i class="fa fa-question-circle"></i>
				</small>
			</div>
			<div class="col-sm-6">
				{{ form.status(class='radio-inline-group') }}
			</div>
		</div>
	</form>
</div>
{% endblock %}