<div class="list-group">
	<div class="list-group-header">
		{{ _('Information Aggregation') }}
	</div>
	<a href="#" class="list-group-item {% if sub_menu == 'stats'%} active{% endif %}">
		{{ _('All Aggregation') }}
	</a>

	<div class="list-group-header">
		{{ _('Product Statistics') }}
	</div>
	<a href="#" class="list-group-item">
		{{ _('New Products') }}
	</a>
	<a href="#" class="list-group-item">
		{{ _('Sales Statistics') }}
	</a>

	<div class="list-group-header">
		{{ _('Order Analytics') }}
	</div>
	<a href="#" class="list-group-item">
		{{ _('Performance Collection') }}
	</a>
	<a href="#" class="list-group-item">
		{{ _('Customer Distribution') }}
	</a>

	<div class="list-group-header">
		{{ _('Operation Statistics') }}
	</div>
	<a href="#" class="list-group-item">
		{{ _('Profit Calculation') }}
	</a>
	<a href="#" class="list-group-item">
		{{ _('Logistics Statistic') }}
	</a>
</div>