<div class="treeview-menu tree-2x">
     <ul class="subtree">
         <li class="header">{{ _('Sales Report') }}</li>
         <li>
             <a href="{{ url_for('main.stats') }}" class="{% if sub_menu == 'stats' %}active{% endif %}">
                 {{ _('Aggregate Analysis') }}
             </a>
         </li>
         <li>
             <a href="{{url_for('main.sales_statistic')}}" class="{% if sub_menu == 'sales' %}active{% endif %}">
                 {{ _('Sales Report') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Products Report') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Brands Report') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Category Report') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Customer Report') }}
             </a>
         </li>
     </ul>
     <ul class="subtree">
         <li class="header">{{ _('Stock Report') }}</li>
         <li>
             <a href="" class="pjax">
                 {{ _('In-Out Report') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Shipments Stats') }}
             </a>
         </li>
         <li>
             <a href="" class="pjax">
                 {{ _('Supplier Stats') }}
             </a>
         </li>
     </ul>
 </div>