{% extends "layout/base.html" %}

{% block sidebar %}
	{% include 'stats/_sub_menu.html' %}
{% endblock %}

{% block private_js %}
<!-- 引入 ECharts 文件 -->
<script src="{{ url_for('static', filename='js/echarts.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block jquery %}
{#<script type="text/javascript">#}
	// 基于准备好的dom，初始化echarts实例
	var store_product_sales = echarts.init(document.getElementById('store-product-sales'));

	// 指定图表的配置项和数据
	var option = {
		color: ['#3398DB'],
		title: {
			text: '{{ _("Store Sales Top10") }}',
			subtext: ''
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		tooltip: {
			trigger: 'axis',
        	axisPointer: {
            type: 'shadow'
        	}
		},
		legend: {
			data:['销售金额']
		},
		xAxis: {
			
		},
		yAxis: {
			data: []
		},
		series: [{
			name: '销售金额',
			type: 'bar',
			data: []
		}]
	};
	store_product_sales.setOption(option);

	(function (){
		var store_id = $(".store-id").eq(0).attr('value');
		loadOption(store_id)
	}());

	function loadOption(stroe_id){
		$.post("{{ url_for('main.store_sku_top') }}",{'store_id':stroe_id, 'csrf_token': mixpus.csrf_token}, function(e){
			if(e.status.code == 200){
				var sku_data = [];
				var income_data = [];
				for (var key = 0; key < e.data.length; key++){
					sku_data.unshift(e.data[key].sku_serial_no);
					income_data.unshift(e.data[key].income);
				}

				option.yAxis.data = sku_data;
				option.series[0].data = income_data;
				store_product_sales.setOption({
					yAxis: {
						data: sku_data
					},
					series: [{
						type: 'bar',
						data: income_data
					}]
				});
			}
		},'json');
	}

	$(".store-id").click(function(){
		var store_id = $(this).attr('value');
		loadOption(store_id)
	});
	

{#</script>#}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Stat charts') }}
		<span class="pull-right">
			<button class="btn btn-default" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Refresh') }}">
				<i class="glyphicon glyphicon-refresh"></i>
			</button>
		</span>
	</h2>

	<div class="row">
		<div class="col-md-12">
			<div class="card m-b-20">
				<div class="card-block">
					<h3 class="card-title">{{ _('Master Sales') }}</h3>
					<div class="col-md-3">{{_('Sales revenue')}}：{{ master_statistics.income or '--' }}</div>
					<div class="col-md-3">{{_('Sales year on year')}}：{{ master_statistics.income_yoy or '--' }}%</div>
					<div class="col-md-3">{{_('Profit')}}：{{master_statistics.profit or '--'}}</div>
					<div class="col-md-3">{{_('Profit year on year')}}：{{ master_statistics.profit_yoy or '--' }}%</div>
				</div>
			</div>

			<div class="card m-b-20">
				<div class="card-block">
					<h3 class="card-title">{{ _('Store Sales') }}</h3>
					<table class="table table-hover">
					<th>
						<td>Store Name</td>
						<td>Revenue</td>
						<td>Revenue year on year</td>
						<td>Revenue ring</td>
						<td>Profit</td>
						<td>Profit year on year</td>
						<td>Profit ring</td>
					</th>
					{% for store in store_statistics %}
					<tr class="store-id" value="{{store.store_id}}">
						<td></td>
						<td>{{ store.store.name }}</td>
						<td>{{store.income}}</td>
						<td>{{store.income_yoy or '--'}}%</td>
						<td>{{store.income_mom or '--'}}%</td>
						<td>{{store.profit}}</td>
						<td>{{store.profit_yoy or '--'}}%</td>
						<td>{{store.profit_mom or '--'}}%</td>
					</tr>
					{% endfor %}
					</table>
					
				</div>
			</div>

			<div class="card m-b-20">
				<div class="card-block">
					<div id="store-product-sales" style="width: 800px;height:400px;"></div>
				</div>
			</div>

			<div class="card m-b-20">
				<div class="card-block">
					<h3 class="card-title">{{ _('Sales Analytics') }}</h3>


				</div>
			</div>

		</div>
	</div>

</div>
{% endblock %}