{% extends "layout/base.html" %}

{% block private_js %}
<!-- 引入 ECharts 文件 -->
<script src="{{ url_for('static', filename='js/echarts.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	function masterSalesLoadOption(start_time, end_time) {
		$.get("{{ url_for('main.sales_master') }}", { 'start_time':start_time, 'end_time':end_time, 'csrf_token': mixpus.csrf_token }, function(res) {
			if (res.success) {
				var time = res.data.time
                var income = res.data.income
				master_sales.setOption({
					xAxis: {
						data: time
					},
					series: [{
						type: 'line',
						data: income
					}]
				});
			}
		},'json');
	}
	
    function storeSalesLoadOption(start_time, end_time) {
        $.get("{{ url_for('main.sales_store') }}", { 'start_time':start_time, 'end_time':end_time, 'csrf_token': mixpus.csrf_token }, function(res) {
			if (res.success) {
				var data = res.data;
                var legend = [];
                var xdata = [];
                var ydata = [];
                for(key in data){
                    legend.push(key)
                    if(xdata.length == 0){
                        xdata = data[key]['time'];
                    }
                    ydata.push({
                        name: key,
                        type:'line',
                        data: data[key]['income']
                    })  
                }

				store_sales.setOption({
                    legend: {
                        data:legend
                    },
					xAxis: {
						data: xdata
					},
					series: ydata
				});
			}
		},'json');
    }
	
    function supplierSalesLoadOption(start_time, end_time) {
        $.get("{{ url_for('main.sales_supplier') }}", { 'start_time':start_time, 'end_time':end_time, 'csrf_token': mixpus.csrf_token }, function(res) {
			if (res.success) {
				var data = res.data;
                var legend = [];
                var xdata = [];
                var ydata = [];
                for(key in data){
                    legend.push(key)
                    if(xdata.length == 0){
                        xdata = data[key]['time'];
                    }
                    ydata.push({
                        name: key,
                        type:'line',
                        data: data[key]['income']
                    })  
                }

				supplier_sales.setOption({
                    legend: {
                        data:legend
                    },
					xAxis: {
						data: xdata
					},
					series: ydata
				});
			}
		},'json');
    }
	
	// 基于准备好的dom，初始化echarts实例
	var master_sales = echarts.init(document.getElementById('master-sales'));
	var store_sales = echarts.init(document.getElementById('store-sales'));
	var supplier_sales = echarts.init(document.getElementById('supplier-sales'));
	
	$(function () {
		mixpus.init_page_layout();
		
	    $(".datetimeStart").datetimepicker({
	        format: 'yyyy-mm-dd',
	        minView:'month',
	        language: 'zh-CN',
	        autoclose:true,
	    }).on("click",function(){
	        $(".datetimeStart").datetimepicker("setEndDate", $(".datetimeEnd").val())
	    });
		
	    $(".datetimeEnd").datetimepicker({
	        format: 'yyyy-mm-dd',
	        minView:'month',
	        language: 'zh-CN',
	        autoclose:true,
	        todayBtn: true,
	        endDate:new Date()
	    }).on("click",function(){
	        $(".datetimeEnd").datetimepicker("setStartDate", $(".datetimeStart").val())
	    });
		
		// 指定图表的配置项和数据
	    var master_sales_option = {
	        title: {
	            text: '{{ _("Master Sales") }}',
	            subtext: ''
	        },
	        grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
	        legend: {
				data:['{{ _("income") }}']
			},
	        tooltip: {
				trigger: 'axis',
			},
	        xAxis:  {
	            data: []
	        },
	        yAxis: {
	            name: '{{ _("income") }}'
	        },
	        series: [
	            {
	                name:'{{ _("income") }}',
	                type:'line',
	                data:[],
	            },
	        ]
	    };
		
		master_sales.setOption(master_sales_option);
		
	    sales_store_option = {
	        title: {
	            text: '{{ _("Store Sales") }}'
	        },
	        tooltip: {
	            trigger: 'axis'
	        },
	        legend: {
	            data:[]
	        },
	        grid: {
	            left: '3%',
	            right: '4%',
	            bottom: '3%',
	            containLabel: true
	        },
        
	        xAxis: {
	            type: 'category',
	            boundaryGap: false,
	            data: []
	        },
	        yAxis: {
	            type: 'value'
	        },
	        series: [
	            {
	                type:'line',
	            },
	        ]
	    };
	    store_sales.setOption(sales_store_option);
		
	    sales_supplier_option = {
	        title: {
	            text: '{{ _("Supplier Sales") }}'
	        },
	        tooltip: {
	            trigger: 'axis'
	        },
	        legend: {
	            data:[]
	        },
	        grid: {
	            left: '3%',
	            right: '4%',
	            bottom: '3%',
	            containLabel: true
	        },
        
	        xAxis: {
	            type: 'category',
	            boundaryGap: false,
	            data: []
	        },
	        yAxis: {
	            type: 'value'
	        },
	        series: [
	            {
	                type:'line',
	            },
	        ]
	    };
	    supplier_sales.setOption(sales_supplier_option);
		
		$("#master-sales-submit").click(function() {
			var start_time = $("#master-sales-start-time").val();
	        var end_time = $("#master-sales-end-time").val();
	        console.log(start_time, end_time);
			masterSalesLoadOption(start_time, end_time);
		});

	    $("#store-sales-submit").click(function() {
			var start_time = $("#store-sales-start-time").val();
	        var end_time = $("#store-sales-end-time").val();
	        console.log(start_time, end_time);
			storeSalesLoadOption(start_time, end_time);
		});

	    $("#supplier-sales-submit").click(function() {
			var start_time = $("#supplier-sales-start-time").val();
	        var end_time = $("#supplier-sales-end-time").val();
	        console.log(start_time, end_time);
			supplierSalesLoadOption(start_time, end_time);
		});
		
		// 初始化
		masterSalesLoadOption(null, null);
        storeSalesLoadOption(null, null);
        supplierSalesLoadOption(null, null);
	});	
</script>
{% endblock %}

{% block submenu %}
	{% include 'stats/_sub_menu.html' %}
{% endblock %}

{% block mainbar %}
<div class="list-page">
	<h2 class="page-header">
		{{ _('Sales charts') }}
		<span class="pull-right">
			<button class="btn btn-default" type="button" data-toggle="tooltip" title="" data-original-title="{{ _('Refresh') }}">
				<i class="glyphicon glyphicon-refresh"></i>
			</button>
		</span>
	</h2>

	<div class="row">
		<div class="col-md-9">
			<div class="card-block m-b-30">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <form class="form form-inline">
                            <div class="form-group">
                                <input type="text" id="master-sales-start-time" readonly class="form-control datetimeStart" placeholder="开始日期">
                            </div>
                            <div class="form-group">
                                <input type="text" id="master-sales-end-time" readonly class="form-control datetimeEnd" placeholder="结束日期">
                            </div>
                            <button type="button" id="master-sales-submit" class="btn btn-default">{{ _('Submit') }}</button>
                        </form>
                    </div>
                </div>
                <div id="master-sales" style="width:100%;height:500px;"></div>
			</div>
			

			<div class="card-block m-b-30">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" id="store-sales-start-time" readonly class="form-control datetimeStart" placeholder="开始日期">
                            </div>
                            <div class="form-group">
                                <input type="text" id="store-sales-end-time" readonly class="form-control datetimeEnd" placeholder="结束日期">
                            </div>
                            <button type="button" id="store-sales-submit" class="btn btn-default">{{ _('Submit') }}</button>
                        </form>
                    </div>
                </div>
                <div id="store-sales" style="width:100%;height:500px;"></div>
			</div>

			<div class="card-block m-b-30">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" id="supplier-sales-start-time" readonly class="form-control datetimeStart" placeholder="开始日期">
                            </div>
                            <div class="form-group">
                                <input type="text" id="supplier-sales-end-time" readonly class="form-control datetimeEnd" placeholder="结束日期">
                            </div>
                            <button type="button" id="supplier-sales-submit" class="btn btn-default">{{ _('Submit') }}</button>
                        </form>
                    </div>
                </div>
                <div id="supplier-sales" style="width:100%;height:500px;"></div>
			</div>

		</div>
	</div>

</div>
{% endblock %}