<div class="list-group">
	<div class="list-group-header">
		{{ _('Privilege manage') }}
	</div>
	<a href="{{ url_for('main.show_users') }}" class="list-group-item {% if sub_menu == 'users'%} active{% endif %}">
		{{ _('User List') }}
	</a>
	<a href="{{ url_for('main.show_roles') }}" class="list-group-item {% if sub_menu == 'roles'%} active{% endif %}">
		{{ _('Role List') }}
	</a>
	<a href="{{ url_for('main.show_abilities') }}" class="list-group-item {% if sub_menu == 'abilities'%} active{% endif %}">
		{{ _('Ability List') }}
	</a>
</div>