<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">{{ _('Reset Password') }}</h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="" method="post" id="password-form">
				{{ form.hidden_tag() }}

				<div class="form-group">
					<label class="col-sm-3 control-label">{{ _('Username') }}</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ user.email }} ({{ user.username }})</p>
					</div>
				</div>

				<div class="form-group">
					{{ form.password.label(class="col-sm-3 control-label text-right") }}
					<div class="col-sm-8">
						{{ form.password(class="form-control") }}
					</div>
				</div>

				<div class="form-group">
					{{ form.password2.label(class="col-sm-3 control-label text-right") }}
					<div class="col-sm-8">
						{{ form.password2(class="form-control") }}
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
			<button type="button" id="password-submit-btn" class="btn btn-primary">{{ _('Save changes') }}</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript"><!--
	var data = {};

	$('#password-submit-btn').click(function (e) {
		var $btn = $(this), $form = $('#password-form');
		data = $form.serialize();

		$.ajax({
			url: "{{ url_for('main.reset_passwd', uid=user.id) }}",
			type: 'post',
			data: data,
			dataType: 'json',
			beforeSend: function () {
				$btn.prop('disabled', true);
			},
			complete: function() {
				$btn.prop('disabled', false);
			},
			success: function (result) {
				if (result.success) {
					$('#password-modal').modal('hide');
				} else {
					for (var k in result.data) {
						$form.prepend(display_alert(result.data[k]))
					}
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
//-->
</script>