{% extends "layout/base.html" %}

{% block private_js %}
<!-- 引入 ECharts 文件 -->
<script src="{{ url_for('static', filename='js/echarts.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block jquery %}
{#<script type="text/javascript">#}
	// 基于准备好的dom，初始化echarts实例
	var world_map_chart = echarts.init(document.getElementById('world-map'));

	// 指定图表的配置项和数据
	var option = {
		title: {
			text: 'Order for the last 30 days'
		},
		tooltip: {},
		legend: {
			data:['销量']
		},
		xAxis: {
			data: ["消费电子",'智能产品', '家居', '厨房', "衬衫", "羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
		},
		yAxis: {},
		series: [{
			name: '销量',
			type: 'bar',
			data: [5, 20, 24, 18, 50, 34, 36, 10, 5, 20, 24, 18, 50, 18, 50, 34, 36, 10, 34, 36, 10, 10, 20, 18, 50, 34, 36, 10, 10, 20]
		}]
	};

	// 使用刚指定的配置项和数据显示图表。
	world_map_chart.setOption(option);

{#</script>#}
{% endblock %}

{% block sidebar %}
<div class="list-group">
	<div class="list-group-header">
		{{ _('Dashboard') }}
	</div>
	<a href="#" class="list-group-item active">
		{{ _('Account') }}
		<span class="badge">14</span>
	</a>
	<a href="#" class="list-group-item">
		{{ _('Tasks') }}
	</a>
	<a href="#" class="list-group-item">
		{{ _('Helpers') }}
	</a>
	<a href="#" class="list-group-item">
		{{ _('Logs') }}
	</a>
</div>
{% endblock %}

{% block mainbar %}
<div class="page-list">
	<h2 class="page-header">{{ _('Dashboard') }}</h2>
	<h3 class="sub-header">{{ _('World Map') }}</h3>
	<div id="world-map" style="width: 1000px;height:400px;">

	</div>
	<h3 class="sub-header">{{ _('Sales Analytics') }}</h3>

	<div class="row">
		<div class="col-md-12">
			<h3 class="sub-header">{{ _('Latest Orders') }}</h3>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>{{ _('Order ID') }}</th>
							<th>{{ _('Status') }}</th>
							<th class="text-center">{{ _('Customer') }}</th>
							<th class="text-right">{{ _('Date Added') }}</th>
							<th class="text-right">{{ _('Total Amount') }}</th>
							<th class="text-right">{{ _('Action') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for order in top_orders %}
						<tr>
							<td>{{ order.serial_no }}</td>
							<td>
								<span class="indicator {{ order.status_label[2] }}">{{ order.status_label[1] }}</span>
							</td>
							<td class="text-center">{{ order.buyer_name }}</td>
							<td class="text-right">
								{{ order.created_at|timestamp2string() }}
							</td>
							<td class="text-right">
								{{ order.total_amount }}
							</td>
							<td class="text-right">
								<a href="{{ url_for('main.preview_order', sn=order.serial_no) }}" class="btn btn-link">
									{{ _('View') }}
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}


