{% extends pjax("layout/base.html") %}

{% block submenu %}
	{% include 'products/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();
		mixpus.upload_file_manager();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<div class="page-header">
		{% if mode == 'create' %}
			{{ _('Add Brand') }}
		{% else %}
			{{ _('Edit Brand') }}
		{% endif %}

		<span class="pull-right">
			<button type="submit" form="brand-form" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="{{ _('Save') }}">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('main.show_brands') }}" class="pjax btn btn-icon btn-default" data-toggle="tooltip" data-original-title="{{ _('Back') }}">
				<i class="fa fa-reply"></i>
			</a>
		</span>
	</div>

	<form id="brand-form" class="form-horizontal" action="" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >

        <div class="form-group m-b-25 required {% if form.errors.supplier_id %} has-error{% endif %}">
            {{ form.supplier_id.label(class="col-sm-2 control-label") }}
            <div class="col-sm-6">
                <select name="supplier_id" id="supplier_id" class="form-control select2">
                    <option value="0">{{ _('Select supplier...') }}</option>
                    {% for supplier in paginated_suppliers.items %}
                    <option value="{{ supplier.id }}" {% if supplier.id == form.supplier_id.data %}selected="selected"{% endif %}>{{ supplier.short_name|safe }}</option>
                    {% endfor %}
                </select>
                {% for error in form.errors.supplier_id %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <a href="{{ url_for('main.create_supplier') }}" class="btn btn-warning">
					<i class="fa fa-plus"></i> {{ _('Add New Supplier') }}
				</a>
            </div>
        </div>

		<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
			{{ form.name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.name(id="name", class="form-control") }}
				{% for error in form.errors.name %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</div>

        <div class="form-group required">
            {{ form.logo_id.label(class="col-sm-2 control-label") }}
            <div class="col-sm-6">
                {% if mode == 'create' %}
                <a href="javascript:void(0);" id="logo_thumb_image" data-target="logo" data-toggle="image" class="img-thumbnail">
                    <img src="{{ url_for('static', filename='img/no_img100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
                </a>
                {% else %}
                <a href="javascript:void(0);" id="logo_thumb_image" data-target="logo" data-toggle="image" class="img-thumbnail">
                    <img src="{{ brand.logo.view_url|default(url_for('static', filename='img/no_img100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
                </a>
                {% endif %}
                <input id="logo_id" name="logo_id" value="{{ form.logo_id.data }}" type="hidden">
            </div>
        </div>

        <div class="form-group required">
            {{ form.banner_id.label(class="col-sm-2 control-label") }}
            <div class="col-sm-6">
                {% if mode == 'create' %}
                <a href="javascript:void(0);" id="banner_thumb_image" data-target="banner" data-toggle="image" class="img-thumbnail">
                    <img src="{{ url_for('static', filename='img/no_img100x100.png') }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
                </a>
                {% else %}
                <a href="javascript:void(0);" id="banner_thumb_image" data-target="banner" data-toggle="image" class="img-thumbnail">
                    <img src="{{ brand.banner.view_url|default(url_for('static', filename='img/no_img100x100.png')) }}" width="100px" data-placeholder="{{ url_for('static', filename='img/no_img100x100.png') }}">
                </a>
                {% endif %}
                <input id="banner_id" name="banner_id" value="{{ form.banner_id.data }}" type="hidden">
            </div>
        </div>

		<div class="form-group required {% if form.errors.features %} has-error{% endif %}">
			{{ form.features.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.features(id="features", class="form-control") }}
				{% for error in form.errors.features %}
				<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			{{ form.description.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.description(id="description", class="form-control", rows="5") }}
			</div>
		</div>
		
		<div class="form-group">
			{{ form.sort_order.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.sort_order(id="sort_order", class="form-control") }}
			</div>
		</div>

        <div class="form-group m-b-25">
			{{ form.status.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.status(id="status", class="radio-inline-group") }}
			</div>
		</div>

	</form>
</div>
{% endblock %}